<style>
    .letterTemplate {
        color: #fff !important;
        max-width: 181px !important;
        margin-top: 3px;
    }



    .editor {
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }

    .template-icon {
        margin-top: 8px;
  
        color: #999 !important;
        height: 47px;
    }

    .closebtnt:hover,
    .closebtn {
        background-color: transparent !important;
        border-color: transparent !important;
    }

    .editbtn,
    .editbtn:hover {
        left: 28px;
        top: 68px;
        background-color: transparent !important;
        border-color: transparent !important;
    }

    .viewbtn,
    .viewbtn:hover {
        left: 56px;
        top: 37px;
        background-color: transparent !important;
        border-color: transparent !important;
    }

    .template-drop-down {
        z-index: 999;
        margin-top: 8px;
        padding: 6px;
        font-family: iranyekanweb;
        border-radius: 0px;
        position: absolute;
        right: 70px;
    }
    .nav-tabs .nav-tab.has-error a::after{
        content: " !";
        color: red;
    }
</style>


<script type="text/ng-template" id="draft-return-action-button">
    <span ng-click="Data.actionButtonsMap['draft-return-action-button'].click()">
        
       <a class="btn btn-sm btn-text btn-icon  action-btn-widget" type="button"
          ><i class="flaticon-close-button"></i>بستن</a>
        
        <div class="action-btn-widget action-btn-widget--icon action-icon"  ng-include="'kateb-icon-times.svg'" >
        </div>

        <div class="action-btn-widget action-btn-widget--text">بستن</div>
        

    </span>
</script>


<script type="text/ng-template" id="draft-reclaim-action-button">
    <span 
    ng-show="Data.actionButtonsMap['draft-reclaim-action-button'].isVisible()"
      access-checker="{{Data.actionButtonsMap['draft-reclaim-action-button'].access_checker}}" 
      ng-click="Data.actionButtonsMap['draft-reclaim-action-button'].click()">
        
       <a class="btn btn-sm btn-text btn-icon  action-btn-widget"  type="button" > بازپسگیری پیش نویس</a>
        

<!--        FIXME:correct icon-->
        <div class="action-btn-widget action-icon" ng-include="'kateb-icon-pen-square.svg'" >
        </div>

        <div class="action-btn-widget action-btn-widget--text">بازپسگیری پیش نویس</div>
        

    </span>
</script>


<script type="text/ng-template" id="draft-edit-action-button">
<!--   FIXME:check ng-disable effect on span -->
<span ng-click="Data.actionButtonsMap['draft-edit-action-button'].click()"
    ng-show="Data.actionButtonsMap['draft-edit-action-button'].isVisible()">

    <a class="btn btn-sm btn-text btn-icon  action-btn-widget" type="button"><i
            class="flaticon-pencil-on-a-notes-paper"></i>
        {{'EDIT'|EnToFaButton}}
    </a>

    <div class="action-btn-widget action-icon" ng-include="'kateb-icon-pen-square.svg'">
    </div>


    <div class="action-btn-widget action-btn-widget--text">{{'EDIT'|EnToFaButton}}</div>


</span>
</script>


<script type="text/ng-template" id="draft-sign-action-button">
    <!--   FIXME:check ng-disable effect on span -->
<span ng-click="Data.actionButtonsMap['draft-sign-action-button'].isDisabled() || Data.actionButtonsMap['draft-sign-action-button'].click()"
    ng-show="Data.actionButtonsMap['draft-sign-action-button'].isVisible()" 
    ng-class="{'disabled':Data.actionButtonsMap['draft-sign-action-button'].isDisabled()}"
    >

    <a class="btn btn-sm btn-text btn-icon  action-btn-widget" type="button"><i class="flaticon-interface-2"></i>امضاء
    </a>


    <div class="action-btn-widget action-icon" ng-include="'kateb-icon-signature.svg'">
    </div>

    <div class="action-btn-widget action-btn-widget--text">امضاء</div>

</span>
</script>

<script type="text/ng-template" id="draft-paraph-action-button">
    <!--   FIXME:check ng-disable effect on span -->
<span ng-show="Data.actionButtonsMap['draft-paraph-action-button'].isVisible()"
    ng-click="Data.actionButtonsMap['draft-paraph-action-button'].isDisabled() || Data.actionButtonsMap['draft-paraph-action-button'].click()" 
    ng-class="{'disabled':Data.actionButtonsMap['draft-paraph-action-button'].isDisabled()}"
    >

    <a class="btn btn-sm btn-text btn-icon  action-btn-widget" type="button"><i
            class="flaticon-interface-2"></i>پاراف</a>

    <div class="action-btn-widget action-icon" ng-include="'kateb-icon-signature.svg'">
    </div>

    <div class="action-btn-widget action-btn-widget--text">پاراف</div>

</span>
</script>


<script type="text/ng-template" id="draft-transfer-action-button">



    <!--   FIXME:check ng-disable effect on span in all places! -->
<span ng-click="Data.actionButtonsMap['draft-transfer-action-button'].isDisabled() || Data.actionButtonsMap['draft-transfer-action-button'].click()"
    ng-show="Data.actionButtonsMap['draft-transfer-action-button'].isVisible()"
    ng-class="{'disabled':Data.actionButtonsMap['draft-transfer-action-button'].isDisabled()}" 
    >

    <a class="btn btn-sm btn-text btn-icon  action-btn-widget" type="button"><i class="flaticon-arrow"></i>انتقال
    </a>

    <div class="action-btn-widget action-icon" ng-include="'kateb-icon-paper-plane.svg'">
    </div>


    <div class="action-btn-widget action-btn-widget--text">انتقال</div>


</span>
</script>


<script type="text/ng-template" id="draft-save-action-button">
    <!--   FIXME:check ng-disable effect on span in all places! -->
<span ng-class="{'disabled':Data.actionButtonsMap['draft-save-action-button'].isDisabled()}"
    ng-show="Data.actionButtonsMap['draft-save-action-button'].isVisible()"
    ng-click="Data.actionButtonsMap['draft-save-action-button'].isDisabled() || Data.actionButtonsMap['draft-save-action-button'].click()">

    <button type="button" class="btn btn-sm btn-text btn-icon white-bg action-btn-widget ">
        <i class="flaticon-technology"></i> ‌ذخیره
    </button>

    <div class="action-btn-widget action-icon " ng-include="'kateb-icon-save'">
    </div>


    <div class="action-btn-widget action-btn-widget--text">‌ذخیره</div>


</span>
</script>





<script type="text/ng-template" id="draft-update-action-button">
    <!--   FIXME:check ng-disable effect on span -->
<span ng-show="Data.actionButtonsMap['draft-update-action-button'].isVisible()"
    ng-click="Data.actionButtonsMap['draft-update-action-button'].isDisabled() || Data.actionButtonsMap['draft-update-action-button'].click()"
    ng-class="{'disabled':Data.actionButtonsMap['draft-update-action-button'].isDisabled()}"
    >

    <a class="btn btn-sm btn-text btn-icon  action-btn-widget" type="button"><i class="flaticon-technology"></i>
        {{'UPDATE'|EnToFaButton}}
    </a>

    <div class="action-btn-widget action-icon" ng-include="'kateb-icon-save'">
    </div>


    <div class="action-btn-widget action-btn-widget--text">{{'UPDATE'|EnToFaButton}}</div>



</span>
</script>


<script type="text/ng-template" id="draft-reset-action-button">
    <!--   FIXME:check ng-disable effect on span -->
<!-- FIXME: 'a'=='b' what?! -->
<span ng-show="Data.actionButtonsMap['draft-reset-action-button'].isVisible()"
    ng-click="Data.actionButtonsMap['draft-reset-action-button'].click()">

    <a class="btn btn-sm btn-text btn-icon  action-btn-widget" type="button"><i class="fa fa-refresh"></i>ریست
    </a>

    <div class="action-btn-widget action-icon" ng-include="'kateb-icon-times.svg'">
    </div>


    <div class="action-btn-widget action-btn-widget--text">ریست</div>





</span>
</script>


<script type="text/ng-template" id="draft-delete-action-button">
    <!-- FIXME:check ng-show for this -->
<span ng-show="Data.actionButtonsMap['draft-delete-action-button'].isVisible()">

    <delete-button exchange-function-for-delete="Func.exchangeDelete">

    </delete-button>



</span>
</script>



<script type="text/ng-template" id="draft-prev-action-button">
    <span ng-click="Data.actionButtonsMap['draft-prev-action-button'].isDisabled() || Data.actionButtonsMap['draft-prev-action-button'].click()"
     ng-show="Data.actionButtonsMap['draft-prev-action-button'].isVisible()" 
     ng-class="{'disabled':Data.actionButtonsMap['draft-prev-action-button'].isDisabled()}"
     >
        
        <button  type="button"
                class="btn btn-sm btn-text btn-icon white-bg pull-left action-btn-widget">
                            <i class="fa fa-arrow-up"></i> قبلی
        </button>

        
        <div class="action-btn-widget action-icon" ng-include="'kateb-icon-angle-right.svg'">
        </div>

        <div class="action-btn-widget action-btn-widget--text">قبلی</div>


    </span>
</script>




<script type="text/ng-template" id="draft-next-action-button">
    <!--   FIXME:check ng-disable effect on span -->
<span ng-click="Data.actionButtonsMap['draft-next-action-button'].isDisabled() || Data.actionButtonsMap['draft-next-action-button'].click()"
    ng-show="Data.actionButtonsMap['draft-next-action-button'].isVisible()"
    ng-class="{'disabled':Data.actionButtonsMap['draft-next-action-button'].isDisabled()}"
    >

    <button type="button" class="btn btn-sm btn-text btn-icon white-bg pull-left action-btn-widget">
        <i class="fa fa-arrow-down"></i>بعدی
    </button>

    <div class="action-icon action-btn-widget action-btn-widget--icon" ng-include="'kateb-icon-angle-left.svg'">
    </div>

    <div class="action-btn-widget action-btn-widget--text">بعدی</div>

</span>

</script>




<script type="text/ng-template" id="draft-sign-and-send-action-button">
    <!--   FIXME:check ng-disable effect on span -->
<span ng-show="Data.actionButtonsMap['draft-sign-and-send-action-button'].isVisible()"
    ng-click="Data.actionButtonsMap['draft-sign-and-send-action-button'].isDisabled() || Data.actionButtonsMap['draft-sign-and-send-action-button'].click()" 
    ng-class="{'disabled':Data.actionButtonsMap['draft-sign-and-send-action-button'].isDisabled()}"
    >


    <button class="btn btn-sm btn-text btn-icon action-btn-widget " type="button">
        <i class="flaticon-interface-2"></i>امضا و ارسال نامه
    </button>

    <div class="action-icon action-btn-widget action-btn-widget--icon" ng-include="'kateb-icon-paper-plane.svg'">
    </div>

    <div class="action-btn-widget action-btn-widget--text">امضا و ارسال نامه</div>

</span>
</script>

<script type="text/ng-template" id="draft-paraph-and-send-action-button">
    <!--   FIXME:check ng-disable effect on span -->
<!--   FIXME: controller.vtPDF.maxCharError on <more-btn-bottom-sheet-opener> -->
<span ng-show="Data.actionButtonsMap['draft-paraph-and-send-action-button'].isVisible()"
    ng-click="Data.actionButtonsMap['draft-paraph-and-send-action-button'].isDisabled() || Data.actionButtonsMap['draft-paraph-and-send-action-button'].click()"
    ng-class="{'disabled':Data.actionButtonsMap['draft-paraph-and-send-action-button'].isDisabled()}"
    >

    <button class="btn btn-sm btn-text btn-icon action-btn-widget " type="button">
        <i class="flaticon-interface-2"></i>پاراف و ارسال نامه
    </button>

    <div class="action-icon action-btn-widget action-btn-widget--icon" ng-include="'kateb-icon-paper-plane.svg'">
    </div>

    <div class="action-btn-widget action-btn-widget--text">پاراف و ارسال نامه</div>


</span>
</script>



<script type="text/ng-template" id="draft-save-template-action-button">
    <span ng-show="Data.actionButtonsMap['draft-save-template-action-button'].isVisible()"
    >
        
        <!-- save template and draft btn -->
        <div id="draftTemplateId" class="btn-group" dropdown ng-show="Data.mode=='add'">
                            
            <button type="button" ng-if="Data.newOrganizationUid === 'CURRENT'"
                    class="btn btn btn-sm dropdown-toggle white-bg " dropdown-toggle>
                <div>ذخیره قالب نامه<div class="caret" style="margin-right: 5px;"></div>
                </div>
                <span class="sr-only">Split button!</span>
            </button>
            <ul class="dropdown-menu template-drop-down" ng-if="Data.newOrganizationUid === 'CURRENT'"
                role="menu">
                <li>
                    <div class="input-group" style="position: relative;">
                        <input type="text" class="form-control" placeholder="نام قالب ..."
                                ng-model="Data.userDefinedTemplateName">
                        <!-- <vt-photo ng-model="Data.selecteduser.signature" ratio="1" style="position: absolute; left: 42px;"
                                is-edit-mode="Data.mode!='view'" no-title-description="true">
                        </vt-photo> -->
                    </div>
                </li>
                <li class="">
                    <div class="form-control template-icon">
                        آیکون قالب
                        <div>
                            <vt-photo ng-model="Data.userDefinedTemplateThumnail" ratio="1"
                                        style="position: absolute; left: 42px; top: 60px;"
                                        is-edit-mode="Data.mode!='view'" no-title-description="true"
                                        template-mode="true">
                            </vt-photo>
                        </div>
                    </div>
                </li>
                <li>
                    <button style="margin-top: 10px;"
                            class="btn btn-xs btn-primary col-sm-12  letterTemplate"
                            ng-click="Func.savePrivateLetterTemplate('edit');"
                            access-checker="API_EDIT_PRIVATE_LETTER_TEMPLATE">ذخیره قالب
                    </button>
                </li>
                <li>
                    <button class="btn btn-xs btn-primary col-sm-12  letterTemplate"
                            ng-disabled="!Data.userDefinedTemplateName"
                            ng-click="Func.savePrivateLetterTemplate('add');"
                            access-checker="API_ADD_PRIVATE_LETTER_TEMPLATE">ذخیره قالب جدید
                    </button>
                </li>
                <li>
                    <button class="btn btn-xs btn-primary col-sm-12  letterTemplate"
                            ng-disabled="!Data.userDefinedTemplateName"
                            ng-click="Func.savePublicLetterTemplate();"
                            access-checker="API_EDIT_PUBLIC_LETTER_TEMPLATE">ذخیره قالب عمومی
                    </button>
                </li>
            </ul>
        </div>
        <!-- end of save template and draft btn -->
        
<!--        <a class="action-btn-widget">انتقال</a>-->

    </span>
</script>






                    





    <div class="hidden-md mobile-action-bar  " class="tw-flex tw-flex-grow tw-items-center">
       

        

        
        <span class="tw-mr-auto">
    <!-- FIXME:check ng-show="Data.draft && Data.draft.uid" for all action buttons -->
            <more-btn-bottom-sheet-opener
                
                menu-item-tpls="[
                'draft-return-action-button',
                'draft-reclaim-action-button',
                'draft-edit-action-button',
                'draft-sign-action-button',
                'draft-paraph-action-button',
                'draft-transfer-action-button',
                'draft-save-action-button',
                'draft-update-action-button',
                'draft-reset-action-button',
                'draft-delete-action-button',
                'draft-prev-action-button',
                'draft-next-action-button',
                'draft-save-template-action-button',
                'draft-sign-and-send-action-button',
                'draft-paraph-and-send-action-button'
                ]" 
                action-buttons-map="Data.actionButtonsMap"
            ></more-btn-bottom-sheet-opener>
        </span>

        


    </div>

    <div class=" hidden-xs">
        <div 
            ng-show="Data.mode!=='view' || (Data.mode==='view' && Data.draft && Data.draft.uid && Data.letterLayout && Data.letterLayout.isFetched)">
            <div class="" style="display: flex; justify-content: space-between"
                ng-show="Data.mode!='signature' && Data.mode!='paraph'">
                <div class="" style="display: flex;flex-wrap: wrap;">


                    <action-button></action-button>

                    <span ng-include="'draft-return-action-button'"></span>

                    <span ng-include="'draft-reclaim-action-button'"></span>


                    <span ng-include="'draft-edit-action-button'"></span>

                    <span ng-include="'draft-sign-action-button'"></span>

                    <span ng-include="'draft-paraph-action-button'"></span>

                    <span ng-include="'draft-transfer-action-button'"></span>

                    <span ng-include="'draft-save-template-action-button'"></span>

                    <span ng-include="'draft-save-action-button'"></span>

                    <span ng-include="'draft-update-action-button'"></span>

                    <span ng-include="'draft-reset-action-button'"></span>

                    <span ng-include="'draft-delete-action-button'"></span>


                </div>

                <div class="letter navigation">

                    <span ng-include="'draft-prev-action-button'"></span>

                    <span ng-include="'draft-next-action-button'"></span>

                </div>
            </div>
            
            
            <div class="" ng-show="Data.mode=='signature'">
                <a class="btn btn-sm btn-text btn-icon " type="button"
                    ng-click="Func.onBackToEditClick()"><i class="flaticon-close-button"></i>بستن</a>

                <span ng-include="'draft-sign-and-send-action-button'"></span>

                
            </div>
            <div class="" ng-show="Data.mode=='paraph'">
                <a class="btn btn-sm btn-text btn-icon " type="button"
                    ng-click="Func.onBackToEditClick()"><i class="flaticon-close-button"></i>بستن</a>


                <span ng-include="'draft-paraph-and-send-action-button'"></span>
                
            </div>
        </div>
    </div>
    <div class="alert alert-danger" style="margin-bottom: 5px; padding: 10px 15px"
        ng-if="Data.draft.messages.length > 0">
        <div ng-repeat="messeage in Data.draft.messages track by $index">
            <i class="fa fa-exclamation-triangle"></i>
            <span>{{messeage | EnToFaNumber}}</span>
        </div>
    </div>
    <div class="letter-draft-view" ng-show="(Data.mode!='signature' && Data.mode!='paraph')">
        <section class="letter-draft-view__header-summary  visible-xs ">
            <span>پیش نویس (شماره {{Data.draft.number| EnToFaNumber}}):</span>
            <p class="tw-mr-p-margin tw-text-gray">
                {{Data.draft.subject}}
            </p>
        </section>
        <nav class="letter-draft-view-header-menu">
            <ul class="letter-draft-view-header-menu__nav">
                <li role="presentation" class="letter-draft-view-header-menu__nav-item"
                    ng-class="{'active':tab.active,'has-error':Data.validationClicked && tab.hasError()}"
                    ng-repeat="tab in Data.tabList"
                    ng-click="Func.onTabClick(tab)">
                    <h5>
                        <a class="letter-draft-view-header-menu__nav-item-text">{{tab.title}}</a>
                    </h5>
                </li>
            </ul>
        </nav>
        <section class="letter-draft-view__content ">
            
                <div  ng-show="Data.selectedTab.id == 0">
                    <form name="form"  novalidate>
                        <div>
                            <letter-form-type ng-model="Data.selectedLetterFormType" css-class-selector-type="col-sm-12" css-class-selector-type-label=""
                                                css-class-selector-type-input=""
                                                ng-if="(Data.mode==='view' && Data.draft && Data.draft.forms && Data.draft.forms.length>0) || Data.mode!=='view'"
                                                apis="Apis" mode="Data.mode" letter="Data.draft" org-uid="Data.orgUid"></letter-form-type>
                        </div>
                        <div class="saad-forms">




                                
                                <!-- FIXME:use a replace directive for shared hgshow ngclass ... -->

                            <div class="saad-form tw-w-full sm:tw-w-auto">
                                <div class="saad-form__row" ng-show="Data.draft.number">
                                    <label class=" saad-form__label" >شماره پیش نویس</label>
                                    <div class=" saad-form__value" >{{Data.draft.number|EnToFaNumber}}</div>
                                </div>

                                <div class="saad-form__row" ng-show="Data.draft.letterNumber">
                                    <label class="  saad-form__label" >شماره نامه</label>
                                    <div class=" saad-form__value" >{{Data.draft.letterNumber|EnToFaNumber}}</div>
                                </div>




                                <div class="saad-form__row">
                                    <label class="  saad-form__label" ng-class="{'required':Data.mode!='view'}">موضوع</label>
                                    <div ng-show="Data.mode=='view'" class="saad-form__value" >{{Data.draft.subject}}</div>
                                    <div ng-show="Data.mode!='view'" class=" saad-form__value" ng-class="{'has-error':Data.validationClicked && form.subject.$invalid}">
                                        <style>
                                            input.auto-size-input {
                                                min-width: 100%;
                                                max-width: 100%;
                                            }

                                            #hidden_span {
                                                position: absolute;
                                                top: 0px;
                                                left: 0px;
                                                visibility: hidden;
                                                width: 10px;
                                                white-space: nowrap;
                                                overflow: hidden;
                                            }
                                        </style>
                                        

                                        <div class="md-input-main">
                                            <div class="md-input-box">
                                                <input
                                                type="text" class="md-input auto-size-input" name="subject"
                                                ng-model="Data.draft.subject" required ng-init="doAoutoSizeInput()"
                                                maxlength="250"
                                                        class="md-input"
                                                        placeholder=" "
                                                />
        <!--                                        <label for="fullName" class="md-label">Full Name</label>-->
                                                <div class="md-input-underline" >
                                                </div>
                                            </div>
                                        </div>




                                        <div id="counter"></div>
                                        <span id="hidden_span"></span>
                                    </div>
                                </div>



                                <div class="saad-form__row" ng-show="Data.mode=='view'">
                                    <label class=" saad-form__label" >تاریخ نامه</label>
                                    <div class=" saad-form__value" >
                                        {{Data.draft.letterOfficialDate|persianDate:'dd-MMMM-yyyy'|EnToFaNumber}}
                                    </div>
                                </div>









                                <div class="saad-form__row " ng-hide="Data.mode=='view' && !Data.draft.letterLayout.title">
                                    <label class="  saad-form__label" 
                                        ng-class="{'required':Data.mode!='view'}">سربرگ
                                    </label>

                                    <div ng-show="Data.mode=='view' && Data.draft.letterLayout.title" class=" saad-form__value" >{{Data.draft.letterLayout.title}}</div>
                                    <div ng-show="Data.mode!='view'" class=" saad-form__value "
                                    ng-class="{'has-error':Data.validationClicked && form.letterLayout.$invalid}">





                                        <!-- FIXME:implement single source of truth for enabled layout list -->
                                        <single-select
                                            widget="{{Data.isMobileView ? 'bottomSheetOpener':'dropdown'}}"
                                            name="letterLayout"
                                            required
                                            title-prop-key="name"
                                            options="Data.letterLayoutEnabledList"
                                            ng-model="Data.letterLayout"
                                            model="Data.letterLayout" 
                                            on-select="Func.onSelectLetterLayout($item)"
                                            on-remove="Func.onRemoveLetterLayout()"
                                            is-edit-mode="Data.mode!='view'"
                                            >

                                        </single-select>

                                        

                                    </div>
                                </div>
                                
                                



                                <div class="saad-form__row" ng-if="Data.counter">
                                    <label class="  saad-form__label" ng-class="{'required':Data.mode!='view'}"   >دبیرخانه</label>
                                    <div ng-show="Data.mode=='view'" class=" saad-form__value" >
                                        {{Data.draft.secretariat.title}}
                                    </div>
                                    <div ng-show="Data.mode!='view'" class=" saad-form__value"  ng-class="{'has-error':Data.validationClicked && form.secretariat.$invalid}">
                                        <select class="form-control" ng-model="Data.secretariat" name="secretariat" required
                                                ng-change="Func.onSelectSecretariat(Data.secretariat)"
                                                ng-options="secretariat as secretariat.title for secretariat in Data.secretariatList">
                                        </select>
                                        
                                    </div>
                                </div>

                                
                                


                                <div class="saad-form__row" ng-show="Data.mode=='view'">
                                    <label class="  saad-form__label" >وضعیت</label>
                                    <div class=" saad-form__value" >
                                        {{Data.draft.state|appEnum:draftState}}
                                    </div>
                                </div>


                                
                                


                                <div class="saad-form__row">
                                    <label class="  saad-form__label">فوریت</label>
                                    <div ng-show="Data.mode=='view'" class=" saad-form__value">
                                        <kateb-priority-label priority="Data.draft.priority" value="{{Data.draft.priority|appEnum}}"></kateb-priority-label>
                                    </div>
                                    <div ng-show="Data.mode!='view'" class=" saad-form__value">

                                        <!-- FIXME:refactor extra input(options/app-enum-key)  -->
                                        <single-select
                                            widget="{{Data.isMobileView ? 'bottomSheetOpener':'dropdown'}}"
                                            app-enum-key="priority"
                                            ng-model="Data.draft.priority" 
                                            model="Data.draft.priority" 
                                            is-edit-mode="Data.mode!='view'"
                                            >
                                        </single-select>


                                    </div>
                                </div>

                                


                                <div class="saad-form__row">
                                    <label class="  saad-form__label">سطح محرمانگی</label>
                                    <!-- <div ng-show="Data.mode=='view'" class=" saad-form__value">
                                        {{Data.draft.confidentialityLevel|appEnum:confidentialityLevel}}
                                    </div> -->
                                    <div class=" saad-form__value">
                                       
                                        <single-select
                                            widget="{{Data.isMobileView ? 'bottomSheetOpener':'dropdown'}}"
                                            app-enum-key="confidentialityLevel"
                                            ng-model="Data.draft.confidentialityLevel" 
                                            model="Data.draft.confidentialityLevel" 
                                            is-edit-mode="Data.mode!='view'"
                                            >

                                        </single-select>

                                    </div>
                                </div>

                                
                                


                                <div class="saad-form__row" ng-show="Data.mode!='view'">
                                    <label class="  saad-form__label" >نیاز به پاسخ</label>
                                    <div class=" saad-form__value" >
                                        <input type="checkbox" ng-model="Data.responseNeeded" class="tw-accent-primary-light">
                                    </div>
                                </div>
                                



                                <div class="saad-form__row" ng-if="Data.responseNeeded">
                                    <label class="  saad-form__label" >مهلت پاسخ</label>
                                    <div ng-show="Data.mode=='view'" class=" saad-form__value" >
                                        {{Data.draft.requestResponseDate|persianDate:'dd-MMMM-yyyy'|EnToFaNumber}}
                                    </div>
                                    <div ng-show="Data.mode!='view'" class=" saad-form__value" >
                                        <vt-persian-date-picker min-date="Data.currentDate" name="requestResponseDate"
                                                                model="Data.draft.requestResponseDate"></vt-persian-date-picker>
                                    </div>
                                </div>


                                


                                <div class="saad-form__row ng-hide" ng-if="Data.hasExternalArchives">
                                    <label class="  saad-form__label" ng-class="{'required':Data.mode!='view'}" >بایگانی نامه</label>
                                    <div class=" saad-form__value" ng-if="Data.isDraftLoaded " ng-class="{'has-error':Data.validationClicked && Data.vtFolderSelectorForm.$invalid}">
                                        <ng-form name="Data.vtFolderSelectorForm">
                                            <vt-folder-selector controller="Apis.vtFolderSelector" model="Data.draft.externalArchive" required = "Data.mode=='add'"
                                                                is-edit-mode="Data.mode!='view'"
                                                                form-name="Data.vtFolderSelectorForm"></vt-folder-selector>
                                        </ng-form>
                                    </div>
                                </div>

                                
                            </div>
                            <div class="saad-form tw-w-full sm:tw-w-auto">


                                <div class="saad-form__row">
                                    <label class="  saad-form__label" ng-class="{'required':Data.mode!='view'}">امضا کننده</label>
                                    <!-- <div ng-show="Data.mode=='view'" class=" saad-form__value">{{Data.draft.sender.title}}</div> -->
                                    <div  class=" saad-form__value " ng-class="{'has-error':Data.validationClicked && form.draftSender.$invalid}">



                                        <single-select
                                            widget="{{Data.isMobileView ? 'bottomSheetOpener':'dropdown'}}"
                                            options="Data.senderList"
                                            name="draftSender"
                                            ng-model="Data.draft.sender" 
                                            model="Data.draft.sender" 
                                            is-edit-mode="Data.mode!='view'"
                                            on-select="Func.onSelectSender($item, $model);"
                                            on-remove="Func.onRemoveSender();">

                                        </single-select>
                                    </div>
                                </div>
                                


                                <div class="saad-form__row ">
                                    <label class="  saad-form__label" ng-class="{'required':Data.mode!='view'}">اقدام کننده</label>
                                    <!-- <div ng-show="Data.mode=='view'" class=" saad-form__value">{{Data.draft.actor.title}}</div> -->
                                    <div  class=" saad-form__value " ng-class="{'has-error':Data.validationClicked && form.draftActor.$invalid}">

                                       


                                        <single-select
                                            widget="{{Data.isMobileView ? 'bottomSheetOpener':'dropdown'}}"
                                            options="Data.senderList"
                                            name="draftActor"
                                            ng-model="Data.draft.actor" 
                                            model="Data.draft.actor" 
                                            required
                                            is-edit-mode="Data.mode!='view'"
                                            >

                                        </single-select>


                                    </div>
                                </div>

    

                                <div class="saad-form__row">
                                    <label class="  saad-form__label">پاراف کنندگان</label>
                                    <div class=" saad-form__value">

        <!--                                            FIXME:change this directive to general type-->
                                        <multiselect-reciever 
                                            widget="{{Data.isMobileView ? 'bottomSheetOpener':'dropdown'}}"
                                            model="Data.draft.paraphers" 
                                            init-options="Data.senderList"
                                            ng-model="Data.draft.paraphers" 
                                            name="paraphers"
                                            is-edit-mode="Data.mode!='view'">
                                        </multiselect-reciever>

                                    </div>
                                </div>


                                <div class="saad-form__row">
                                    <label class="  saad-form__label" ng-class="{'required':Data.mode!='view'}">گیرندگان</label>
                                    <div class=" saad-form__value" ng-class="{'has-error':Data.validationClicked && form.letterDeliveryTo.$invalid}">
                                        <multiselect-reciever
                                            widget="{{Data.isMobileView ? 'bottomSheetOpener':'dropdown'}}"
                                            model="Data.draft.deliveryTo"
                                            search-fn="controller.multiselectRecieverSearch(Data.orgUid, Data.newOrganizationUid, query)"
                                            ng-model="Data.draft.deliveryTo" name="letterDeliveryTo" vt-array-required
                                            on-select-fn="Func.onSelectReceiver(item, model)"
                                            on-remove-fn="Func.onRemoveReceiver(item)" is-edit-mode="Data.mode!='view'">
                                        </multiselect-reciever>
                                    </div>
                                </div>

                

                                <div class="saad-form__row">
                                    <label class="  saad-form__label">رونوشت</label>
                                    <div class=" saad-form__value">
                                        <multiselect-reciever 
                                            has-description="true" 
                                            widget="{{Data.isMobileView ? 'bottomSheetOpener':'dropdown'}}"
                                            model="Data.draft.deliveryCc"
                                            search-fn="controller.multiselectRecieverSearch(Data.orgUid, Data.newOrganizationUid, query)"
                                            on-select-fn="Func.onSelectReceiver(item, model)"
                                            on-remove-fn="Func.onRemoveReceiver(item)"
                                            is-edit-mode="Data.mode!='view'"></multiselect-reciever>

                                        <div ng-show="Data.mode!='view'" class="col-sm-6" style="padding: 10px 15px;">
                                            <a ng-init="bcc=false" ng-click="bcc = !bcc" ng-show="!bcc"
                                                class="text-success">افزودن
                                                رونوشت پنهان</a>
                                        </div>
                                    </div>
                                </div>
                                
                        

                                <div class="saad-form__row" ng-show="bcc || Data.draft.deliveryBcc.length">
                                    <label class="  saad-form__label" >رونوشت پنهان</label>
                                    <div class=" saad-form__value" >
                                        <multiselect-reciever 
                                            has-description="true" 
                                            widget="{{Data.isMobileView ? 'bottomSheetOpener':'dropdown'}}"
                                            model="Data.draft.deliveryBcc"
                                            search-fn="controller.multiselectRecieverSearch(Data.orgUid, Data.newOrganizationUid, query)"
                                            on-select-fn="Func.onSelectReceiver(item, model)"
                                            on-remove-fn="Func.onRemoveReceiver(item)" is-edit-mode="Data.mode!='view'">
                                        </multiselect-reciever>
                                    </div>
                                </div>

                            </div>

                        
                        </div>
                    </form>
                </div>

                <div class="" ng-show="Data.selectedTab.id == 1">
                    <form name="form2" novalidate>
                        <div class="saad-form ">
                            <div class=" saad-form__row  " ng-show="Data.mode!='view'">
                                <label class="radio-inline" >

                                    <input type="radio" name="editorType" id="editorType1" value="text"
                                            ng-model="Data.editorType" ng-click="Func.onEditorTypeChange('text')">
                                    <label for="editorType1">
                                        <span><span></span></span>
                                        <label>ویرایشگر متن</label>
                                    </label>
                                </label>
                                <label class="radio-inline" >
                                    <input type="radio" name="editorType" id="editorType2" value="system"
                                            ng-model="Data.editorType" ng-click="Func.onEditorTypeChange('file')">
                                    <label for="editorType2">
                                        <span><span></span></span>
                                        <label>ویرایشگر سیستم</label>
                                    </label>
                                </label>
                                <label class="radio-inline" >
                                    <input type="radio" name="editorType" id="editorType3" value="file"
                                        ng-model="Data.editorType" ng-click="Func.onEditorTypeChange('file')">
                                    <label for="editorType3">
                                        <span><span></span></span>
                                        <label>بارگذاری فایل</label>
                                    </label>
                                </label>
                            </div>
                            <div class=" saad-form__row  " ng-show="Data.editorType == 'text'"
                                    ng-class="{'has-error':Data.validationClicked && Data.ckeditorInvalid}">
                                <div ng-show="Data.mode=='view'">
                                    <div class="ck-content" lang="fa" dir="rtl" ng-bind-html="Func.trustAsHtml(Data.draft.textBody)"></div>
                                </div>

                                <div ng-show="Data.mode!='view' && Data.draft.bodyType=='text'"
                                        class=" ckeditorContainer" id="ckeditorContainer">
                                <textarea name="content_ref" class="text-justify form-control" id="editor1" rows="200"
                                        cols="80"></textarea>
                                </div>
                            </div>
                            <div class=" saad-form__row   editor" ng-show="Data.editorType == 'file'">
                                <div class=""
                                        ng-class="{'has-error':Data.validationClicked && form2.draftFileBody.$invalid}"
                                        name="draftFileBody" ng-model="Data.draft.fileBody"
                                        ng-required="Data.draft.bodyType=='file'">
                                        <vt-file class="col-sm-8" model="Data.draft.fileBody" is-edit-mode="Data.mode!='view'" remove-callback-fn="Func.removeFileBodyCallBack"
                                        type="Data.draftFileBody">
                                </vt-file>
                                <a class="btn btn-default col-sm-4" ng-if="Data.letterTemplateFile"
                                href="{{Data.letterTemplateFile}}">دانلود قالب</a>

                                    
                                </div>
                            </div>
                            <div class="saad-form__row editor" ng-show="Data.editorType == 'system'">
                                <div class=""
                                    ng-class="{'has-error':Data.validationClicked && form2.draftFileBody.$invalid}"
                                    name="draftFileBody" ng-model="Data.draft.fileBody"
                                    ng-required="Data.draft.bodyType=='system'">
                                    <div class="row" ng-if="Data.mode!='view'">
                                        <div class="col-sm-4" access-checker="WEB_EDIT">
                                            <button class="btn" ng-disabled="!Data.draft.letterLayout" ng-click="Func.onEditDocxWhitSystemEdit()" >
                                                شروع ویرایش
                                            </button>
                                            <img tooltip="پس از انتخاب سربرگ در قسمت اطلاعات نامه می توانید با استفاده از ویرایشگر سیستم خود شروع به ویرایش نمایید." src="app/assets/img/information-button.png" style="width:12px;" />
                                        </div>
        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="" ng-if="Data.selectedTab.id == 2">
                    <letter-attachment model="Data.draft.attachments" is-edit-mode="Data.mode!='view'">
                    </letter-attachment>
                </div>
                <!-- TODO -->
                <div  class="tw-h-full" ng-show="Data.selectedTab.id==3" style="z-index: 0;" ng-if="Data.mode!=='signature' && Data.mode!='paraph' && pdfUrl">
                    <div class="wrapper tw-h-full" >
                        <!--<div style="height: 900px !important;width: 800px !important;" vt-pdf control-fn="{canSign:false,pdfUrl:pdfUrl}"></div>-->
                        <iframe ng-src="{{Func.getPdfUrl(pdfUrl)}}" class="tw-h-full"
                                style="width: 100% !important;" frameborder="0"></iframe>


                    </div>
                    <!-- FIXME:handle visibility of print section in mobile view -->
                    <div class="hidden-xs" >
                        <accordion close-otheorgrs="false">
                            <accordion-group is-open="print.open" ng-init="print.open=true">
                                <accordion-heading>
                                    <h4>چاپ</h4>
                                    <i class="pull-right glyphicon"
                                        ng-class="{'glyphicon-chevron-down': print.open, 'glyphicon-chevron-right': !print.open}"></i>
                                </accordion-heading>
                                <div>
                                    <kateb-print model="Data.draft" disable-checkbox="Data.draft.paraphPdf"
                                                    is-draft="true"
                                                    pdf-generator="Func.generateDraftPdf"
                                                    config="{hideSign:true,hidePrintLog:true,hideParaphers:true,hideBccList:true,hideCcList:true}"
                                                    indecator-number="Data.indecatorNumber" deliverycc="Data.draft.delivery_cc"
                                                    deliverybcc="Data.draft.delivery_bcc"></kateb-print>
                                </div>
                            </accordion-group>


                        </accordion>
                    </div>
                </div>

                <div class="" ng-if="Data.selectedTab.id == 4 && Data.mode != 'add'">
                            <vt-grid control-fn="controller.draftHistoryListController"></vt-grid>
                </div>
            
        </section>
    </div>
    <div ng-if="pdfUrl && Data.mode=='signature' || Data.mode=='paraph'" class="tw-bg-gray-light tw-grow tw-overflow-scroll tw-p-content-padding">
        <div  vt-pdf-signable
            control-fn="controller.vtPDF" signer-info="Data.signerInfo" sign-text="Data.draft.signatureHtml"
            ng-init="Data.draft.signatureHtml=''"></div>
    </div>
