<div class="col-sm-12">
	<div class="panel panel-default panel-page-header">
		<div class="panel-body">تنظیمات برچسب‌ها</div>
	</div>
</div>
<div class="col-md-8" access-checker="API_LIST_PUBLIC_TAG">
	<div class="panel panel-default">
		<div class="panel-body">
			<vt-search control-fn="Controller.tagSearchController"></vt-search>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">

			<div class="row" ng-repeat="nodeArray in Data.searchResults" ng-show="Data.showSearchResult">
				<ul id="breadcrumbs-one" ng-click="Func.searchActions.onBreadcrumbSearchResultClick(nodeArray)">
					<li ng-repeat="node in nodeArray"><a ng-class="{'current': $last}">{{node.title}}</a></li>
				</ul>
			</div>

            <vira-tree-pagination is-editable="false" options="{displayLabelKey:'name'}"
                       selected-node="Data.selectedNode" controller="Controller.viraTree"
                       is-full-tree="false" tree-data="treeDataForTopicManagement.data"></vira-tree-pagination>
		</div>
	</div>
</div>

<div class="col-md-4" access-checker="API_VIEW_PUBLIC_TAG">
	<div class="panel panel-default">
		<div class="panel-body panel-management">
			<div class="col-sm-12">
				<a class="btn btn-sm btn-default btn-text"
					access-checker="API_ADD_PUBLIC_TAG"
					ng-show="true" type="button"
					ng-click="Func.onAddtagClick('root')" ng-disabled="Data.mode=='add'">ایجاد ریشه</a>
				<a class="btn btn-sm btn-default btn-text"
					access-checker="API_ADD_PUBLIC_TAG"
					ng-show="treeData.selectedNode.uid" type="button"
					ng-click="Func.onAddtagClick('child')" ng-disabled="Data.mode=='add'">ایجاد فرزند</a>
                <a class="btn btn-sm btn-default btn-text"
                   access-checker="API_EDIT_PUBLIC_TAG" ng-show="treeData.selectedNode.uid" type="button"
                   ng-click="Func.onChangeParentClick()"
                   ng-disabled="Data.mode=='add'">تغییر پدر</a>
				<a class="btn btn-sm btn-primary btn-text"
					access-checker="API_EDIT_PUBLIC_TAG"
					ng-show="treeData.selectedNode.uid && Data.mode=='view'" type="button"
					ng-click="Func.onEdittagClick()" ng-disabled="" ng-bind="'EDIT'|EnToFaButton"></a>
				<a class="btn btn-sm btn-success btn-text"
					access-checker="API_ADD_PUBLIC_TAG"
					ng-show="Data.mode=='add'" type="button"
					ng-click="Func.onSavetagClick()" ng-bind="'SAVE'|EnToFaButton"
					ng-disabled="tagForm.$invalid && Data.validationClicked"></a>
				<a class="btn btn-sm btn-success btn-text"
					access-checker="API_EDIT_PUBLIC_TAG"
					ng-show="Data.mode=='edit'" type="button"
					ng-click="Func.onUpdatetagClick()" ng-bind="'UPDATE'|EnToFaButton"
					ng-disabled="tagForm.$invalid && Data.validationClicked"></a>
				<a class="btn btn-sm btn-warning btn-text"
					ng-show="Data.mode=='edit' || Data.mode=='add'" type="button"
					ng-click="Func.onCancelClick()" ng-disabled="" ng-bind="'CANCEL'|EnToFaButton"></a>
				<a class="btn btn-sm btn-danger btn-text"
					access-checker="API_DELETE_PUBLIC_TAG"
					ng-show="treeData.selectedNode.uid && Data.mode=='view'"
					type="button" ng-click="Func.onDeletetagClick()" ng-disabled="" ng-bind="'DELETE'|EnToFaButton"></a>
			</div>
		</div>
	</div>
	<div class="panel panel-default" ng-show="treeData.selectedNode.uid || Data.mode=='add'">
		<div class="panel-body">
			<form name="tagForm" role="form" novalidate>
                <div class="row rowForm" ng-show="Data.mode=='view'" access-checker="SEE_ENTITY_UID">
                    <label class="col-sm-5">شناسه</label>
                    <div class="col-sm-7">
                        {{treeData.selectedNode.uid}}
                    </div>
                </div>
                <div class="row rowForm" ng-class="{'has-error':tagForm.name.$invalid && Data.validationClicked}">
					<label class="col-sm-5" ng-class="{'required':Data.mode!='view'}">نام</label>
					<div ng-show="Data.mode=='view'" class="col-sm-7">
				{{treeData.selectedNode.name|EnToFaNumber}}
					</div>
					<div ng-if="Data.mode=='edit'" class="col-sm-7">
						<input type="text" class="form-control" name="name" required
							ng-model="treeData.selectedNode.name">
					</div>
					<div ng-if="Data.mode=='add'" class="col-sm-7">
						<input type="text" class="form-control" name="name" required
							ng-model="Data.newtag.name">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

