<div class="tw-flex tw-pr-em-1 tw-pl-em-1 tw-gap-x-em-1  tw-h-[70px]   tw-border 
	tw-border-solid tw-border-gray-light tw-rounded-sm tw-items-center">
			
		
	<div class="action-icon tw-h-em-6 tw-shrink-0" ng-include="'kateb-icon-report'"></div>
	<div class="tw-flex tw-flex-col">
		<!-- FIXME:implement split string -->
		<span>{{attachment.name}}</span>
		<!-- FIXME:bind file size -->
		<span class="tw-text-gray">2.3 مگابایت</span>
	</div>
	<div class="tw-mr-auto tw-inline-flex tw-gap-x-8 ">
		<div class="action-icon" ng-include="'kateb-icon-arrow-to-bottom.svg'" ng-click="downloadFile()" ng-show="attachmentType==='FILE'"></div>
		
		<a href="attachmentLink" ng-show="attachmentLink">
			<div class="action-icon" ng-include="'kateb-icon-eye.svg'"></div>
		</a>
		<div class="action-icon tw-text-danger" ng-include="'kateb-icon-trash-alt.svg'" ng-show="isEditMode" ng-click="onRemoveAttachment()"></div>
		
	</div>
		
			
</div>