<div ng-show="isEditMode">
	<ui-select ng-model="selectedItem" on-select="onSelect($item, $model)">
	    <ui-select-match></ui-select-match>
	    <ui-select-choices refresh="onRefresh($select.search)"
					refresh-delay="0" minimum-input-length="2"
					repeat="item in (options | filter: $select.search) track by $index"
					on-select="onSelect($item, $model)">
	        <span ng-bind="item.title"></span>
	    </ui-select-choices>
	</ui-select>
</div>
<div style="display: flex; justify-content: flex-start;flex-wrap: wrap;">
	<label class="label label-default label-repeat" ng-repeat="item in model" style="width: 100%;position: relative;" >
		<span>
			<i class="fa fa-caret-down fa-btn" ng-click="onOpenClick($index, item)" ng-show="item.type=='GROUP'"></i>
			{{item.title}}
		</span>
		<i class="flaticon-close-button fa-btn pull-left" ng-click="onRemove($index, item); $event.stopPropagation();" ng-show="isEditMode"></i>
		<br>
		<div ng-if="(isEditMode) ? hasDescription : item.description"
			 style="
			 	padding: 10px 0;
			 	line-height: 20px;
    			text-align: right;">
			<label style="cursor: pointer" ng-click="toggleDescEditMode(true, item)">توضیحات:</label>
			<p ng-show="!isEditMode || !item.descEditMode" ng-click="toggleDescEditMode(true, item)">
				{{item.description}}
			</p>
			<div ng-show="(item.descEditMode && isEditMode)">
				<textarea type="text" class="form-control" ng-model="item.description"
				style="
					font-size: 12px;
    				font-weight: normal;" maxlength="250">توضیحات رونوشت</textarea>
				<i class="fa fa-check"
				   style="
				   		font-size: 20px;
						left: 22px;
						position: absolute;
						top: 80px;
				   		color: #41a264;"
				   tooltip="ثبت توضیحات" ng-click="saveDesc(item)"></i>
			</div>
		</div>
	</label>
</div>
