


<multiselect-dropdown ng-if="!widget || widget==='dropdown'"  
	model="model" 
	options="options"
	is-edit-mode="isEditMode"
	on-refresh="Func.onRefresh($query)"
	on-select="Func.onSelect($item, $model)"
	on-model-item-select="Func.onModelItemSelect($item)"
	on-remove="Func.onRemove($item)"
	is-tagging="isTagging"
	>
</multiselect-dropdown>

<multiselect-bottom-sheet-opener ng-if="widget==='bottomSheetOpener'"
	model="model" 
	options="options"
	is-edit-mode="isEditMode"
	on-refresh="Func.onRefresh($query)"
	on-select="Func.onSelect($item, $model)"
	on-model-item-select="Func.onModelItemSelect($item)"
	on-remove="Func.onRemove($item)"
	is-tagging="isTagging"
	>
</multiselect-bottom-sheet-opener>


<multiselect-list ng-if="widget==='list'"  
	model="model" 
	options="options"
	is-edit-mode="isEditMode"
	on-refresh="Func.onRefresh($query)"
	on-select="Func.onSelect($item, $model)"
	on-model-item-select="Func.onModelItemSelect($item)"
	on-remove="Func.onRemove($item)"
	is-tagging="isTagging"
	class="tw-h-full tw-flex tw-flex-col"
	>
</multiselect-list>  

<div ng-show="Data.selectedItem" class="tw-relative">
	<div ng-if="hasDescription"
		 style="
			 padding: 10px 0;
			 line-height: 20px;
			text-align: right;">
		<label style="cursor: pointer" ng-click="toggleDescEditMode(true, Data.selectedItem)">توضیحات:</label>
		<p ng-show="!Data.selectedItem.descEditMode" ng-click="toggleDescEditMode(true, Data.selectedItem)">
			{{Data.selectedItem.description}}
		</p>
		<div ng-show="(Data.selectedItem.descEditMode)">
			<textarea type="text" class="form-control" ng-model="Data.selectedItem.description"
					  style="
				font-weight: normal;" maxlength="250">توضیحات رونوشت</textarea>
			<i class="fa fa-check"
			   style="
					left: 22px;
					position: absolute;
					top: 56px;
					   color: #41a264;"
			   tooltip="ثبت توضیحات" ng-click="saveDesc(Data.selectedItem)"></i>
		</div>
	</div>

</div>




<div style="display: flex; justify-content: flex-start;flex-wrap: wrap;" ng-show="!isEditMode">
	<span class="kateb-label kateb-label--default-light " ng-repeat="item in model" >
		<span>
			<i class="fa fa-caret-down fa-btn" ng-click="onOpenClick($index, item)" ng-show="item.type=='GROUP'"></i>
			{{item.title}}
		</span>
<!--		<i class="flaticon-close-button fa-btn pull-left" ng-click="onRemove($index, item); $event.stopPropagation();" ng-show="isEditMode"></i>-->
		<br>
		<div ng-if="item.description"
			 style="
			 	padding: 10px 0;
			 	line-height: 20px;
    			text-align: right;">
			<label style="cursor: pointer" ng-click="toggleDescEditMode(true, item)">توضیحات:</label>
			<p  ng-click="toggleDescEditMode(true, item)">
				{{item.description}}
			</p>
			<div ng-show="(item.descEditMode && isEditMode)">
				<textarea type="text" class="form-control" ng-model="item.description"
				style="
    				font-weight: normal;" maxlength="250">توضیحات رونوشت</textarea>
				<i class="fa fa-check"
				   style="
						left: 22px;
						position: absolute;
						top: 80px;
				   		color: #41a264;"
				   tooltip="ثبت توضیحات" ng-click="saveDesc(item)"></i>
			</div>
		</div>
	</span>
</div>
