<div class="md-input-main">
	<div class="md-input-box">
		<input 
		ng-change="Func.onQueryChange()"
		type="text" 
		class="md-input" 
		ng-model="Data.query" 
		class="md-input"
		placeholder=" "
		/>
<!--                                        <label for="fullName" class="md-label">Full Name</label>-->
		<div class="md-input-underline" >
		</div>
	</div>
	<!-- TODO:change class name of action-icon to general one -->
	<div ng-show="isTagging"
		ng-click="Func.onAddCustomClick()"
		class="action-icon tw-h-full tw-self-center "
		ng-include="'kateb-icon-plus.svg'"></div>
</div>

<ul class="kateb-menu tw-overflow-scroll tw-mt-3 tw-mb-3">
	<li ng-repeat="item in (options | filter:filterFn({$query:Data.query,$appEnumKey:appEnumKey})) track by $index"
	class="kateb-menu__menu-item"
	 ng-click="Func.onSelect(item)">
		<span >{{appEnumKey?(item | appEnum:appEnumKey): item[titlePropKey] || item.title || item}}</span>
	</li>
</ul>


<div class="tw-mt-auto">
	<span class=" chip  chip-default" ng-show="model" >
		<span class="chip__close " ng-click="Func.onRemove()">×</span>
		<span class="tw-p-1" >
			{{appEnumKey?(model | appEnum:appEnumKey): model[titlePropKey] || model.title || model}}
		</span>
	</span>
	
</div>