<script type="text/ng-template" id="secretariat-issued-list-action-button-register">
    <span ng-if="Data.featuresList.indexOf('ACCESS_REG_ISSUED')!=-1" hotkey="{'alt+n': Func.onAddClick}" 
		ng-click="Func.onAddClick()" >
        <!-- web view -->
        <a class="btn btn-icon btn-sm btn-text add-btn hidden-xs" 
		style="margin-right: auto"  >
			<i class="flaticon-letter"></i>ثبت نامه صادره </a>
        <!-- mobile view -->
		<div class="action-icon  visible-xs" ng-include="'kateb-icon-plus.svg'"></div>
    </span>
</script>





<div class="mobile-action-bar hidden-md" >
	<span ng-include="'secretariat-issued-list-action-button-register'"></span>
</div>


<div class="well well-sm action-bar hidden-xs">

    <span ng-include="'secretariat-issued-list-action-button-register'"></span>
</div>

<div class="main-content">
	<div class="kateb-filter-list">
		<div class="hidden-xs" >
			<span >نامه های آماده صدور</span>
			<a tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip-class="customClass"
				tooltip-placement="left" tooltip-popup-delay="500" tooltip="لیست نامه هایی که گیرنده خارج از شرکت داشته و باید نحوه ارسال آن ها مشخص شود."><img
					src="app/assets/img/information-button.png" style="width:12px;" /></a>

		</div>
		<div class="hidden-xs" >
			<vt-search control-fn="Controller.searchController"></vt-search>
		</div>
		<div class="kateb-filter-list__list" >
			<vt-grid control-fn="Controller.listController" 
				options="{
					hideTotalCount: true,
					isMobleView: Data.isMobileView,
					infinitScroll: Data.isMobileView
				}"
			></vt-grid>
		</div>
	</div>
</div>


