


<script type="text/ng-template" id="secretariat-issued-add-acction-btn-close">
    <!--   FIXME:check ng-disable effect on span -->
    <span ng-click="Func.onReturnClick()">
        <!-- web view -->
        <a class="btn btn-sm btn-default btn-text btn-icon hidden-xs"
			 type="button"
			><i class="flaticon-close-button"></i>بستن</a>

        <!-- mobile view -->
		<div class="visible-xs action-icon" ng-include="'kateb-icon-times.svg'">

        </div>

    </span>
</script>

<script type="text/ng-template" id="secretariat-issued-add-acction-btn-send">
    <!--   FIXME:check ng-disable effect on span -->
    <span ng-click="Func.onSendClick()"
	ng-disabled="(form.$invalid && Data.validationClicked) || (form.$valid && Data.disableSendBtn)">
        <!-- web view -->
        <button class="btn btn-default btn-sm btn-text btn-icon hidden-xs" type="button"
				><i class="flaticon-interface-2"></i>ارسال</button>

        <!-- mobile view -->
		<div class="visible-xs action-icon" ng-include="'kateb-icon-paper-plane.svg'">

        </div>

    </span>
</script>

<script type="text/ng-template" id="secretariat-issued-add-acction-btn-reset">
    <!--   FIXME:check ng-disable effect on span -->
    <span ng-show="Data.mode=='edit' || Data.mode=='add'" ng-click="Func.onResetClick()">
        <!-- web view -->
        <a class="btn btn-sm btn-default btn-text btn-icon hidden-xs"
				 type="button"
				><i class="fa fa-refresh"></i>ریست</a>

        <!-- mobile view -->
		<div class="visible-xs action-icon" ng-include="'kateb-icon-times-circle.svg'">

        </div>

    </span>
</script>



<div class="hidden-md mobile-action-bar  ">
	<span ng-include="'secretariat-issued-add-acction-btn-close'"></span>
	<span ng-include="'secretariat-issued-add-acction-btn-send'"></span>
	<span ng-include="'secretariat-issued-add-acction-btn-reset'"></span>
</div>



<div class="hidden-xs">
	<span ng-include="'secretariat-issued-add-acction-btn-close'"></span>
	<span ng-include="'secretariat-issued-add-acction-btn-send'"></span>
	<span ng-include="'secretariat-issued-add-acction-btn-reset'"></span>
</div>

<div class="letter-draft-view">
	<nav class="letter-draft-view-header-menu">
		<ul class="letter-draft-view-header-menu__nav">
			<li role="presentation" class="letter-draft-view-header-menu__nav-item"
				ng-class="{'active':tab.active,'has-error':Data.validationClicked && tab.hasError()}"
				ng-repeat="tab in Data.tabList"
				ng-click="Func.onTabClick(tab)">
				<h5>
					<a class="letter-draft-view-header-menu__nav-item-text">{{tab.title}}</a>
				</h5>
			</li>
		</ul>
	</nav>


	<section class="letter-draft-view__content ">
		<form name="form" class="tw-h-full" novalidate>
			<div class="saad-form" ng-show="Data.selectedTab.id == 0">

					<div class="saad-form__row" ng-class="{'has-error':Data.validationClicked && form.draftSender.$invalid}">
						<label class="saad-form__label" ng-class="{'required':Data.mode!='view'}">امضا کننده</label>
						<div ng-show="Data.mode=='view'" class="saad-form__value">{{Data.draft.sender.title}}</div>
						<div ng-show="Data.mode!='view'" class="saad-form__value dropdown-selector">
							<!-- <i class="fa fa-times" ng-click="Func.onRemoveSenderClick('sender')" ng-show="Data.draft.sender"></i> -->
							<ui-select append-to-body="true" ng-model="Data.draft.sender" required name="draftSender">
								<ui-select-match>{{$select.selected.title}}</ui-select-match>
								<ui-select-choices repeat="item in (Data.senderList | filter: $select.search) track by $index"
												refresh="Func.onSenderRefresh($select.search)" refresh-delay="0">
									<div ng-bind="item.title"></div>
								</ui-select-choices>
							</ui-select>
							<!--<ui-select ng-model="Data.draft.sender" required name="draftSender">
								<ui-select-match>
									<span ng-bind="$select.selected.title"></span>
								</ui-select-match>
								<ui-select-choices repeat="item in (Data.senderList | filter: $select.search) track by $index">
									<span ng-bind="item.title"></span>
								</ui-select-choices>
							</ui-select>-->
						</div>
					</div>
					<div class="saad-form__row">
						<label class="saad-form__label">اقدام کننده</label>
						<div ng-show="Data.mode=='view'" class="saad-form__value">{{Data.draft.actor.title}}</div>
						<div ng-show="Data.mode!='view'" class="saad-form__value dropdown-selector">
							<i class="fa fa-times" ng-click="Func.onRemoveSenderClick('actor')" ng-show="Data.draft.actor"></i>
							<ui-select ng-model="Data.draft.actor" name="draftActor">
								<ui-select-match>{{$select.selected.title}}</ui-select-match>
								<ui-select-choices repeat="item in (Data.senderList | filter: $select.search) track by $index"
												refresh="Func.onSenderRefresh($select.search)" refresh-delay="0">
									<div ng-bind="item.title"></div>
								</ui-select-choices>
							</ui-select>
							<!--<ui-select ng-model="Data.draft.actor" name="draftActor">
								<ui-select-match>
									<span ng-bind="$select.selected.title"></span>
								</ui-select-match>
								<ui-select-choices repeat="item in (Data.senderList | filter: $select.search) track by $index">
									<span ng-bind="item.title"></span>
								</ui-select-choices>
							</ui-select>-->
						</div>
					</div>
					<div class="saad-form__row" ng-class="{'has-error':Data.validationClicked && form.draftDeliveryTo.$invalid}">
						<label class="saad-form__label" ng-class="{'required':Data.mode!='view'}">گیرندگان</label>
						<div class="saad-form__value">
							<multiselect-reciever model="Data.draft.deliveryTo" search-fn="controller.multiselectRecieverSearch(query)"
								ng-model="Data.draft.deliveryTo" name="draftDeliveryTo" vt-array-required
								is-edit-mode="Data.mode!='view'"></multiselect-reciever>
						</div>
					</div>
					<div class="saad-form__row">
						<label class="saad-form__label">رونوشت</label>
						<div class="saad-form__value">
							<multiselect-reciever has-description="true" model="Data.draft.deliveryCc" search-fn="controller.multiselectRecieverSearch(query)"
								is-edit-mode="Data.mode!='view'"></multiselect-reciever>
						</div>
						<div ng-show="Data.mode!='view'" class="col-sm-2">
							<a ng-init="bcc=false" ng-click="bcc = !bcc" ng-show="!bcc" class="pull-left">رونوشت پنهان</a>
						</div>
					</div>
					<div class="saad-form__row" ng-show="bcc || Data.draft.deliveryBcc.length">
						<label class="saad-form__label">رونوشت پنهان</label>
						<div class="saad-form__value">
							<multiselect-reciever has-description="true" model="Data.draft.deliveryBcc" search-fn="controller.multiselectRecieverSearch(query)"
								is-edit-mode="Data.mode!='view'"></multiselect-reciever>
						</div>
					</div>
					<div class="saad-form__row">
						<label class="saad-form__label">برچسب‌ها</label>
						<div class="saad-form__value">
							<multiselect-reciever model="Data.draft.tags" search-fn="controller.multiselectRecieverSearchTags(query)"
												name="draftTags" ng-model="Data.draft.tags"
												is-edit-mode="Data.mode!='view'"></multiselect-reciever>
						</div>
					</div>
					<div class="saad-form__row">
						<label class="saad-form__label">رده موضوعی</label>
						<div ng-show="Data.mode!='view'" class="saad-form__value dropdown-selector">
							<i class="fa fa-times" ng-click="Func.onRemoveSenderClick('topicCategory')" ng-show="Data.topicCategory"></i>
							<ui-select name="topicCategory" ng-model="Data.topicCategory"
									on-select="Func.onSelectTopicCategory($item, $model)">
								<ui-select-match>
									<span ng-bind="$select.selected.title"></span>
								</ui-select-match>
								<ui-select-choices repeat="item in (Data.tagList | filter: $select.search) track by $index"
												refresh="Func.searchTagList($select.search)"
												refresh-delay="0">
									<span ng-bind="item.title"></span>
								</ui-select-choices>
							</ui-select>
						</div>
					</div>
					<!--<div class="saad-form__row">-->
						<!--<label class="saad-form__label">رده موضوعی</label>-->
						<!--<div ng-show="Data.mode!='view'" class="saad-form__value">-->
							<!--<select class="form-control" ng-model="Data.topicCategory" name="topicCategory"-->
								<!--ng-change="Func.onSelectTopicCategory(Data.topicCategory)"-->
								<!--ng-options="tag as tag.title for tag in Data.tagList">-->
							<!--</select>-->
						<!--</div>-->
					<!--</div>-->

					<div class="saad-form__row" ng-class="{'has-error':Data.validationClicked && form.subject.$invalid}">
						<label class="saad-form__label" ng-class="{'required':Data.mode!='view'}">موضوع</label>
						<div ng-show="Data.mode=='view'" class="saad-form__value">{{Data.draft.subject}}</div>

						<div ng-show="Data.mode!='view'" class="saad-form__value">
							<style>
							input.auto-size-input {
								min-width:100%;
								max-width:100%;
							}

							#hidden_span{
								position:absolute;
								top:0px;
								left:0px;
								visibility:hidden;
								width:10px;
								white-space:nowrap;
								overflow:hidden;
							}
							</style>
							<input type="text" class="form-control auto-size-input" ng-init="doAoutoSizeInput()" name="subject" required ng-model="Data.draft.subject"  maxlength="250"/>
							<div id="counter"></div>
							<span id="hidden_span"></span>
						</div>
					</div>

					<div class="saad-form__row" ng-class="{'has-error':Data.validationClicked && form.officialData.$invalid}">
						<label class="saad-form__label" ng-class="{'required':Data.mode!='view'}">تاریخ نامه</label>
						<div ng-show="Data.mode=='view'" class="saad-form__value">
					{{Data.draft.officialDate|tehranDate:'jDD-jMMMM-jYYYY'|EnToFaNumber}}
						</div>
						<div ng-show="Data.mode!='view'" class="saad-form__value">
							<vt-persian-date-picker name="officialData" model="Data.draft.officialDate" ng-model="Data.draft.officialDate" required max-date="Data.officialDateMax"></vt-persian-date-picker>
						</div>
					</div>
					<div class="saad-form__row">
						<label class="saad-form__label">فوریت</label>
						<div ng-show="Data.mode=='view'" class="saad-form__value">{{Data.draft.priority|appEnum:priority}}</div>
						<div ng-show="Data.mode!='view'" class="saad-form__value">
							<select class="form-control" ng-model="Data.draft.priority">
								<option value="Normal">عادی</option>
								<option value="Critical">فوری</option>
								<option value="Blocker">خیلی فوری</option>
							</select>
						</div>
					</div>
					<div class="saad-form__row" ng-show="Data.mode!='view'">
						<label class="saad-form__label">نیاز به پاسخ</label>
						<div class="saad-form__value">
							<input type="checkbox" ng-model="Data.responseNeeded">
						</div>
					</div>
					<div class="saad-form__row" ng-if="Data.responseNeeded">
						<label class="saad-form__label">مهلت پاسخ</label>
						<div ng-show="Data.mode=='view'" class="saad-form__value">
					{{Data.draft.requestResponseDate|tehranDate:'jDD-jMMMM-jYYYY'|EnToFaNumber}}
						</div>
						<div ng-show="Data.mode!='view'" class="saad-form__value">
							<vt-persian-date-picker name="requestResponseDate" min-date="Data.currentDate" model="Data.draft.requestResponseDate"></vt-persian-date-picker>
						</div>
					</div>
					<div class="saad-form__row">
						<label class="saad-form__label">نوع ارسال</label>
						<div class="saad-form__value">
							<select class="form-control" ng-model="Data.draft.sendingStyle" name="receivingStyle">
								<option value="Post">پست</option>
								<option value="Fax">فکس</option>
								<option value="Courier">پیک</option>
							</select>
						</div>
					</div>
					<div class="saad-form__row" ng-class="{'has-error':Data.validationClicked && form.draftPageSize.$invalid}">
						<label class="saad-form__label" ng-class="{'required':Data.mode!='view'}">اندازه صفحه</label>
						<div ng-show="Data.mode=='view'" class="saad-form__value">{{Data.draft.pageSize}}</div>
						<div ng-show="Data.mode!='view'" class="saad-form__value">
							<select class="form-control" ng-model="Data.draft.pageSize" required name="draftPageSize">
								<option value="A4">A4</option>
								<option value="A5">A5</option>
								<option value="B5">B5</option>
							</select>
						</div>
					</div>
					<div class="saad-form__row">
						<label class="saad-form__label">سطح محرمانگی</label>
						<div ng-show="Data.mode=='view'" class="saad-form__value">{{Data.draft.confidentialityLevel|appEnum:confidentialityLevel}}</div>
						<div ng-show="Data.mode!='view'" class="saad-form__value">
							<select class="form-control" ng-model="Data.draft.confidentialityLevel">
								<option value="Unclassified">طبقه بندی نشده</option>
								<option value="Restricted">محرمانه</option>
								<option value="Confidential">فوق محرمانه</option>
								<option value="Secret">سری</option>
								<option value="Top_secret">فوق سری</option>
							</select>
						</div>
					</div>
					<div class="saad-form__row">
						<label class="saad-form__label">توضیحات</label>
						<div ng-show="Data.mode!='view'" class="saad-form__value">
							<textarea type="text" class="form-control" name="description"
								ng-model="Data.draft.description"></textarea>
						</div>
					</div>
					<div ng-if="Data.hasExternalArchives" class="saad-form__row" ng-class="{'has-error':Data.validationClicked && Data.vtFolderSelectorForm.$invalid}">
						<label class="saad-form__label" ng-class="{'required':Data.mode!='view'}">بایگانی نامه</label>
						<div class="saad-form__value">
							<ng-form name="Data.vtFolderSelectorForm">
								<vt-folder-selector model="Data.draft.externalArchive" form-name="Data.vtFolderSelectorForm" required = "Data.mode=='add'"
													is-edit-mode="Data.mode!='view'"></vt-folder-selector>
							</ng-form>
						</div>
					</div>



					<div class="saad-form__row">
						<letter-form-type ng-model="Data.selectedLetterFormType" ng-if="(Data.mode==='view' && Data.draft && Data.draft.forms && Data.draft.forms.length>0) || Data.mode!=='view'"
											apis="Apis" mode="Data.mode" letter="Data.draft" org-uid="Data.orgUid" css-class="col-sm-12" css-class-selector-type="col-sm-10"></letter-form-type>
					</div>
			</div>

			

			<div class="tw-h-full"  ng-show="Data.selectedTab.id == 1">

				<div class="tw-h-full" ng-class="{'has-error':Data.validationClicked && form.draftFileBody.$invalid}">
					<letter-body class="tw-h-full tw-flex tw-flex-col"
					model="Data.draft.fileBody"  ng-required="!Data.scanedFile"  
						name="draftFileBody" ng-model="Data.draft.fileBody"
								is-edit-mode="Data.mode!='view'" api="controller.letterBody"
									on-file-uploaded="loadPdfFn" pdf-url="Data.scanedFile">
					</letter-body>
				</div>
				<div>
					<scanner   isolate-form model="Data.draft.fileBody" api="controller.scanner" ></scanner>
				</div>
			</div>

			<div  ng-if="Data.selectedTab.id == 2">
				<div class="saad-form">

					<div class="saad-form__row">
						<letter-attachment
						model="Data.draft.attachments"
						is-edit-mode="Data.mode!='view'">
						</letter-attachment>

					</div>

				</div>
				
			</div>
		</form>
	</section>

</div>
