<script type="text/ng-template" id="secretariat-issued-action-button-close">
    <span ng-click="Func.onReturnClick()">
        <!-- web view -->
        <a class="btn btn-sm btn-text btn-icon hidden-xs"
				type="button"
				><i class="flaticon-close-button"></i>بستن</a>
        <!-- mobile view -->
        <div class="visible-xs action-icon" ng-include="'kateb-icon-times.svg'">
        </div>

    </span>
</script>






<div class="hidden-md mobile-action-bar  ">
    <span ng-include="'kateb-icon-times.svg'"></span>
</div>

<div class=" hidden-xs">
    <span ng-include="'kateb-icon-times.svg'"></span>

</div>

<div class="letter-draft-view">

    <section class="letter-draft-view__header-summary  visible-xs ">
        <span>نامه (شماره {{Data.letter.internalNumber|EnToFaNumber}}):</span>
        <p class="tw-mr-p-margin tw-text-gray">
            {{Data.draft.subject}}
        </p>
    </section>

    <nav class="letter-draft-view-header-menu">
        <ul class="letter-draft-view-header-menu__nav">
            <li role="presentation" 
                class="letter-draft-view-header-menu__nav-item"
                ng-class="{'active':tab.active}"
                ng-repeat="tab in Data.tabList"
                ng-click="Func.onTabClick(tab)">
                <h5>
                    <a class="letter-draft-view-header-menu__nav-item-text">{{tab.title}}</a>
                </h5>
            </li>
        </ul>
    </nav>
    <section class="letter-draft-view__content ">
        <form name="form" class="tw-h-full" novalidate>

            
			<div class=" " ng-show="Data.selectedTab.id == 0">

                <div class="saad-forms">
                    <div class="saad-form">
                        <div class="saad-form__row">
                            <label class="saad-form__label">شماره نامه</label>
                            <div class="saad-form__value">{{Data.letter.internalNumber|EnToFaNumber}}</div>
                        </div>
                        <div class="saad-form__row">
                            <label class="saad-form__label">موضوع</label>
                            <div class="saad-form__value">
                                {{Data.letter.subject|EnToFaNumber}}
                            </div>
                        </div>
                        <div class="saad-form__row">
                            <label class="saad-form__label">تاریخ اولیه مدرک</label>
                            <div class="saad-form__value">
                                {{Data.letter.officialDate|tehranDate:'jDD-jMMMM-jYYYY'|EnToFaNumber}}
                            </div>
                        </div>
                    </div>
                    
                <div class="saad-form">
                    <div class="saad-form__row">
                        <label class="saad-form__label">گیرندگان</label>
                        <div class="saad-form__value">
                            <span class="kateb-label kateb-label--default-light  "
                                ng-repeat="pua in Data.letter.deliveryTo">
                                {{pua.title}}</span>
                        </div>
                    </div>
                    <div class="saad-form__row" ng-show="Data.letter.initiation.actor.title">
                        <label class="saad-form__label">اقدام کننده</label>
                        <div class="saad-form__value">{{Data.letter.initiation.actor.title}}</div>
                    </div>
                    <div class="saad-form__row" ng-show="Data.letter.deliveryCc.length" >
                        <label class="saad-form__label">رونوشت</label>
                        <div class="saad-form__value">
                            <span class="kateb-label kateb-label--default-light "
                                ng-repeat="pua in Data.letter.deliveryCc">
                                {{pua.title}}</span>
                        </div>
                    </div>
                    <div class="saad-form__row" ng-show="Data.letter.deliveryBcc.length" >
                        <label class="saad-form__label">رونوشت پنهان</label>
                        <div class="saad-form__value">
                            <span class="kateb-label kateb-label--default-light "
                                ng-repeat="pua in Data.letter.deliveryBcc">
                                {{pua.title}}</span>
                        </div>
                    </div>
                    <div class="saad-form__row">
                        <label class="saad-form__label">امضاکننده</label>
                        <div class="saad-form__value">
                            {{Data.letter.initiation.sender.title|EnToFaNumber}}
                        </div>
                    </div>
                    <div class="saad-form__row">
                        <label class="saad-form__label">فوریت</label>
                        <div class="saad-form__value">
                            {{Data.letter.priority|appEnum:priority}}
                        </div>
                    </div>
                    <div class="saad-form__row" ng-show="Data.letter.initiation.header.title">
                        <label class="saad-form__label">سربرگ</label>
                        <div class="saad-form__value">
                            {{Data.letter.initiation.header.title}}
                        </div>
                    </div>
                    <div class="saad-form__row" ng-show="Data.letter.initiation.pageSize">
                        <label class="saad-form__label">اندازه صفحه</label>
                        <div class="saad-form__value">
                            {{Data.letter.initiation.pageSize}}
                        </div>
                    </div>
                    <div class="saad-form__row" ng-show="Data.letter.requestResponseDate">
                        <label class="saad-form__label">مهلت پاسخ</label>
                        <div class="saad-form__value">
                            {{Data.letter.requestResponseDate|tehranDate:'jDD-jMMMM-jYYYY'|EnToFaNumber}}
                        </div>
                    </div>
				</div>
				

                </div>


             
			</div>

			<div class="" ng-show="Data.selectedTab.id == 1">
                <div class="saad-form__row">
                    <letter-body model="Data.letter.fileBody"
                                    is-edit-mode="false"
                                    on-file-uploaded="loadPdfFn">
                    </letter-body>
                    <!--<iframe ng-src="{{Func.trustSrc(Data.pdfUrl)}}" style="height: 600px !important;width: 800px !important;" frameborder="0"></iframe>-->
                    <accordion close-others="false">
                        <accordion-group is-open="print.open" ng-init="print.open=true">
                            <accordion-heading>
                                <span>چاپ</span>
                                <i class="pull-right glyphicon"
                                    ng-class="{'glyphicon-chevron-down': print.open, 'glyphicon-chevron-right': !print.open}"></i>
                            </accordion-heading>
                            <div>
                                <kateb-print disable-checkbox="Data.letter.modifyInProcess" model="Data.letter"
                                                letter-uid="Data.letter.uid"
                                                is-print-with-signature="Data.isPrintWithSignature"
                                                is-print-with-header="Data.isPrintWithHeader"
                                                indecator-number="Data.indecatorNumber" deliverycc="Data.delivery_cc"
                                                deliverybcc="Data.delivery_bcc">
                                </kateb-print>
                            </div>
                        </accordion-group>
                        <accordion-group is-open="attachment.open" ng-init="attachment.open=true">
                            <accordion-heading>
                                <span>ضمیمه</span>
                                <i class="pull-right glyphicon"
                                    ng-class="{'glyphicon-chevron-down': attachment.open, 'glyphicon-chevron-right': !attachment.open}"></i>
                            </accordion-heading>
                            <div>
                                <letter-attachment model="Data.letter.attachments" is-edit-mode="false">
                                </letter-attachment>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
			</div>

			<div class="" ng-show="Data.selectedTab.id == 4">
                <div class="" ng-repeat="recepiant in Data.deliverys" ng-if="recepiant.type == 'THROUGH_SECRETARIAT'">
                    <div class="">
                        <h4>گیرنده: {{recepiant.title}}</h4>
                        <div class="clearfix" ng-show="!Data.showRecepiantForms[$index] && recepiant.dispatches.length">
                            <button class="btn btn-primary pull-left" type="button"
                                    ng-click="Data.showRecepiantForms[$index]=true">ارسال مجدد</button>
                        </div>
                        <div class="saad-form" ng-show="!recepiant.dispatches.length || Data.showRecepiantForms[$index]">
                            <div class="saad-form__row">
                                <label class="saad-form__label">نحوه ارسال</label>
                                <div class="saad-form__value">
                                    <select class="form-control" ng-model="recepiant.dispatches.type" name="receivingStyle">
                                        <option value="Post">پست</option>
                                        <option value="Fax">فکس</option>
                                        <option value="Courier">پیک</option>
                                        <option value="Org">بین سازمان</option>
                                        <option value="Ece">ECEP</option>
                                    </select>
                                </div>
                            </div>
                            <div class="saad-form__row" ng-if="recepiant.dispatches.type == 'Courier'">
                                <label class="saad-form__label">نام پیک</label>
                                <div class="saad-form__value">
                                    <input type="text" class="form-control" ng-model="recepiant.courierName">
                                </div>
                            </div>
                            <div class="saad-form__row" ng-if="recepiant.dispatches.type == 'Fax'">
                                <!--<label class="saad-form__label">انتخاب سازمان</label>
                                <div class="col-sm-4">
                                    <select class="form-control" ng-model="recepiant.organization" name="receivingStyle">
                                        <option value="Post">پست</option>
                                        <option value="Fax">فکس</option>
                                        <option value="Courier">پیک</option>
                                    </select>
                                </div>-->
                                <label class="saad-form__label">شماره فکس</label>
                                <div class="saad-form__value">
                                    <input type="text" class="form-control" ng-model="recepiant.faxNumber">
                                </div>
                            </div>
                            <div class="saad-form__row" ng-if="recepiant.dispatches.type == 'Org'">
                                <label class="saad-form__label">انتخاب سازمان</label>
                                <div class="saad-form__value">
                                    <select class="form-control"
                                            ng-model="Data.organization"
                                            name="organization"
                                            ng-change="Func.onOrganiztionChange(Data.organization)"
                                            ng-options="organization as organization.title for organization in Data.organizationList">
                                    </select>
                                </div>
                                <label class="saad-form__label">انتخاب سمت</label>
                                <div class="saad-form__value">
                                    <ui-select append-to-body="true" ng-model="recepiant.reciverPostionUserAssignment">
                                        <ui-select-match>
                                            <span ng-bind="$select.selected.title"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in (Data.members | filter: $select.search) track by $index">
                                            <span ng-bind="item.title"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="saad-form__row" ng-if="recepiant.dispatches.type == 'Post'">
                                <label class="saad-form__label">کد مرسوله</label>
                                <div class="saad-form__value">
                                    <input type="text" class="form-control" ng-model="recepiant.boxNumber">
                                </div>
                                <label class="saad-form__label">کد پستی</label>
                                <div class="saad-form__value">
                                    <input type="text" class="form-control" ng-model="recepiant.postalCode">
                                </div>
                            </div>
                            <div ng-if="recepiant.dispatches.type == 'Ece'">
                                <!--<div class="saad-form__row">-->
                                    <!--<label class="saad-form__label"></label>-->
                                    <!--<div class="col-sm-4">-->
                                        <!--<button class="btn btn-primary" type="button" ng-click="Func.onLetterDownloadClick()">دریافت نامه</button>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="saad-form__row">
                                    <label class="saad-form__label">سازمان مقصد</label>
                                    <div class="col-sm-4">
                                        <ui-select append-to-body="true" ng-model="Data.selectedDstOrg" on-select="Func.onAddDstOrg($item)">
                                            <ui-select-match>
                                                {{$select.selected.title}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="item in (Data.dstOrgList | filter: $select.search) track by $index"
                                                               refresh="Func.searchDstOrg($select.search)" refresh-delay="0">
                                                {{item.title}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="saad-form__row" ng-repeat="dstOrg in Data.selectedDstOrgList">
                                    <label class="saad-form__label"></label>
                                    <div class="col-sm-4">
                                        {{dstOrg.title}}
                                    </div>
                                    <div class="col-sm-4">
                                        {{dstOrg.eceEmail}}
                                    </div>
                                    <div class="saad-form__label">
                                        <i class="fa fa-times fa-lg" aria-hidden="true"
                                           ng-click="Func.removeSelectedDstOrg($index)"
                                           style="cursor: pointer"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="saad-form__row">
                                <label class="saad-form__label">توضیحات</label>
                                <div class="col-sm-8">
                                    <textarea type="text" class="form-control" name="description" rows="4"
                                              ng-model="recepiant.description"></textarea>
                                </div>
                            </div>
                            <div class="clearfix">
                                <button class="btn btn-primary pull-left"
                                   type="button"
                                   ng-if="Data.featuresList.indexOf('ACCESS_VERIFY_ISSUED')!=-1"
                                   ng-click="Func.onSaveClick(recepiant)"
                                   ng-disabled="(form.$invalid && Data.validationClicked) || (Data.isLoadingSaveClick)">ثبت ارسال</button>
                            </div>
                        </div>
                        <div ng-show="recepiant.dispatches.length" ng-repeat="archive in recepiant.dispatches">
                            <div class="description-attachment col-sm-offset-1 col-sm-9 "
                                ng-if="!recepiant.dispatches.length || Data.isEditForms[$index]" style="margin-top: 15px;">
                                <div class="saad-form__row" ng-if="archive.type == 'COURIER'">
                                    <label class="saad-form__label">نام پیک</label>
                                    <div class="saad-form__value">
                                        <input type="text" class="form-control" ng-model="Data.editedRecepiant[$index].courierName">
                                    </div>
                                </div>
                                <div class="saad-form__row" ng-if="archive.type == 'POST'">
                                    <label class="saad-form__label">کد مرسوله</label>
                                    <div class="saad-form__value">
                                        <input type="text" class="form-control" ng-model="Data.editedRecepiant[$index].boxNumber">
                                    </div>
                                    <label class="saad-form__label">کد پستی</label>
                                    <div class="saad-form__value">
                                        <input type="text" class="form-control" ng-model="Data.editedRecepiant[$index].postalCode">
                                    </div>
                                </div>
                                <div class="saad-form__row">
                                    <label class="saad-form__label">توضیحات</label>
                                    <div class="col-sm-8">
                                        <textarea type="text" class="form-control" name="description" rows="4"
                                            ng-model="Data.editedRecepiant[$index].description"></textarea>
                                        <button class="btn btn-primary pull-left" style="margin-top:10px" type="button"
                                            ng-if="Data.featuresList.indexOf('ACCESS_VERIFY_ISSUED')!=-1"
                                            ng-click="Func.onSaveEditClick($index,archive.uid,archive.type)"
                                            ng-disabled="(form.$invalid && Data.validationClicked) ">ثبت </button>
                                        <button class="btn btn-primary pull-right" style="margin-top:10px" type="button"
                                            ng-if="Data.featuresList.indexOf('ACCESS_VERIFY_ISSUED')!=-1" ng-click="Func.onCancelEditClick($index)"
                                            ng-disabled="(form.$invalid && Data.validationClicked)">انصراف </button>
                                    </div>
                                </div>
                            </div>
                            <div class="description-attachment col-sm-offset-1 col-sm-9 archive-history">
                                <div class="col-sm-6" ng-if="archive.sendingOperator.title">
                                    <label>فرستنده</label>
                                    <span>{{archive.sendingOperator.title}}</span>
                                </div>
                                <div class="col-sm-6" ng-if="archive.sendDate">
                                    <label>تاریخ</label>
                                    <span>{{archive.sendDate|tehranDate:'jDD-jMMMM-jYYYY'|EnToFaNumber}}</span>
                                </div>
                                <div class="col-sm-6" ng-if="archive.boxNumber && archive.type=='POST'">
                                    <label>کد مرسوله</label>
                                    <span>{{archive.boxNumber|appEnum}}</span>
                                </div>
                                <div class="col-sm-6" ng-if="archive.postalCode && archive.type=='POST'">
                                    <label>کد پستی</label>
                                    <span>{{archive.postalCode|appEnum}}</span>
                                </div>
                                <div class="col-sm-6" ng-if="archive.courierName && archive.type=='COURIER'">
                                    <label>نام پیک</label>
                                    <span>{{archive.courierName|appEnum}}</span>
                                </div>
                                <div class="col-sm-6" ng-if="archive.type">
                                    <label>نحوه ارسال</label>
                                    <span>{{archive.type|appEnum}}</span>
                                </div>
                                <div class="col-sm-6" ng-if="archive.destOrganization">
                                    <label>سازمان</label>
                                    <span>{{archive.destOrganization.title}}</span>
                                </div>
                                <div class="col-sm-6" ng-if="archive.faxNumber">
                                    <label>شماره فکس</label>
                                    <span>{{archive.faxNumber|EnToFaNumber}}</span>
                                </div>
                                <div class="" ng-if="archive.description">
                                    <label>توضیحات</label>
                                    <span>{{archive.description}}</span>
                                </div>
                                <div class="" ng-if="archive.returnDate">
                                    <label>تاریخ بازگشت</label>
                                    <span>{{archive.returnDate|tehranDate:'jDD-jMMMM-jYYYY'|EnToFaNumber}}</span>
                                </div>
                                <div class="" ng-if="archive.returnDescription">
                                    <label>توضیحات بازگشت</label>
                                    <span>{{archive.returnDescription}}</span>
                                </div>
                                <div class="" ng-if="archive.destEceExternalOrganization">
                                    <label>سازمان مقصد</label>
                                    <span>{{archive.destEceExternalOrganization.title}}</span>
                                </div>
                                <div class="" ng-if="archive.eceEmail">
                                    <label>ایمیل مقصد</label>
                                    <span>{{archive.eceEmail}}</span>
                                </div>
                                <button ng-if="archive.type=='COURIER' || archive.type=='POST'" class="btn btn-primary pull-left"  type="button" ng-click="Func.getRecepiantDispatches($index,archive)">ویرایش</button>
                            </div>
                        </div>
                        <div class="row" ng-hide="$last">
                            <div class=""><hr></div>
                        </div>
                    </div>
                </div>
			</div>
            <div class="" ng-show="Data.selectedTab.id == 8">
                <div class="saad-form__row">
                    <div class="col-sm-8">
                        <vt-archived-letter-list api="Controller.archivedLetterListApi"></vt-archived-letter-list>
                    </div>
                    <div ng-if="Data.hasExternalArchives" class="col-sm-4">
                        <div class="saad-form__row">
                            <label class="" style="text-align: right;">بایگانی نامه</label>
                        </div>
                        <div class="saad-form__row">
                            <div class="col-sm-offset-1 col-sm-11">
                                <ng-form name="Data.vtFolderSelectorForm">
                                    <vt-folder-selector model="Data.selectedFolder" has-upload="true"
                                                        is-edit-mode="true" form-name="Data.vtFolderSelectorForm"
                                                        upload-fn="Func.onFolderUploadFn()" modernization-code-placement="'right'"></vt-folder-selector>
                                </ng-form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>


</div>

