<div class="panel panel-default">
	<div class="panel-body"  style="border-bottom: 1px solid #ddd">
		<div class="col-sm-12">
			<a class="btn btn-sm btn-text btn-icon"
				type="button"
				ng-click="Func.onReturnClick()"><i class="flaticon-close-button"></i>بستن</a>
			<!--<a class="btn btn-sm btn-text btn-icon"-->
				<!--type="button"-->
				<!--ng-if="Data.featuresList.indexOf('ACCESS_VERIFY_ISSUED')!=-1"-->
				<!--ng-click="Func.onSaveClick()"-->
				<!--ng-disabled="form.$invalid && Data.validationClicked"><i class="flaticon-technology"></i>{{'SAVE'|EnToFaButton}}</a>-->
		</div>
	</div>
</div>
<div class="panel panel-primary">
	<div class="panel-body">
		<ul class="nav nav-tabs">
			<li role="presentation" ng-class="{'active':tab.active}"
				ng-repeat="tab in Data.tabList"
				ng-click="Func.onTabClick(tab)"><a>{{tab.title}}</a></li>
		</ul>

		<form>
			<div class="col-sm-12 form-flex" ng-show="Data.selectedTab.id == 0">
                <div class="c1">
                    <div class="row rowForm">
                        <label class="col-sm-5">شماره نامه</label>
                        <div class="col-sm-7">{{Data.letter.internalNumber|EnToFaNumber}}</div>
                    </div>
                    <div class="row rowForm">
                        <label class="col-sm-5">موضوع</label>
                        <div class="col-sm-7">
                            {{Data.letter.subject|EnToFaNumber}}
                        </div>
                    </div>
                    <div class="row rowForm">
                        <label class="col-sm-5">تاریخ اولیه مدرک</label>
                        <div class="col-sm-7">
                            {{Data.letter.officialDate|tehranDate:'jDD-jMMMM-jYYYY'|EnToFaNumber}}
                        </div>
                    </div>
                    
                </div>
                <div class="c2">
                    <div class="row rowForm">
                        <label class="col-sm-5">گیرندگان</label>
                        <div class="col-sm-7">
                            <label class="label label-default label-repeat col-sm-12"
                                ng-repeat="pua in Data.letter.deliveryTo">
                                {{pua.title}}</label>
                        </div>
                    </div>
                    <div class="row rowForm" ng-show="Data.letter.initiation.actor.title">
                        <label class="col-sm-5">اقدام کننده</label>
                        <div class="col-sm-7">{{Data.letter.initiation.actor.title}}</div>
                    </div>
                    <div class="row rowForm" ng-show="Data.letter.deliveryCc.length" >
                        <label class="col-sm-5">رونوشت</label>
                        <div class="col-sm-7">
                            <label class="label label-default label-repeat"
                                ng-repeat="pua in Data.letter.deliveryCc">
                                {{pua.title}}</label>
                        </div>
                    </div>
                    <div class="row rowForm" ng-show="Data.letter.deliveryBcc.length" >
                        <label class="col-sm-5">رونوشت پنهان</label>
                        <div class="col-sm-7">
                            <label class="label label-default label-repeat"
                                ng-repeat="pua in Data.letter.deliveryBcc">
                                {{pua.title}}</label>
                        </div>
                    </div>
                    <div class="row rowForm">
                        <label class="col-sm-5">امضاکننده</label>
                        <div class="col-sm-7">
                            {{Data.letter.initiation.sender.title|EnToFaNumber}}
                        </div>
                    </div>
                    <div class="row rowForm">
                        <label class="col-sm-5">فوریت</label>
                        <div class="col-sm-7">
                            {{Data.letter.priority|appEnum:priority}}
                        </div>
                    </div>
                    <div class="row rowForm" ng-show="Data.letter.initiation.header.title">
                        <label class="col-sm-5">سربرگ</label>
                        <div class="col-sm-7">
                            {{Data.letter.initiation.header.title}}
                        </div>
                    </div>
                    <div class="row rowForm" ng-show="Data.letter.initiation.pageSize">
                        <label class="col-sm-5">اندازه صفحه</label>
                        <div class="col-sm-7">
                            {{Data.letter.initiation.pageSize}}
                        </div>
                    </div>
                    <div class="row rowForm" ng-show="Data.letter.requestResponseDate">
                        <label class="col-sm-5">مهلت پاسخ</label>
                        <div class="col-sm-7">
                            {{Data.letter.requestResponseDate|tehranDate:'jDD-jMMMM-jYYYY'|EnToFaNumber}}
                        </div>
                    </div>
				</div>
				<!-- <div class="row rowForm">
					<label class="col-sm-5">دفتر اندیکاتور</label>
					<div class="col-sm-7">
						<select class="form-control"
								ng-model="Data.indicatorBook"
								name="indicatorBook"
								ng-change="Func.onSelectIndicatorBook(Data.indicatorBook)"
								ng-options="indicatorBook as indicatorBook.title for indicatorBook in Data.indicatorBookList">
						</select>
					</div>
				</div> -->
			</div>

			<div class="col-sm-12" ng-show="Data.selectedTab.id == 1">
                <div class="row rowForm">
                    <div class="col-sm-8">
                        <letter-body model="Data.letter.fileBody"
                                     is-edit-mode="false"
                                     on-file-uploaded="loadPdfFn">
                        </letter-body>
                    </div>
                    <!--<iframe ng-src="{{Func.trustSrc(Data.pdfUrl)}}" style="height: 600px !important;width: 800px !important;" frameborder="0"></iframe>-->
                    <div class="col-sm-4">
                        <accordion close-others="false">
                            <accordion-group is-open="print.open" ng-init="print.open=true">
                                <accordion-heading>
                                    <span>چاپ</span>
                                    <i class="pull-right glyphicon"
                                       ng-class="{'glyphicon-chevron-down': print.open, 'glyphicon-chevron-right': !print.open}"></i>
                                </accordion-heading>
                                <div>
                                    <kateb-print disable-checkbox="Data.letter.modifyInProcess" model="Data.letter"
                                                 letter-uid="Data.letter.uid"
                                                 is-print-with-signature="Data.isPrintWithSignature"
                                                 is-print-with-header="Data.isPrintWithHeader"
                                                 indecator-number="Data.indecatorNumber" deliverycc="Data.delivery_cc"
                                                 deliverybcc="Data.delivery_bcc">
                                    </kateb-print>
                                </div>
                            </accordion-group>
                            <accordion-group is-open="attachment.open" ng-init="attachment.open=true">
                                <accordion-heading>
                                    <span>ضمیمه</span>
                                    <i class="pull-right glyphicon"
                                       ng-class="{'glyphicon-chevron-down': attachment.open, 'glyphicon-chevron-right': !attachment.open}"></i>
                                </accordion-heading>
                                <div>
                                    <letter-attachment model="Data.letter.attachments" is-edit-mode="false">
                                    </letter-attachment>
                                </div>
                            </accordion-group>
                        </accordion>
                    </div>
                </div>
			</div>

			<!--<div class="col-sm-12" ng-show="Data.selectedTab.id == 2">
				<letter-attachment model="Data.letter.attachments" is-edit-mode="false">
                </letter-attachment>
			</div>-->
			<!--<div class="col-sm-7" ng-show="Data.selectedTab.id == 3">
			   <kateb-print disable-checkbox="Data.letter.modifyInProcess" model="Data.letter" letter-uid="Data.letter.uid" is-print-with-signature="Data.isPrintWithSignature" is-print-with-header="Data.isPrintWithHeader" indecator-number="Data.indecatorNumber" deliverycc= "Data.delivery_cc" deliverybcc ="Data.delivery_bcc"></kateb-print>
	     	</div>-->
			<div class="col-sm-12" ng-show="Data.selectedTab.id == 4">
                <div class="row" ng-repeat="recepiant in Data.deliverys" ng-if="recepiant.type == 'THROUGH_SECRETARIAT'">
                    <div class="col-sm-12">
                        <h4>گیرنده: {{recepiant.title}}</h4>
                        <div class="clearfix" ng-show="!Data.showRecepiantForms[$index] && recepiant.dispatches.length">
                            <button class="btn btn-primary pull-left" type="button"
                                    ng-click="Data.showRecepiantForms[$index]=true">ارسال مجدد</button>
                        </div>
                        <div ng-show="!recepiant.dispatches.length || Data.showRecepiantForms[$index]">
                            <div class="row rowForm">
                                <label class="col-sm-2">نحوه ارسال</label>
                                <div class="col-sm-3">
                                    <select class="form-control" ng-model="recepiant.dispatches.type" name="receivingStyle">
                                        <option value="Post">پست</option>
                                        <option value="Fax">فکس</option>
                                        <option value="Courier">پیک</option>
                                        <option value="Org">بین سازمان</option>
                                        <option value="Ece">ECEP</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row rowForm" ng-if="recepiant.dispatches.type == 'Courier'">
                                <label class="col-sm-2">نام پیک</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" ng-model="recepiant.courierName">
                                </div>
                            </div>
                            <div class="row rowForm" ng-if="recepiant.dispatches.type == 'Fax'">
                                <!--<label class="col-sm-2">انتخاب سازمان</label>
                                <div class="col-sm-4">
                                    <select class="form-control" ng-model="recepiant.organization" name="receivingStyle">
                                        <option value="Post">پست</option>
                                        <option value="Fax">فکس</option>
                                        <option value="Courier">پیک</option>
                                    </select>
                                </div>-->
                                <label class="col-sm-2">شماره فکس</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" ng-model="recepiant.faxNumber">
                                </div>
                            </div>
                            <div class="row rowForm" ng-if="recepiant.dispatches.type == 'Org'">
                                <label class="col-sm-2">انتخاب سازمان</label>
                                <div class="col-sm-3">
                                    <select class="form-control"
                                            ng-model="Data.organization"
                                            name="organization"
                                            ng-change="Func.onOrganiztionChange(Data.organization)"
                                            ng-options="organization as organization.title for organization in Data.organizationList">
                                    </select>
                                </div>
                                <label class="col-sm-2">انتخاب سمت</label>
                                <div class="col-sm-3">
                                    <ui-select ng-model="recepiant.reciverPostionUserAssignment">
                                        <ui-select-match>
                                            <span ng-bind="$select.selected.title"></span>
                                        </ui-select-match>
                                        <ui-select-choices repeat="item in (Data.members | filter: $select.search) track by $index">
                                            <span ng-bind="item.title"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="row rowForm" ng-if="recepiant.dispatches.type == 'Post'">
                                <label class="col-sm-2">کد مرسوله</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" ng-model="recepiant.boxNumber">
                                </div>
                                <label class="col-sm-2">کد پستی</label>
                                <div class="col-sm-3">
                                    <input type="text" class="form-control" ng-model="recepiant.postalCode">
                                </div>
                            </div>
                            <div ng-if="recepiant.dispatches.type == 'Ece'">
                                <!--<div class="row rowForm">-->
                                    <!--<label class="col-sm-2"></label>-->
                                    <!--<div class="col-sm-4">-->
                                        <!--<button class="btn btn-primary" type="button" ng-click="Func.onLetterDownloadClick()">دریافت نامه</button>-->
                                    <!--</div>-->
                                <!--</div>-->
                                <div class="row rowForm">
                                    <label class="col-sm-2">سازمان مقصد</label>
                                    <div class="col-sm-4">
                                        <ui-select ng-model="Data.selectedDstOrg" on-select="Func.onAddDstOrg($item)">
                                            <ui-select-match>
                                                {{$select.selected.title}}
                                            </ui-select-match>
                                            <ui-select-choices repeat="item in (Data.dstOrgList | filter: $select.search) track by $index"
                                                               refresh="Func.searchDstOrg($select.search)" refresh-delay="0">
                                                {{item.title}}
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="row rowForm" ng-repeat="dstOrg in Data.selectedDstOrgList">
                                    <label class="col-sm-2"></label>
                                    <div class="col-sm-4">
                                        {{dstOrg.title}}
                                    </div>
                                    <div class="col-sm-4">
                                        {{dstOrg.eceEmail}}
                                    </div>
                                    <div class="col-sm-2">
                                        <i class="fa fa-times fa-lg" aria-hidden="true"
                                           ng-click="Func.removeSelectedDstOrg($index)"
                                           style="cursor: pointer"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="row rowForm">
                                <label class="col-sm-2">توضیحات</label>
                                <div class="col-sm-8">
                                    <textarea type="text" class="form-control" name="description" rows="4"
                                              ng-model="recepiant.description"></textarea>
                                </div>
                            </div>
                            <div class="clearfix">
                                <button class="btn btn-primary pull-left"
                                   type="button"
                                   ng-if="Data.featuresList.indexOf('ACCESS_VERIFY_ISSUED')!=-1"
                                   ng-click="Func.onSaveClick(recepiant)"
                                   ng-disabled="(form.$invalid && Data.validationClicked) || (Data.isLoadingSaveClick)">ثبت ارسال</button>
                            </div>
                        </div>
                        <div ng-show="recepiant.dispatches.length" ng-repeat="archive in recepiant.dispatches">
                            <div class="description-attachment col-sm-offset-1 col-sm-9 "
                                ng-if="!recepiant.dispatches.length || Data.isEditForms[$index]" style="margin-top: 15px;">
                                <div class="row rowForm" ng-if="archive.type == 'COURIER'">
                                    <label class="col-sm-2">نام پیک</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" ng-model="Data.editedRecepiant[$index].courierName">
                                    </div>
                                </div>
                                <div class="row rowForm" ng-if="archive.type == 'POST'">
                                    <label class="col-sm-2">کد مرسوله</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" ng-model="Data.editedRecepiant[$index].boxNumber">
                                    </div>
                                    <label class="col-sm-2">کد پستی</label>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control" ng-model="Data.editedRecepiant[$index].postalCode">
                                    </div>
                                </div>
                                <div class="row rowForm">
                                    <label class="col-sm-2">توضیحات</label>
                                    <div class="col-sm-8">
                                        <textarea type="text" class="form-control" name="description" rows="4"
                                            ng-model="Data.editedRecepiant[$index].description"></textarea>
                                        <button class="btn btn-primary pull-left" style="margin-top:10px" type="button"
                                            ng-if="Data.featuresList.indexOf('ACCESS_VERIFY_ISSUED')!=-1"
                                            ng-click="Func.onSaveEditClick($index,archive.uid,archive.type)"
                                            ng-disabled="(form.$invalid && Data.validationClicked) ">ثبت </button>
                                        <button class="btn btn-primary pull-right" style="margin-top:10px" type="button"
                                            ng-if="Data.featuresList.indexOf('ACCESS_VERIFY_ISSUED')!=-1" ng-click="Func.onCancelEditClick($index)"
                                            ng-disabled="(form.$invalid && Data.validationClicked)">انصراف </button>
                                    </div>
                                </div>
                            </div>
                            <div class="description-attachment col-sm-offset-1 col-sm-9 archive-history">
                                <div class="col-sm-6" ng-if="archive.sendingOperator.title">
                                    <label>فرستنده</label>
                                    <span>{{archive.sendingOperator.title}}</span>
                                </div>
                                <div class="col-sm-6" ng-if="archive.sendDate">
                                    <label>تاریخ</label>
                                    <span>{{archive.sendDate|tehranDate:'jDD-jMMMM-jYYYY'|EnToFaNumber}}</span>
                                </div>
                                <div class="col-sm-6" ng-if="archive.boxNumber && archive.type=='POST'">
                                    <label>کد مرسوله</label>
                                    <span>{{archive.boxNumber|appEnum}}</span>
                                </div>
                                <div class="col-sm-6" ng-if="archive.postalCode && archive.type=='POST'">
                                    <label>کد پستی</label>
                                    <span>{{archive.postalCode|appEnum}}</span>
                                </div>
                                <div class="col-sm-6" ng-if="archive.courierName && archive.type=='COURIER'">
                                    <label>نام پیک</label>
                                    <span>{{archive.courierName|appEnum}}</span>
                                </div>
                                <div class="col-sm-6" ng-if="archive.type">
                                    <label>نحوه ارسال</label>
                                    <span>{{archive.type|appEnum}}</span>
                                </div>
                                <div class="col-sm-6" ng-if="archive.destOrganization">
                                    <label>سازمان</label>
                                    <span>{{archive.destOrganization.title}}</span>
                                </div>
                                <div class="col-sm-6" ng-if="archive.faxNumber">
                                    <label>شماره فکس</label>
                                    <span>{{archive.faxNumber|EnToFaNumber}}</span>
                                </div>
                                <div class="col-sm-12" ng-if="archive.description">
                                    <label>توضیحات</label>
                                    <span>{{archive.description}}</span>
                                </div>
                                <div class="col-sm-12" ng-if="archive.returnDate">
                                    <label>تاریخ بازگشت</label>
                                    <span>{{archive.returnDate|tehranDate:'jDD-jMMMM-jYYYY'|EnToFaNumber}}</span>
                                </div>
                                <div class="col-sm-12" ng-if="archive.returnDescription">
                                    <label>توضیحات بازگشت</label>
                                    <span>{{archive.returnDescription}}</span>
                                </div>
                                <div class="col-sm-12" ng-if="archive.destEceExternalOrganization">
                                    <label>سازمان مقصد</label>
                                    <span>{{archive.destEceExternalOrganization.title}}</span>
                                </div>
                                <div class="col-sm-12" ng-if="archive.eceEmail">
                                    <label>ایمیل مقصد</label>
                                    <span>{{archive.eceEmail}}</span>
                                </div>
                                <button ng-if="archive.type=='COURIER' || archive.type=='POST'" class="btn btn-primary pull-left"  type="button" ng-click="Func.getRecepiantDispatches($index,archive)">ویرایش</button>
                            </div>
                        </div>
                        <div class="row" ng-hide="$last">
                            <div class="col-sm-12"><hr></div>
                        </div>
                    </div>
                </div>
			</div>
            <div class="col-sm-12" ng-show="Data.selectedTab.id == 8">
                <div class="row rowForm">
                    <div class="col-sm-8">
                        <vt-archived-letter-list api="Controller.archivedLetterListApi"></vt-archived-letter-list>
                    </div>
                    <div ng-if="Data.hasExternalArchives" class="col-sm-4">
                        <div class="row rowForm">
                            <label class="col-sm-12" style="text-align: right;">بایگانی نامه</label>
                        </div>
                        <div class="row rowForm">
                            <div class="col-sm-offset-1 col-sm-11">
                                <ng-form name="Data.vtFolderSelectorForm">
                                    <vt-folder-selector model="Data.selectedFolder" has-upload="true"
                                                        is-edit-mode="true" form-name="Data.vtFolderSelectorForm"
                                                        upload-fn="Func.onFolderUploadFn()" modernization-code-placement="'right'"></vt-folder-selector>
                                </ng-form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</form>
