<div class="panel panel-default">
	<div class="panel-body">
		<div class="col-sm-12">
			<a class="btn btn-sm btn-default btn-text btn-icon"
			ng-show="true" type="button"
			ng-click="Func.onReturnClick()"><i class="flaticon-close-button"></i>بستن</a>
			<button class="btn btn-default btn-sm btn-text btn-icon" type="button"
				ng-click="Func.onSendClick()"
			   ng-disabled="(form.$invalid && Data.validationClicked) || (form.$valid && Data.disableSendBtn)"><i class="flaticon-interface-2"></i>ارسال</button>
			<a class="btn btn-sm btn-default btn-text btn-icon"
				ng-show="Data.mode=='edit' || Data.mode=='add'" type="button"
				ng-click="Func.onResetClick()"><i class="fa fa-refresh"></i>ریست</a>
		</div>
	</div>
</div>
<div class="panel panel-primary">
	<div class="panel-body">
		<ul class="nav nav-tabs">
			<li role="presentation" ng-class="{'active':tab.active}"
				ng-repeat="tab in Data.tabList"
				ng-click="Func.onTabClick(tab)"><a>{{tab.title}}</a></li>
		</ul>

		<form name="form" novalidate>
			<div class="row col-sm-12">
				<div class="col-sm-6" ng-show="Data.selectedTab.id == 0">
					<div class="row rowForm" ng-class="{'has-error':Data.validationClicked && form.draftSender.$invalid}">
						<label class="col-sm-5" ng-class="{'required':Data.mode!='view'}">امضا کننده</label>
						<div ng-show="Data.mode=='view'" class="col-sm-7">{{Data.draft.sender.title}}</div>
						<div ng-show="Data.mode!='view'" class="col-sm-7 dropdown-selector">
							<i class="fa fa-times" ng-click="Func.onRemoveSenderClick('sender')" ng-show="Data.draft.sender"></i>
							<ui-select ng-model="Data.draft.sender" required name="draftSender">
								<ui-select-match>{{$select.selected.title}}</ui-select-match>
								<ui-select-choices repeat="item in (Data.senderList | filter: $select.search) track by $index"
												refresh="Func.onSenderRefresh($select.search)" refresh-delay="0">
									<div ng-bind="item.title"></div>
								</ui-select-choices>
							</ui-select>
							<!--<ui-select ng-model="Data.draft.sender" required name="draftSender">
								<ui-select-match>
									<span ng-bind="$select.selected.title"></span>
								</ui-select-match>
								<ui-select-choices repeat="item in (Data.senderList | filter: $select.search) track by $index">
									<span ng-bind="item.title"></span>
								</ui-select-choices>
							</ui-select>-->
						</div>
					</div>
					<div class="row rowForm">
						<label class="col-sm-5">اقدام کننده</label>
						<div ng-show="Data.mode=='view'" class="col-sm-7">{{Data.draft.actor.title}}</div>
						<div ng-show="Data.mode!='view'" class="col-sm-7 dropdown-selector">
							<i class="fa fa-times" ng-click="Func.onRemoveSenderClick('actor')" ng-show="Data.draft.actor"></i>
							<ui-select ng-model="Data.draft.actor" name="draftActor">
								<ui-select-match>{{$select.selected.title}}</ui-select-match>
								<ui-select-choices repeat="item in (Data.senderList | filter: $select.search) track by $index"
												refresh="Func.onSenderRefresh($select.search)" refresh-delay="0">
									<div ng-bind="item.title"></div>
								</ui-select-choices>
							</ui-select>
							<!--<ui-select ng-model="Data.draft.actor" name="draftActor">
								<ui-select-match>
									<span ng-bind="$select.selected.title"></span>
								</ui-select-match>
								<ui-select-choices repeat="item in (Data.senderList | filter: $select.search) track by $index">
									<span ng-bind="item.title"></span>
								</ui-select-choices>
							</ui-select>-->
						</div>
					</div>
					<div class="row rowForm" ng-class="{'has-error':Data.validationClicked && form.draftDeliveryTo.$invalid}">
						<label class="col-sm-5" ng-class="{'required':Data.mode!='view'}">گیرندگان</label>
						<div class="col-sm-7">
							<multiselect-reciever model="Data.draft.deliveryTo" search-fn="controller.multiselectRecieverSearch(query)"
								ng-model="Data.draft.deliveryTo" name="draftDeliveryTo" vt-array-required
								is-edit-mode="Data.mode!='view'"></multiselect-reciever>
						</div>
					</div>
					<div class="row rowForm">
						<label class="col-sm-5">رونوشت</label>
						<div class="col-sm-5">
							<multiselect-reciever has-description="true" model="Data.draft.deliveryCc" search-fn="controller.multiselectRecieverSearch(query)"
								is-edit-mode="Data.mode!='view'"></multiselect-reciever>
						</div>
						<div ng-show="Data.mode!='view'" class="col-sm-2">
							<a ng-init="bcc=false" ng-click="bcc = !bcc" ng-show="!bcc" class="pull-left">رونوشت پنهان</a>
						</div>
					</div>
					<div class="row rowForm" ng-show="bcc || Data.draft.deliveryBcc.length">
						<label class="col-sm-5">رونوشت پنهان</label>
						<div class="col-sm-5">
							<multiselect-reciever has-description="true" model="Data.draft.deliveryBcc" search-fn="controller.multiselectRecieverSearch(query)"
								is-edit-mode="Data.mode!='view'"></multiselect-reciever>
						</div>
					</div>
					<div class="row rowForm">
						<label class="col-sm-5">برچسب‌ها</label>
						<div class="col-sm-7">
							<!--<multiselect model="Data.draft.tags" options="Data.tagList"-->
								<!--is-edit-mode="Data.mode!='view'"></multiselect>-->
							<multiselect-reciever model="Data.draft.tags" search-fn="controller.multiselectRecieverSearchTags(query)"
												name="draftTags" ng-model="Data.draft.tags"
												is-edit-mode="Data.mode!='view'"></multiselect-reciever>
						</div>
					</div>
					<div class="row rowForm">
						<label class="col-sm-5">رده موضوعی</label>
						<div ng-show="Data.mode!='view'" class="col-sm-7 dropdown-selector">
							<i class="fa fa-times" ng-click="Func.onRemoveSenderClick('topicCategory')" ng-show="Data.topicCategory"></i>
							<ui-select name="topicCategory" ng-model="Data.topicCategory"
									on-select="Func.onSelectTopicCategory($item, $model)">
								<ui-select-match>
									<span ng-bind="$select.selected.title"></span>
								</ui-select-match>
								<ui-select-choices repeat="item in (Data.tagList | filter: $select.search) track by $index"
												refresh="Func.searchTagList($select.search)"
												refresh-delay="0">
									<span ng-bind="item.title"></span>
								</ui-select-choices>
							</ui-select>
						</div>
					</div>
					<!--<div class="row rowForm">-->
						<!--<label class="col-sm-5">رده موضوعی</label>-->
						<!--<div ng-show="Data.mode!='view'" class="col-sm-7">-->
							<!--<select class="form-control" ng-model="Data.topicCategory" name="topicCategory"-->
								<!--ng-change="Func.onSelectTopicCategory(Data.topicCategory)"-->
								<!--ng-options="tag as tag.title for tag in Data.tagList">-->
							<!--</select>-->
						<!--</div>-->
					<!--</div>-->

					<div class="row rowForm" ng-class="{'has-error':Data.validationClicked && form.subject.$invalid}">
						<label class="col-sm-5" ng-class="{'required':Data.mode!='view'}">موضوع</label>
						<div ng-show="Data.mode=='view'" class="col-sm-7">{{Data.draft.subject}}</div>

						<div ng-show="Data.mode!='view'" class="col-sm-7">
							<style>
							input.auto-size-input {
								min-width:100%;
								max-width:100%;
							}

							#hidden_span{
								position:absolute;
								top:0px;
								left:0px;
								visibility:hidden;
								width:10px;
								white-space:nowrap;
								overflow:hidden;
							}
							</style>
							<input type="text" class="form-control auto-size-input" ng-init="doAoutoSizeInput()" name="subject" required ng-model="Data.draft.subject"  maxlength="250"/>
							<div id="counter"></div>
							<span id="hidden_span"></span>
						</div>
					</div>

				<div class="row rowForm" ng-class="{'has-error':Data.validationClicked && form.officialData.$invalid}">
					<label class="col-sm-5" ng-class="{'required':Data.mode!='view'}">تاریخ نامه</label>
					<div ng-show="Data.mode=='view'" class="col-sm-7">
				{{Data.draft.officialDate|tehranDate:'jDD-jMMMM-jYYYY'|EnToFaNumber}}
					</div>
					<div ng-show="Data.mode!='view'" class="col-sm-7">
						<vt-persian-date-picker name="officialData" model="Data.draft.officialDate" ng-model="Data.draft.officialDate" required max-date="Data.officialDateMax"></vt-persian-date-picker>
					</div>
				</div>
				<div class="row rowForm">
					<label class="col-sm-5">فوریت</label>
					<div ng-show="Data.mode=='view'" class="col-sm-7">{{Data.draft.priority|appEnum:priority}}</div>
					<div ng-show="Data.mode!='view'" class="col-sm-7">
						<select class="form-control" ng-model="Data.draft.priority">
							<option value="Normal">عادی</option>
							<option value="Critical">فوری</option>
							<option value="Blocker">خیلی فوری</option>
						</select>
					</div>
				</div>
				<div class="row rowForm" ng-show="Data.mode!='view'">
					<label class="col-sm-5">نیاز به پاسخ</label>
					<div class="col-sm-7">
						<input type="checkbox" ng-model="Data.responseNeeded">
					</div>
				</div>
				<div class="row rowForm" ng-if="Data.responseNeeded">
					<label class="col-sm-5">مهلت پاسخ</label>
					<div ng-show="Data.mode=='view'" class="col-sm-7">
				{{Data.draft.requestResponseDate|tehranDate:'jDD-jMMMM-jYYYY'|EnToFaNumber}}
					</div>
					<div ng-show="Data.mode!='view'" class="col-sm-7">
						<vt-persian-date-picker name="requestResponseDate" min-date="Data.currentDate" model="Data.draft.requestResponseDate"></vt-persian-date-picker>
					</div>
				</div>
				<div class="row rowForm">
					<label class="col-sm-5">نوع ارسال</label>
					<div class="col-sm-7">
						<select class="form-control" ng-model="Data.draft.sendingStyle" name="receivingStyle">
							<option value="Post">پست</option>
							<option value="Fax">فکس</option>
							<option value="Courier">پیک</option>
						</select>
					</div>
				</div>
                <div class="row rowForm" ng-class="{'has-error':Data.validationClicked && form.draftPageSize.$invalid}">
					<label class="col-sm-5" ng-class="{'required':Data.mode!='view'}">اندازه صفحه</label>
					<div ng-show="Data.mode=='view'" class="col-sm-7">{{Data.draft.pageSize}}</div>
					<div ng-show="Data.mode!='view'" class="col-sm-7">
						<select class="form-control" ng-model="Data.draft.pageSize" required name="draftPageSize">
							<option value="A4">A4</option>
							<option value="A5">A5</option>
							<option value="B5">B5</option>
						</select>
					</div>
				</div>
				<div class="row rowForm">
					<label class="col-sm-5">سطح محرمانگی</label>
					<div ng-show="Data.mode=='view'" class="col-sm-7">{{Data.draft.confidentialityLevel|appEnum:confidentialityLevel}}</div>
					<div ng-show="Data.mode!='view'" class="col-sm-7">
						<select class="form-control" ng-model="Data.draft.confidentialityLevel">
							<option value="Unclassified">طبقه بندی نشده</option>
							<option value="Restricted">محرمانه</option>
							<option value="Confidential">فوق محرمانه</option>
							<option value="Secret">سری</option>
							<option value="Top_secret">فوق سری</option>
						</select>
					</div>
				</div>
				<div class="row rowForm">
					<label class="col-sm-5">توضیحات</label>
					<div ng-show="Data.mode!='view'" class="col-sm-7">
						<textarea type="text" class="form-control" name="description"
							ng-model="Data.draft.description"></textarea>
					</div>
				</div>
                <div ng-if="Data.hasExternalArchives" class="row rowForm" ng-class="{'has-error':Data.validationClicked && Data.vtFolderSelectorForm.$invalid}">
                    <label class="col-sm-5" ng-class="{'required':Data.mode!='view'}">بایگانی نامه</label>
                    <div class="col-sm-7">
                        <ng-form name="Data.vtFolderSelectorForm">
                            <vt-folder-selector model="Data.draft.externalArchive" form-name="Data.vtFolderSelectorForm" required = "Data.mode=='add'"
                                                is-edit-mode="Data.mode!='view'"></vt-folder-selector>
                        </ng-form>
                    </div>
                </div>
			</div>
			</div>

			<div class="col-sm-6" ng-show="Data.selectedTab.id == 0">
				<letter-form-type ng-model="Data.selectedLetterFormType" ng-if="(Data.mode==='view' && Data.draft && Data.draft.forms && Data.draft.forms.length>0) || Data.mode!=='view'"
								  apis="Apis" mode="Data.mode" letter="Data.draft" org-uid="Data.orgUid" css-class="col-sm-12" css-class-selector-type="col-sm-10"></letter-form-type>
			</div>

			<div class="row" style="position: relative" ng-show="Data.selectedTab.id == 1">
				<div class="rowForm col-sm-12" ng-class="{'has-error':Data.validationClicked && form.draftFileBody.$invalid}">
					<letter-body model="Data.draft.fileBody"  ng-required="!Data.scanedFile"  name="draftFileBody" ng-model="Data.draft.fileBody"
								is-edit-mode="Data.mode!='view'" api="controller.letterBody"
								 on-file-uploaded="loadPdfFn" pdf-url="Data.scanedFile">
                    </letter-body>
				</div>
				<div class="rowForm">
					<scanner   isolate-form model="Data.draft.fileBody" api="controller.scanner" ></scanner>
                </div>
			</div>

			<div class="col-sm-12" ng-show="Data.selectedTab.id == 2">
			    <letter-attachment
                       model="Data.draft.attachments"
                       is-edit-mode="Data.mode!='view'">
                   </letter-attachment>
			</div>
		</form>

	</div>
</div>
