<style>
    .btn-icon{
        display: inline-flex;
        max-width: 300px;
        padding: 0;
        align-items: center;
		float: left;
		margin-top: 3px;
    }
	.panel-primary>.panel-heading>span {
    color: #757575;
    font-family: "iranianSans";
    font-size: 16px;
}
    .flaticon-letter::before, .flaticon-letter::before, .flaticon-letter::after, .flaticon-letter::after{
        font-size: 19px;
    }
	.searchFilterBox {
    min-width: 123px;
}
.dropdown-menu {
    min-width: 300px;
}
.tooltip-inner {
    max-width: 460px;
}
.customClass{
	position: fixed !important;
}
.add-btn{
	padding: 10px;
}
</style>
<div class="col-md-12 managementContainer not30"  style="border-bottom:  1px solid #eee">
	<div class="panel panel-primary"
		ng-if="Data.featuresList.indexOf('ACCESS_REG_ISSUED')!=-1">
		<div class="panel-heading" >
			<span >نامه های آماده صدور</span>
			<a tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip-class="customClass"
				tooltip-placement="left" tooltip-popup-delay="500" tooltip="لیست نامه هایی که گیرنده خارج از شرکت داشته و باید نحوه ارسال آن ها مشخص شود."><img
					src="app/assets/img/information-button.png" style="width:12px;" /></a>

			<a class="btn btn-icon btn-sm btn-text add-btn"  hotkey="{'alt+n': Func.onAddClick}" ng-click="Func.onAddClick()">
				<i class="flaticon-letter"></i>ثبت نامه صادره </a>
		</div>
		
        <div class="panel-body">
            <vt-search control-fn="Controller.searchController"></vt-search>
        </div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<vt-grid control-fn="Controller.listController"></vt-grid>
		</div>
	</div>
</div>