<script type="text/ng-template" id="myPopoverTemplate.html">
    <div  class="row openTreePopover">
      <div class="col-sm-12">
        <label class="col-sm-6">زمان اولین مشاهده: </label>
        <label class="col-sm-6">{{treeData.item.readingDate|tehranDate:'HH:mm:ss jDD-jMMMM-jYYYY'|EnToFaNumber}}</label>
      </div>
      <div class="col-sm-12">
        <label class="col-sm-6">آخرین زمان مشاهده: </label>
        <label class="col-sm-6">{{treeData.item.lastReadingDate|tehranDate:'hh:mm:ss jDD-jMMMM-jYYYY'|EnToFaNumber}}</label>
      </div>
      <div class="col-sm-12">
        <label class="col-sm-6">تعداد مشاهدات: </label>
        <label class="col-sm-6">{{treeData.item.readCounter|EnToFaNumber}}</label>
      </div>
    </div>
</script>
<ul>
<li class="tree-node" style="padding-left:0;" ng-repeat="treeData in treeData.children track by $index">
       <span class="treeNode has-hover" ng-class="{'selected':treeData.isSelected,'bg-defualt':!treeData.originalInfo.ioaState.stateType,'bg-alarm':treeData.originalInfo.ioaState.stateType=='answered' && treeData.originalInfo.ioaState.qualificationStatus=='incompleteInfo','bg-success':treeData.originalInfo.ioaState.stateType == 'answered' && treeData.originalInfo.ioaState.qualificationStatus =='qualified','bg-danger':treeData.originalInfo.ioaState.stateType == 'answered' && treeData.originalInfo.ioaState.qualificationStatus =='disqualified','bg-primary':treeData.originalInfo.ioaState.stateType == 'assigned','bg-info':treeData.originalInfo.ioaState.stateType == 'unassigned','unreadNode':treeData.item.readCounter==0}"  style="position: relative;"          
       ng-click="Func.onNodeClick(treeData);"> 
            <i class="glyphicon" ng-class="{'glyphicon-plus':treeData.isCollapsed && treeData.childCount,
                           'glyphicon-minus':!treeData.isCollapsed && treeData.childCount,
                           'glyphicon-leaf':!treeData.childCount}"
                           ng-click="Func.onCollapseClick(treeData)"
                           style="position: absolute; top: 5.5px;"></i>
             <a href popover-placement="left" popover-template="dynamicPopover.templateUrl" popover-trigger="focus" style="color: #999;">
                <i class="glyph-icon flaticon-computer" style="position: absolute;bottom: 0;"></i>
             </a>
            <div style="padding: 0px; min-height: 0px !important; 
                      display: inline-block; margin-bottom: 0px !important; margin-right: 15px; 
                      margin-left: 17px; left: 0px; word-break: break-word;">
              <span class="treeDate" style="border: medium none !important;">{{treeData.item.officialDate|tehranDate:'jDD-jMMMM-jYYYY'|EnToFaNumber}}</span>
              <ul>
                <li ng-if="treeData.item.positionUserAssignment.uid">{{treeData.item.positionUserAssignment.title}}</li>
                <li ng-if="!treeData.item.positionUserAssignment.uid">{{Data.sender.title}}</li>
              </ul>
            </div>
  	</span>
    <div style="width: 100%"></div>
     <ul class="treeChild" collapse="treeData.isCollapsed"
          ng-include="treeItemRendererAddress" style="width:300px">
     </ul>
</li>
</ul>


