:root{
    --just-black:#1B2733;
    --just-white:#FFFFFF;

    --hard:#446280;
    --deep:#517699;
    --light:#EBEEF5;
    --soft:#C2C7D6;

    --gray:#999999;
    --light-gray:#F2F2F2;


    --primary:#029191;
    --primary-light:#02AAAA;

    --warn:#EB5757;
    --warn-ligth:#FF929A;

}