@CHARSET "ISO-8859-1";

*{
	font-family: "iranianSans";
}
h1,h2,h3,h4,h5,h6{
	font-family: "iranianSans";
}
h4{
	color: #757575;
}
a {
	outline: medium none !important;
	text-decoration: none;
}

a:link {
	outline: medium none !important;
	text-decoration: none;
}

a:visited {
    outline: medium none !important;
	text-decoration: none;
}

a:hover {
    outline: medium none !important;
	text-decoration: none;
}

a:active {
    outline: medium none !important;
	text-decoration: none;
}
label{
	border-radius:0px !important;
	margin-bottom:0px;
}
.label-default{
	background-color: rgba(0, 0,0, 0.1);
	border:1px solid rgba(0, 0,0, 0.6);
	padding: 0.3em 0.6em 0.3em;
	color: #757575;
}
.input-group .form-control:first-child{
	border-radius:0px !important;
}
body {
	color: #757575;
	background-image: url(/Kateb/app/assets/img/patt.png);
	background-position: 0 50px;
	background-repeat: repeat-x;
	background-color: #bdbdbd;
}
.container {
    width: auto;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
}
/* btn */
.btn {
	height: 34px;
	
}

.btn-danger {
	font-size: 11px;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-radius: 0 !important;
	border: 0 none !important;
	color: rgba(255, 255, 255, 1);
	background-color: #dd4b39;
}

.btn-danger:hover,.btn-danger:active,.btn-danger:focus {
	background-color: #d04736;
}

.btn-default{
	font-size: 11px;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-radius: 0 !important;
}

.has-error .ui-select-toggle.btn-default[disabled]{
	border-color: #a94442;	
}
	

.btn-primary {
	background-color: #757575;
	font-size: 11px;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-radius: 0 !important;
	border: 0 none !important;
	color: rgba(255, 255, 255, 1);
}

.btn-primary:hover,.btn-primary:active,.btn-primary:focus {
	background-color: #9d9d9d;
}
.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary.active[disabled], .btn-primary.focus[disabled], .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: rgba(0, 161, 181, 0.8);
}
.btn-success {
	font-size: 11px;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-radius: 0 !important;
	border: 0 none !important;
	color: rgba(255, 255, 255, 1);
	background-color: #757575;
}

.btn-success:hover,.btn-success:active,.btn-success:focus {
	background-color: #47a24a;
}

.btn-warning{
	font-size: 11px;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-radius: 0 !important;
	border: 0 none !important;
/* 	background-color: #ffeb3b;
 	color : #757575; */	
}
.btn-warning:hover,.btn-warning:active,.btn-warning:focus {
		/* 	background-color: #fdd835;
			color: #757575; */
}
.btn.active, .btn:active {
    background-image: none;
    box-shadow: none;;
    outline: 0 none;
}



/* end-btn */

/* pagination */
.pagination>li:first-child>a {
	border-radius: 0px;
	margin-left: 5px;
}

.pagination>li>a {
	margin-left: 5px;
	background-color: #f5f5f5;
	border-color: #e0e0e0;
	color: #979797;
}

.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover
	{
	background-color: #757575;
	border-color: #155b63;
	color: #fff;
	cursor: default;
	z-index: 2;
}

.pagination>.disabled>a,.pagination>.disabled>a:focus,.pagination>.disabled>a:hover,.pagination>.disabled>span,.pagination>.disabled>span:focus,.pagination>.disabled>span:hover
	{
	background-color: #f5f5f5;
	border-color: #e0e0e0;
	color: #979797;
	cursor: not-allowed;
}

/* end-pagination */

/* navbar */

.navbar {
	background-color: #757575;
	background-image: url("/Kateb/app/assets/img/menuBackground.png");
	border-radius: 0px;
	border: 0px;
	box-shadow: 0 -10px 60px -4px rgba(117, 117, 117, 1) inset;
}
.navbar.navbar-default{
	z-index:1035;
}
.navbar.navbar-default > .container {
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.6);
    z-index: 10000000;
}
.navbar-nav > li > a{
    max-height: 50px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-right: 0px;
    line-height: 30px;
    padding-bottom: 10px;
    padding-right: 45px;
    padding-top: 10px;
}
.navbar-brand > img{
	float:right;
	margin-left: 10px;
}
.navbar-collapse {
    padding: 0px;
}
.navbar-default .navbar-nav>li>a {
	font-family: "iranianSans";
	font-size:14px;
	color: rgba(255,255,255,0.7);
	font-weight: 200 !important;
}

.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover{
	border-bottom: 3px solid rgba(255,255,255,0.4);
	background-color: transparent;
	color: #ffffff;
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover{
	background-color: transparent;
	color: #fff;
	border-bottom: 3px solid rgba(255,255,255,0.4);
}
.navbar-header > a{
	font-family: "iranianSans";
	font-size:18px !important;
	font-weight: 200 !important;	
}
.navbar-left {
	background-color: #616161;
}
.navbar-left > li > a{
	font-size:12px !important;
	font-family: "iranianSans";
}
.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover
	{
	background-color: transparent;
	color: #ffffff;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:hover
	{
	background-color: #616161;
	color: #fff;
}
.nav.navbar-nav .dropdown-menu{
	background-color: #757575;
}
.navbar .dropdown-menu > li > a {
    color: rgba(255, 255, 255,0.7);
}
.navbar .dropdown-menu > li > a:focus,.navbar .dropdown-menu > li > a:hover {
    background-color: transparent;
    color: #fff;
}
/* end-navbar */


/* nav-tabs */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #ddd #ddd transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #fe754a;
    cursor: default;
}

/* end-nav-tabs */


/* panel */
.panel {
	border: 0px none;
	box-shadow: none;
	padding:0px 10px;
}

.panel-primary {
	border: 0px;
}

.panel-primary>.panel-heading {
	background-color: #fff;
	color: #757575;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top: 0px none !important;
	border-left: 0px none !important;
	border-right: 0px none !important;
	border-bottom: 2px solid #757575 !important;
	height: 40px;
	padding: 0;
	line-height: 38px;
	font-family: "iranianSans";
	font-weight: 200 !important;
	font-size: 16px;
}

/* .panel-primary>.panel-heading>.page-header>h2 {
	height: 38px;
	margin-bottom: 0;
	margin-top: 0;
	font-size: 18px;
	border-bottom: 2px solid #757575 !important;
}

.page-header {
	border-bottom: 2px solid #757575 !important;
	margin: 0;
	padding-bottom: 0px;
} */

.panel-primary>.panel-body {
	padding: 0px;
}

.panel-search{
	background-color: #eee;
	padding: 10px 0px !important;
}

.panel-right-secretariat .title {
	border-bottom: solid 2px #757575;
	margin-bottom: 2px;
	color: 	#757575;
	font-size:17px;
	font-weight: 200 !important;
}


/* end-panel */

/* list-group-item */
a.list-group-item {
	color: #757575;
	padding-right: 0px;
	padding-top: 25px;
	padding-bottom: 25px;
}
.list-group-item {
	border-top: 0px solid;
	border-left: 0px solid;
	border-right: 0px solid;
    border-bottom: 2px solid #757575;
    margin-bottom: 0px;
    background-color: transparent;
}
a.list-group-item label {
	margin-bottom: 0px;
	cursor: pointer;
	font-family: "iranianSans";
	font-size:14px;
	text-align:right;
	font-weight: 200 !important;
	padding-right: 0px;
}

a.list-group-item:focus,a.list-group-item:hover {
	background-color: transparent; 
	color: #fe754a;
	text-decoration: none;
}

.list-group-item.active,.list-group-item.active:focus,.list-group-item.active:hover
{
	background-color: #fff;
	border-top-color: #ddd;
	color: #dd4b39;
	border-bottom: 2px solid #dd4b39;
}

.list-group-item:last-child,.list-group-item:first-child{
	border-radius: 0px;
}

/* end-list-group-item */



/* color-radio */
.original-radio > input[type=radio]{
	opacity: 0.8 !important;
}
input[type=radio]:not(old) {
	font-family: 'FontAwesome';
	width: 2em;
	margin: 0;
	padding: 0;
	font-size: 1em;
	opacity: 0;
}

input[type=radio]:not(old)+label {
	font-family: 'FontAwesome';
	display: inline-block;
	/* margin-left: -2em; */
	line-height: 1.5em;
}

input[type=radio]:not(old)+label>span
	{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0.25em 0.5em 0.25em 0.25em;
	border: 1px solid #c0c0c0;
	border-radius: 20em;
	background: #f4f4f4;
	background-image: -moz-linear-gradient(#f4f4f4, #f4f4f4);
	background-image: -ms-linear-gradient(#f4f4f4, #f4f4f4);
	background-image: -o-linear-gradient(#f4f4f4, #f4f4f4);
	background-image: -webkit-linear-gradient(#f4f4f4, #f4f4f4);
	background-image: linear-gradient(#f4f4f4, #f4f4f4);
	vertical-align: bottom;
}

input[type=radio]:not(old):checked+label>span
	{
	background-image: -moz-linear-gradient(rgb(255, 255, 255),
		rgb(255, 255, 255) );
	background-image: -ms-linear-gradient(rgb(255, 255, 255),
		rgb(255, 255, 255) );
	background-image: -o-linear-gradient(rgb(255, 255, 255),
		rgb(255, 255, 255) );
	background-image: -webkit-linear-gradient(rgb(255, 255, 255),
		rgb(255, 255, 255) );
	background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)
		);
}

input[type=radio]:not(old):checked+label>span>span {
	display: block;
	width: 6px;
	height: 6px;
	margin: 1px;
	border: 0 none;
	border-radius: 100px;
	background: #757575;
	background-image: -moz-linear-gradient(#fe754a, #fe754a);
	background-image: -ms-linear-gradient(#fe754a, #fe754a);
	background-image: -o-linear-gradient(#fe754a, #fe754a);
	background-image: -webkit-linear-gradient(#fe754a, #fe754a);
	background-image: linear-gradient(#fe754a, #fe754a);
}

.radio-inline{
	padding-top: 8px;
}
.radio-inline > label {
	cursor: pointer;
}
.radio-inline > label > label{
	color: #757575 !important;
}
/* end-color-radio */

/* table */
.table-striped>tbody>tr:nth-of-type(2n+1) {
	/*background-color: rgba(221,221,221,0.8);*/
}

.table>thead>tr>th {
	border-bottom: 0px solid;
}

.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th
	{
	border-top: 0px solid #ddd;
}

.table-hover>tbody>tr:hover {
	background-color: rgba(221,221,221,1);
}
.table>tbody>tr{
	border-bottom: 1px solid #e5e5e5;
}


/* end-table */

/* bg */
.bg-primary{
	background-color: #757575 !important;
	color: rgba(255, 255, 255, 1);
}
.bg-success{
	color: rgba(255, 255, 255, 1);
	background-color: #757575;
}

.bg-danger{
	color: rgba(255, 255, 255, 1);
	background-color: #dd4b39;
}
.bg-warning {
    background-color: #ff9800;
}

/* end-bg */

/* bg-has-hover */
.bg-primary.has-hover:hover{
	background-color: #048EA0;
	color: rgba(255, 255, 255, 1);
}
.bg-success.has-hover:hover{
	color: rgba(255, 255, 255, 1);
	background-color: #419646;
}


.bg-danger.has-hover:hover{
	color: rgba(255, 255, 255, 1);
	background-color: #B03A2D;
}



/* end-bg-has-hover */

/* text */
.text-primary{
	color: #757575;
}
.text-success{
	color: #757575;
}


.text-danger{
	color: #dd4b39 !important;
}
/* end-text */

/* cartable */

.panel-cartable-menu .cartable-accordion .panel-group .border-accordion-group > .panel-heading,.panel-cartable-menu .cartable-accordion .panel-group .border-accordion-group > .panel-heading .panel-title span{
	color: #757575 !important;
	font-family: "iranianSans";
	font-size:16px;
	background-color: #FAFAFA;
	border-radius:0px !important;
}

.panel-cartable-menu .cartable-accordion .panel-group .border-accordion-group > .panel-collapse > .panel-body a h6,.panel-cartable-menu .cartable-accordion .panel-group .border-accordion-group > .panel-collapse > .panel-body a{
	font-size: 13px !important;
}

/* end-cartable */


/* alert */
.alert-default{
	background-color: rgba(0, 172, 193, 0.2) !important;
	border: 1px solid rgba(0, 172, 193, 0.6) !important;
	color: rgb(0,172,193) !important;
	padding:0px !important;
	border-radius: 0px !important;
}
.alert-default .glyphicon-remove{
	cursor: pointer !important;
}
.alert-default .btn{
	color: rgb(0,172,193) !important;
}
.alert-default .btn:hover{
	color: #00A1B5;
}
/* alert */


select{
	height: 34px;
}

.form-group {
    margin-bottom: 0px;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: 0px;}

.row.rowForm > label {
	color: #757575;
	text-align: left;
}

.nav-tabs > li > a {
    color: #757575;
}

/* btn-icon */
.btn-icon{
	overflow: hidden;
    padding-right: 44px;
    position: relative;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #757575;
    border: 0 none !important;
    border-radius: 0 !important;
    font-size: 13px;
    padding-left: 50px;
    font-family: iranianSans;
}
.btn-icon > *:first-child {
    bottom: 0;
    font-size: 1.9em;
    right: 0;
    line-height: 34px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 32px;
}
.btn-icon.focus, .btn-icon:focus, .btn-icon:hover {
    color: #757575;
    text-decoration: none;
}
.registerIncoming{
	background-image: url("/Kateb/app/assets/img/icon-gray.png");
	background-position: 4px 4px;
    background-repeat: no-repeat;
}
.send{
	background-image: url("/Kateb/app/assets/img/icon-gray.png");
	background-position: -32px 4px;
    background-repeat: no-repeat;
}
.transfer{
	background-image: url("/Kateb/app/assets/img/icon-gray.png");
	background-position: -101px 4px;
    background-repeat: no-repeat;
}
/* end-btn-icon */