@CHARSET "ISO-8859-1";
*{
	font-family: "iranyekanweb";
}
h1,h2,h3,h4,h5,h6{
	font-family: "iranyekanweb";
}
h4{
	color: #0097a7;
}
a {
	outline: medium none !important;
	text-decoration: none;
}

a:link {
	outline: medium none !important;
	text-decoration: none;
}

a:visited {
    outline: medium none !important;
	text-decoration: none;
}

a:hover {
    outline: medium none !important;
	text-decoration: none;
}

a:active {
    outline: medium none !important;
	text-decoration: none;
}

button {
	outline: medium none !important;
}

label{
	border-radius:0px !important;
	margin-bottom:0px;
}
textarea{
    resize: none;
}
.label-default{
	background-color: rgba(213, 213, 213, 0.2);
    border: 1px solid rgba(230, 230, 230, 0.6);
    padding: 6px;
    color: #a1a1a1;
    font-weight: normal;
}
.label-default span {
    font-size: 12px;
    font-weight: normal;
}
.label-default div:first-child{
	font-size: 11px;
    line-height: 1.5;
}
.input-group .form-control:first-child{
	border-radius:0px !important;
}
body {
	color: #757575;
	background-image: url(/Kateb/app/assets/img/patt.png);
	background-position: 0 50px;
	background-repeat: repeat-x;
	background-color: rgba(189, 189, 189, 0.33);
	/*overflow: hidden;*/
}
.container {
    width: auto;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
	height: 100%;
}
/* btn */
.btn {
	height: 34px;
	font-family: iranyekanweb;
}

.btn-danger {
	font-size: 11px;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
/*	border-radius: 0 !important;*/
	border: 0 none !important;
	color: rgba(255, 255, 255, 1);
	background-color: #dd4b39;
}

.btn-danger:hover,.btn-danger:active,.btn-danger:focus {
	background-color: #d04736;
}

.btn-default{
	font-size: 11px;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-radius: 0 !important;
}

.has-error .ui-select-toggle.btn-default[disabled]{
	border-color: #a94442;
}


.btn-primary {
	background-color: #00acc1;
	font-size: 11px;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
/*	border-radius: 0 !important;*/
	border: 0 none !important;
	color: rgba(255, 255, 255, 1);
}

.btn-primary:hover,.btn-primary:active,.btn-primary:focus {
	background-color: #00a1b5;
}
.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary.active[disabled], .btn-primary.focus[disabled], .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: rgba(0, 161, 181, 0.8);
}
.btn-success {
	font-size: 11px;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
/*	border-radius: 0 !important;*/
	border: 0 none !important;
	color: rgba(255, 255, 255, 1);
	background-color: #4caf50;
}

.btn-success:hover,.btn-success:active,.btn-success:focus {
	background-color: #47a24a;
}

.btn-warning{
	font-size: 11px;
	overflow: hidden;
	position: relative;
	text-overflow: ellipsis;
	white-space: nowrap;
	border-radius: 0 !important;
	border: 0 none !important;
/* 	background-color: #ffeb3b;
 	color : #757575; */
}
.btn-warning:hover,.btn-warning:active,.btn-warning:focus {
		/* 	background-color: #fdd835;
			color: #757575; */
}
.btn.active, .btn:active {
    background-image: none;
    box-shadow: none;;
    outline: 0 none;
}

.btn-cs{
	border-radius: 3px !important;
    height: 35px;
    min-width: 105px;
}

/* end-btn */

/* pagination */
.pagination>li:first-child>a {
	border-radius: 0px;
	margin-left: 5px;
}

.pagination>li>a {
	margin-left: 5px;
	background-color: #f5f5f5;
	border-color: #e0e0e0;
	color: #979797;
}

.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover
	{
	background-color: #0097a7;
	border-color: #155b63;
	color: #fff;
	cursor: default;
	z-index: 2;
}

.pagination>.disabled>a,.pagination>.disabled>a:focus,.pagination>.disabled>a:hover,.pagination>.disabled>span,.pagination>.disabled>span:focus,.pagination>.disabled>span:hover
	{
	background-color: #f5f5f5;
	border-color: #e0e0e0;
	color: #979797;
	cursor: not-allowed;
}

/* end-pagination */

/* navbar */

.navbar {
	background-color: #0097a7;
	background-image: url("/Kateb/app/assets/img/menuBackground.png");
	border-radius: 0px;
	border: 0px;
	box-shadow: 0 -10px 60px -4px rgba(0, 172, 193, 1) inset;
}
.navbar.navbar-default{
	z-index:1004;
}
.navbar.navbar-default > .container {
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.6);
    z-index: 10000000;
}
.navbar-nav > li > a{
    max-height: 50px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-right: 0px;
    line-height: 30px;
    padding-bottom: 10px;
    /*padding-right: 45px;*/
    padding-top: 10px;
}
.navbar > .container .navbar-brand{
	background-color: #00838f;
}
.navbar-brand > img{
	float:right;
	margin-left: 10px;
}
.navbar-collapse {
    padding: 0px;
}
.navbar-default .navbar-nav>li>a {
	font-family: "iranianSans";
	font-size:14px;
	color: rgba(255,255,255,0.7);
	font-weight: 200 !important;
}

.navbar-default .navbar-nav>li>a:focus,.navbar-default .navbar-nav>li>a:hover{
	border-bottom: 3px solid rgba(255,255,255,0.4);
	background-color: transparent;
	color: #ffffff;
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:focus,.navbar-default .navbar-nav>.active>a:hover{
	background-color: transparent;
	color: #fff;
	border-bottom: 3px solid rgba(255,255,255,0.4);
}
.navbar-header > a{
	font-family: "iranianSans";
	font-size:18px !important;
	font-weight: 200 !important;
}
.navbar-left {
	background-color: #00838f;
}
.navbar-left > li > a{
	font-size:12px !important;
	font-family: "iranianSans";
}
.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:focus,.navbar-default .navbar-nav>.open>a:hover
	{
	background-color: transparent;
	color: #ffffff;
}

.navbar-default .navbar-brand {
	color: #fff;
}

.navbar-default .navbar-brand:focus,.navbar-default .navbar-brand:hover	{
	background-color: #00838f;
	color: #fff;
}
.nav.navbar-nav .dropdown-menu{
	background-color: #0097a7;
}
.navbar .dropdown-menu > li > a {
    color: rgba(255, 255, 255,0.7);
}
.navbar .dropdown-menu > li > a:focus,.navbar .dropdown-menu > li > a:hover {
    background-color: transparent;
    color: #fff;
}
/* end-navbar */


/* nav-tabs */
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #ddd #ddd transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #fe754a;
    cursor: default;
}

/* end-nav-tabs */


/* panel */
.panel {
	border: 0px none;
	box-shadow: none;
	padding:0px 10px;
	margin-bottom: 5px;
}

.panel-primary {
	border: 0px;
}

.panel-primary>.panel-heading {
	background-color: #fff;
	color: #757575;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	border-top: 0px none !important;
	border-left: 0px none !important;
	border-right: 0px none !important;
	border-bottom: 1px solid #bdbdbd !important;
	height: 40px;
	padding: 0;
	line-height: 38px;
	font-family: "iranianSans";
	font-weight: 200 !important;
	font-size: 16px;
}

/* .panel-primary>.panel-heading>.page-header>h2 {
	height: 38px;
	margin-bottom: 0;
	margin-top: 0;
	font-size: 18px;
	border-bottom: 2px solid #0097a7 !important;
}

.page-header {
	border-bottom: 2px solid #0097a7 !important;
	margin: 0;
	padding-bottom: 0px;
} */

.panel-primary>.panel-body {
	padding: 0px;
}

.panel-search{
	background-color: #eee;
	padding: 10px 0px !important;
}
.panel-right-secretariat .title {
/*	border-bottom: 2px solid #00acc1;*/
    color: #00acc1;
    font-size: 17px;
    font-weight: 200 !important;
    margin-bottom: 2px;
    padding: 15px 10px 12px 10px;
}

.panel-body {
	padding: 10px;
}


/* end-panel */

/* list-group-item */
a.list-group-item {
	color: #878787;
	padding-right: 0px;
	padding-top: 25px;
	padding-bottom: 25px;
}
.list-group-item {
	border-top: 0px solid;
	border-left: 0px solid;
	border-right: 0px solid;
/*    border-bottom: 2px solid #0097a7;*/
    margin-bottom: 0px;
    background-color: transparent;
}
.list-group-item:last-child{
    border: none;
}
a.list-group-item label {
	margin-bottom: 0px;
	cursor: pointer;
	font-family: "iranianSans";
	font-size:0.95em;
	text-align:right;
	font-weight: 200 !important;
	padding-right: 0px;
}

a.list-group-item:focus,a.list-group-item:hover {
	background-color: transparent;
	color: #fe754a;
	text-decoration: none;
}
.panel-right-secretariat a.list-group-item:after{
    content: "";
    position: absolute;
    top: 20px;
    right: 3px;
    height:1px;
    width : 10px;
    background:#7777;
}
.panel-right-secretariat a.list-group-item:before{
    content: "";
    position: absolute;
    top: -5px;
    right: 0px;
    height: 37px;
    width: 1px;
    display: block;
    background: #e0e0e0;
}
.panel-right-secretariat a.list-group-item:last-child:before{
    height: 30px;
}
.list-group-item.active,.list-group-item.active:focus,.list-group-item.active:hover
{
	background-color: #fff;
	border-top-color: #ddd;
	color: #dd4b39;
	border-bottom: 2px solid #dd4b39;
}

.list-group-item:last-child,.list-group-item:first-child{
	border-radius: 0px;
}

/* end-list-group-item */



/* color-radio */
.original-radio > input[type=radio]{
	opacity: 0.8 !important;
}
/*input[type=radio]:not(old) {
	font-family: 'FontAwesome';
	width: 2em;
	margin: 0;
	padding: 0;
	font-size: 1em;
	opacity: 0;
}*/

input[type="radio"] {
    line-height: normal;
    margin: 4px 4px 0 5px !important;
}

input[type=radio]:not(old)+label {
	/* font-family: 'FontAwesome'; */
	display: inline-block;
	/* margin-left: -2em; */
	margin: 1px 23px 0px 0;
	line-height: 1.5em;
}

input[type=radio]:not(old)+label>span
	{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0.25em 0.5em 0.25em 0.25em;
	border: 1px solid #c0c0c0;
	border-radius: 20em;
	background: #f4f4f4;
	background-image: -moz-linear-gradient(#f4f4f4, #f4f4f4);
	background-image: -ms-linear-gradient(#f4f4f4, #f4f4f4);
	background-image: -o-linear-gradient(#f4f4f4, #f4f4f4);
	background-image: -webkit-linear-gradient(#f4f4f4, #f4f4f4);
	background-image: linear-gradient(#f4f4f4, #f4f4f4);
	vertical-align: bottom;
}

input[type=radio]:not(old):checked+label>span
	{
	background-image: -moz-linear-gradient(rgb(255, 255, 255),
		rgb(255, 255, 255) );
	background-image: -ms-linear-gradient(rgb(255, 255, 255),
		rgb(255, 255, 255) );
	background-image: -o-linear-gradient(rgb(255, 255, 255),
		rgb(255, 255, 255) );
	background-image: -webkit-linear-gradient(rgb(255, 255, 255),
		rgb(255, 255, 255) );
	background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)
		);
}

input[type=radio]:not(old):checked+label>span>span {
	display: block;
	width: 6px;
	height: 6px;
	margin: 1px;
	border: 0 none;
	border-radius: 100px;
	background: #0097a7;
	background-image: -moz-linear-gradient(#fe754a, #fe754a);
	background-image: -ms-linear-gradient(#fe754a, #fe754a);
	background-image: -o-linear-gradient(#fe754a, #fe754a);
	background-image: -webkit-linear-gradient(#fe754a, #fe754a);
	background-image: linear-gradient(#fe754a, #fe754a);
}

.radio-inline{
	padding-top: 8px;
	padding-right: 0;
}
.radio-inline > label {
	cursor: pointer;
}
.radio-inline > label > label{
	color: #757575 !important;
	font-weight: normal;
}
label.radio-inline > input {
    opacity: 0;
}
/*.radio-inline input[type=radio]{*/
    /*margin-right: 5px;*/
/*}*/
.form-control {
	background-color: #fcfcfc;
    box-shadow: none;
    font-family: iranyekanweb;
}

/* end-color-radio */

/* table */
.table-striped>tbody>tr:nth-of-type(2n+1) {
	background-color: #f8f8f8;
	color: #a3a3a3;
}

.table>tbody>tr{
	border-bottom: 1px solid #e5e5e5;
	background-color: #fff;
	color: #a3a3a3;
}

.table > thead > tr > th {
	border-bottom: 0px solid;
	color: #00838f !important;
	text-align: center;
/*    max-width: 20%;*/
}
.table > thead > tr > th > div {
	padding: 0;
	margin-left: 7px;
	margin-right: -5px;
	display: inline-block;
	min-width: 120px;
}
.table.all-letters > thead > tr > th > div{
    min-width: 0
}
.table > thead > tr > th > div[ng-show="field.sortable && controlFn.showSort"]{
    min-width: 0
}
.table > thead > tr > th div.col-sm-1{
    min-width: 0;
}
.table thead {
    border-bottom: 2px solid #00838f;
}

.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th{
	border-top: 0px solid #ddd;
}
.table>tbody>tr>td,.table>tfoot>tr>td,.table>thead>tr>td{
		/* max-width: 85px; */
		overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
}

.table-hover>tbody>tr:hover {
	background-color: #dbf4fb;
}

.table-selected-row{
	 background-color: rgba(255, 170, 131, 0.25);
}

/* end-table */

/* bg */
.bg-primary{
	background-color: #0097a7 !important;
	color: rgba(255, 255, 255, 1);
}
.bg-success{
	color: rgba(255, 255, 255, 1);
	background-color: #4caf50;
}

.bg-danger{
	color: rgba(255, 255, 255, 1);
	background-color: #dd4b39;
}
.bg-warning {
    background-color: #ff9800;
}

/* end-bg */

/* bg-has-hover */
.bg-primary.has-hover:hover{
	background-color: #048EA0;
	color: rgba(255, 255, 255, 1);
}
.bg-success.has-hover:hover{
	color: rgba(255, 255, 255, 1);
	background-color: #419646;
}


.bg-danger.has-hover:hover{
	color: rgba(255, 255, 255, 1);
	background-color: #B03A2D;
}



/* end-bg-has-hover */

/* text */
.text-primary{
	color: #0097a7;
}
.text-success{
	color: #4caf50;
}


.text-danger{
	color: #dd4b39 !important;
}
/* end-text */

/* cartable */

.panel-cartable-menu .cartable-accordion .panel-group .border-accordion-group > .panel-heading,.panel-cartable-menu .cartable-accordion .panel-group .border-accordion-group > .panel-heading .panel-title span{
	color: #0097a7 !important;
	font-family: "iranianSans";
	font-size:1em;
	background-color: #FAFAFA;
	border-radius:0px !important;
}

.panel-cartable-menu .cartable-accordion .panel-group .border-accordion-group > .panel-heading .panel-title span > span{
    width: calc(100% - 30px);
    display: inline-block;
    line-height: 1.9;
}

.panel-cartable-menu .cartable-accordion .panel-group .border-accordion-group > .panel-collapse > .panel-body a h6,.panel-cartable-menu .cartable-accordion .panel-group .border-accordion-group > .panel-collapse > .panel-body a{
	font-size: 13px !important;
}
.panel-cartable-menu .cartable-accordion .panel-group .border-accordion-group > .panel-collapse > .panel-body a h6,
.panel-right-secretariat a.list-group-item label{
    background-color: transparent !important;
    cursor: pointer;
    font-size: 0.92em !important;
	display: inline-block;
}
.panel-cartable-menu .cartable-accordion .panel-group .border-accordion-group > .panel-collapse > .panel-body .list-group-item i,
.panel-right-secretariat a.list-group-item i{
	font-size: 0.5em;
}

/* end-cartable */


/* alert */
.alert-default{
	background-color: rgba(0, 172, 193, 0.2) !important;
	border: 1px solid rgba(0, 172, 193, 0.6) !important;
	color: rgb(0,172,193) !important;
	padding:0px !important;
	border-radius: 0px !important;
}
.alert-default .glyphicon-remove{
	cursor: pointer !important;
}
.alert-default .btn{
	color: rgb(0,172,193) !important;
}
.alert-default .btn:hover{
	color: #00A1B5;
}
/* alert */


select{
	height: 34px;
}

.form-group {
    margin-bottom: 0px;
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-radius: 0px;
}

.row.rowForm > label {
	color: #0097a7;
	text-align: left;
    font-weight: normal;
}
.nav-tabs > li > a {
    color: #0097a7;
    margin-right: 0;
}

/* btn-icon */
.btn-icon{
	overflow: hidden;
    padding-right: 44px;
    position: relative;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #0097a7;
    border: 1px solid #d6d6d6 !important;
    border-radius: 3px !important;
    font-size: 13px;
    padding-left: 50px;
    font-family: iranianSans;
    display: inline-flex;
    align-items: center;
}
.btn-icon > *:first-child {
/*
	bottom: 0;
    line-height: 34px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 0;
    width: 32px;
*/
    margin-left: 10px;
    line-height: 1;
}
.btn-icon.focus, .btn-icon:focus, .btn-icon:hover {
    color: #0097a7;
    text-decoration: none;
}
.registerIncoming{
	background-image: url("/Kateb/app/assets/img/icon.png");
	background-position: 4px 4px;
    background-repeat: no-repeat;
}
.send{
	background-image: url("/Kateb/app/assets/img/icon.png");
	background-position: -32px 4px;
    background-repeat: no-repeat;
}
.transfer{
	background-image: url("/Kateb/app/assets/img/icon.png");
	background-position: -101px 4px;
    background-repeat: no-repeat;
}
/* end-btn-icon */

/*some T-O-F*/
/*.col-xs-12.col-lg-12.col-md-12.col-sm-12.mainContent.ng-scope > .col-md-4.ng-scope.ng-isolate-scope > .panel.panel-default{
	max-height: 460px;
    overflow: auto;
}*/
/*End Of T-O-F*/

.vtTypeahead > div > .dropdown-menu{
	overflow: auto
}

.vtTypeahead > div > .dropdown-menu > li{
	font-size: 11px;
}
.panel-filter .btn.btn-default i.close, .panel-filter .vt-search .btn.btn-default span.close {
    color: #f96b6b;
    opacity: 1;
}
.ui-select-multiple.ui-select-bootstrap input.ui-select-search{
	font-family: iranyekanweb !important;
}
.panel-filter td > .btn.btn-default {
    border: 1px solid #e1e1e1;
    font-size: 9px;
}
.form-control-static .btn {
    border-radius: 2px !important;
    font-size: 12px;
    height: 25px;
    padding: 3px 10px;
}

[class^="abcd"]::before, [class*=" abcd"]::before, [class^="abcd"]::after, [class*=" abcd"]::after {
    font-size: 10px;
}

.fa-btn.btn.btn-sm.btn-primary > *::before, .fa-btn.btn.btn-sm.btn-primary > *::after {
    font-size: 10px;
}

.intelCartable-panel .row.rowForm > label{
	text-align: right;
}

.intelCartable-panel .row.rowForm persian-multiline-interval-datepicker .row.rowForm > label.col-sm-5{
	width: 25%;
}

.intelCartable-panel .row.rowForm persian-multiline-interval-datepicker .row.rowForm > div.col-sm-7{
	width: 50%;
	padding-left: 22px;
    padding-right: 22px;
}

.intelCartable-actionBar div .action-bar , .intelCartable-panel{
	box-shadow: 0 0 6px -3px #000;
}

.intelCartable-panel .panel-management > ul > li {
    border-bottom: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    list-style-type: none;
    min-height: 30px;
    padding: 10px 25px;
	transition: background-color 0.5s;
}
.intelCartable-panel .panel-management > ul > li:last-child{
	border-bottom: none;
}
.intelCartable-panel .panel-management > ul > li:hover{
	background-color: #e2e2e2;
	cursor: pointer;
}
.intelCartable-panel .panel-management > ul > li > div{
	font-size: 15px;
}
.intelCartable-panel .panel-management > ul > li:hover > div{
	color: #fb7546
}
.viraShadow{
	box-shadow: 0 0 6px -3px #000;
}
.input-group .dropdown-menu{
	float: right;
    left: 0;
    right: auto;
    text-align: right;
}



/*tree*/
/* .unreadNode{
    color: #fb7546;
} */

/*reports*/
.downloadReport{
	width: 35px;
	padding: 3px;
	border-radius: 4px !important;
	margin-right: 9px;
}
.downloadReport > img{
	height: 100%;
}


/*tooltip*/

.customTooltip{
    background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
    border-radius: 11px;
    color: rgb(0, 131, 143);
    padding: 10px;
    position: absolute;
    right: -7%;
    top: -40px;
    border: 1px solid rgb(0, 131, 143);
    box-shadow: 0px 0 12px -5px #333;
}
.customTooltip::after{
    content: '';
    position: absolute;
    left: 43%;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid rgba(0, 131, 143, 0.9);
    clear: both;
}
.tree-view {
	overflow: auto;
    min-height: 400px;
}

.height-100 {
	height: 100%;
}
vt-cartable-grid td span input[type=checkbox]{
    transform: scale(1.15);
}
vt-cartable-grid th div input[type=checkbox]{
	transform: scale(1.15);
}
vt-persian-date-picker .input-group .dropdown-menu{
    transform: translateX(-130px);
}

table.table.table-striped.col-sm-12.logsTable {
    table-layout: fixed;
}
.logsTable.table>tbody>tr>th{
	font-weight: normal;
	color: #999;
}
table.table.table-striped.col-sm-12.logsTable th,
table.table.table-striped.col-sm-12.logsTable td {
    width: 16%;
}
table.table.table-striped.col-sm-12.logsTable th{
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 2;
}
.btnActionInLetter {
    max-width: 150px !important;
    margin-left: 5px !important;
    border-radius: 2px !important;
    display: inline-flex;
    color: #0097a7 !important;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    min-width: 130px;
/*    border-left: 1px solid #ccc !important;*/
    position: relative
}
/*
.btnActionInLetter:after{
    content: "";
    width: 1px;
    height: 20px;
    margin-right: 25px;
    background: #ccc;
}
.btnActionInLetter.noBorder:after{
    border-left: none !important;
    display: none;
}
*/
.btnActionRow{
    display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
}
/*
.btnActionInLetter:nth-last-child(4),
.btnActionInLetter:nth-last-child(2){
    border-left: 0px solid #ccc !important;
}
*/
.btnActionInLetter.btn-primary{
/*	color: #fff !important;*/
}
description-dropdown #single-button,
tag-input .btn-group > .btn{
    min-width: 110px;
    align-items: center;
}
.composeMessage {
    border: 1px solid #bdbdbd !important;
    margin: 20px auto;
    display: flex;
    width: calc(100% - 40px);
    padding: 5px 10px;
    height: auto;
    align-items: center;
    justify-content: center;
    border-radius: 2px !important;
}
.modal-open .modal {
/*    display: flex !important;*/
    justify-content: center;
    align-items: center;
}
.modal-backdrop.in{
    opacity: 0.8
}
.modal-content{
    box-shadow: none;
}
.btn-print{
	margin-left: 5px;
    border: 1px solid #dadada;
    background: none;
    width: 120px;
    color: #00acc1b8;
    border-radius: 4px;
    height: 35px;
}
.col-sm-4.col-sm-offset-2.well.well-sm .row.rowForm > label {
    color: #0097a7;
    text-align: left;
    font-weight: normal;
    padding-left: 50px;
}
.col-sm-4.col-sm-offset-2.well.well-sm  .row.rowForm > label + .col-sm-7 {
    margin-right: -30px;
    width: calc(58.33333333% + 30px);
}
.selected .treeDate{
	color: inherit !important
}
.col-sm-8.col-sm-offset-2hashemi{
    border-left: 1px solid #eee;
}
.col-sm-8.col-sm-offset-2hashemi + .col-sm-4 > accordion> .panel-group> .panel.panel-default>.panel-heading{
    background: transparent;
    border-bottom: 0px solid #dcdcdc !important;
}
.col-sm-8.col-sm-offset-2hashemi + .col-sm-4 > accordion> .panel-group> .panel.panel-default:not(.panel-open)>.panel-heading{
    border-bottom: 1px solid #dcdcdc !important;
}
.col-sm-8.col-sm-offset-2hashemi + .col-sm-4 > accordion> .panel-group> .panel.panel-default>.panel-heading> .panel-title>a>span{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col-sm-8.col-sm-offset-2hashemi + .col-sm-4 > accordion> .panel-group> .panel.panel-default>.panel-heading> .panel-title>a>span > .glyphicon-chevron-right{
    transform: rotate(180deg);
}
.themeWrapper{
    padding: 60px 30px;
    border-radius: 10px;
    margin: 20px auto 0;
    background: transparent;
    display: flex;
    justify-content: center;
}

.themeWrapper > div{
    display: flex;
    box-shadow: 0 0 40px -19px #000;
    padding: 20px;
    justify-content: center;
    background: #fff;
    border-radius: 10px;
    flex-wrap: wrap;
}
.themeWrapper > div > p{
    flex-grow: 1;
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin: 0 0 50px;
}
.themeContainer{
    margin-left: 20px;
    border: 1px solid #eee;
    padding: 20px;
    color: #fff;
    font-size: 20px;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.themeContainer:hover{
    cursor: pointer;
}
.themeContainer:last-child{
    margin: 0;
}
.themeContainer > div{
    height: 30px;
    width: 50px;
    margin-left: 5px;
}
.btn-outline-primary {
    color: #00838f;
    border: 1px solid #00838f;
}
.btn-icon[ng-click="Func.onGetNextLetterClick()"]{
    margin-left: 5px;
}
description-dropdown{
    margin-left: 10px;
}
.d-flex{
    display: flex
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
	background-color: #fcfcfc;
}

@media screen and (max-width:500px){
	.panel-cartable-menu{
		position: static;
	}
	.panel-cartable-menu .cartable-accordion .panel-group > a{
		background: #00acc1;
		color: #fff;
	}
}
