@CHARSET "ISO-8859-1";

h4{
	color: #0097a7;
}
a {
	outline: medium none !important;
	text-decoration: none;
}

a:link {
	outline: medium none !important;
	text-decoration: none;
}

a:visited {
    outline: medium none !important;
	text-decoration: none;
}

a:hover {
    outline: medium none !important;
	text-decoration: none;
}

a:active {
    outline: medium none !important;
	text-decoration: none;
}

button {
	outline: medium none !important;
}

label{
	border-radius:0px !important;
	margin-bottom:0px;
}
textarea{
    resize: none;
}
.label-default{
	background-color: rgba(213, 213, 213, 0.2);
    border: 1px solid rgba(230, 230, 230, 0.6);
    padding: 6px;
    color: #a1a1a1;
}


.input-group .form-control:first-child{
	border-radius:0px !important;
}



@media  (min-width: 768px){
	.container {
		margin-left: auto;
		margin-right: auto;
		padding-left: 0px;
		padding-right: 0px;
		height: 100%;
	}
}







/* end-panel */

/* list-group-item */
a.list-group-item {
	color: #878787;
	padding-right: 0px;
	padding-top: 25px;
	padding-bottom: 25px;
}
.list-group-item {
	border-top: 0px solid;
	border-left: 0px solid;
	border-right: 0px solid;
/*    border-bottom: 2px solid #0097a7;*/
    margin-bottom: 0px;
    background-color: transparent;
}
.list-group-item:last-child{
    border: none;
}


.panel-right-secretariat a.list-group-item:after{
    content: "";
    position: absolute;
    top: 20px;
    right: 3px;
    height:1px;
    width : 10px;
    background:#7777;
}
.panel-right-secretariat a.list-group-item:before{
    content: "";
    position: absolute;
    top: -5px;
    right: 0px;
    height: 37px;
    width: 1px;
    display: block;
    background: #e0e0e0;
}
.panel-right-secretariat a.list-group-item:last-child:before{
    height: 30px;
}

.list-group-item:last-child,.list-group-item:first-child{
	border-radius: 0px;
}

/* end-list-group-item */



/* color-radio */
.original-radio > input[type=radio]{
	opacity: 0.8 !important;
}
/*input[type=radio]:not(old) {
	font-family: 'FontAwesome';
	width: 2em;
	margin: 0;
	padding: 0;
	font-size: 1em;
	opacity: 0;
}*/

input[type="radio"] {
    line-height: normal;
    margin: 4px 4px 0 5px !important;
}

input[type=radio]:not(old)+label {
	/* font-family: 'FontAwesome'; */
	display: inline-block;
	/* margin-left: -2em; */
	margin: 1px 23px 0px 0;
	line-height: 1.5em;
}

input[type=radio]:not(old)+label>span
	{
	display: inline-block;
	width: 10px;
	height: 10px;
	margin: 0.25em 0.5em 0.25em 0.25em;
	border: 1px solid #c0c0c0;
	border-radius: 20em;
	background: #f4f4f4;
	background-image: -moz-linear-gradient(#f4f4f4, #f4f4f4);
	background-image: -ms-linear-gradient(#f4f4f4, #f4f4f4);
	background-image: -o-linear-gradient(#f4f4f4, #f4f4f4);
	background-image: -webkit-linear-gradient(#f4f4f4, #f4f4f4);
	background-image: linear-gradient(#f4f4f4, #f4f4f4);
	vertical-align: bottom;
}

input[type=radio]:not(old):checked+label>span
	{
	background-image: -moz-linear-gradient(rgb(255, 255, 255),
		rgb(255, 255, 255) );
	background-image: -ms-linear-gradient(rgb(255, 255, 255),
		rgb(255, 255, 255) );
	background-image: -o-linear-gradient(rgb(255, 255, 255),
		rgb(255, 255, 255) );
	background-image: -webkit-linear-gradient(rgb(255, 255, 255),
		rgb(255, 255, 255) );
	background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)
		);
}

input[type=radio]:not(old):checked+label>span>span {
	display: block;
	width: 6px;
	height: 6px;
	margin: 1px;
	border: 0 none;
	border-radius: 100px;
	background: #0097a7;
	background-image: -moz-linear-gradient(#fe754a, #fe754a);
	background-image: -ms-linear-gradient(#fe754a, #fe754a);
	background-image: -o-linear-gradient(#fe754a, #fe754a);
	background-image: -webkit-linear-gradient(#fe754a, #fe754a);
	background-image: linear-gradient(#fe754a, #fe754a);
}

.radio-inline{
	padding-top: 8px;
	padding-right: 0;
}
.radio-inline > label {
	cursor: pointer;
}
.radio-inline > label > label{
	color: #757575 !important;
	font-weight: normal;
}
label.radio-inline > input {
    opacity: 0;
}
/*.radio-inline input[type=radio]{*/
    /*margin-right: 5px;*/
/*}*/
.form-control {
	background-color: #fcfcfc;
    box-shadow: none;
    font-family: iranyekanweb;
}

/* end-color-radio */

/* table */
.table-striped>tbody>tr:nth-of-type(2n+1) {
	background-color: #f8f8f8;
	color: #a3a3a3;
}

.table>tbody>tr{
	border-bottom: 1px solid #e5e5e5;
	background-color: #fff;
	color: #a3a3a3;
}

.table > thead > tr > th {
	border-bottom: 0px solid;
	color: #00838f !important;
	text-align: center;
/*    max-width: 20%;*/
}
.table > thead > tr > th > div {
	padding: 0;
	margin-left: 7px;
	margin-right: -5px;
	display: inline-block;
	min-width: 120px;
}
.table.all-letters > thead > tr > th > div{
    min-width: 0
}
.table > thead > tr > th > div[ng-show="field.sortable && controlFn.showSort"]{
    min-width: 0
}
.table > thead > tr > th div.col-sm-1{
    min-width: 0;
}
.table thead {
    border-bottom: 2px solid #00838f;
}

.table>tbody>tr>td,.table>tbody>tr>th,.table>tfoot>tr>td,.table>tfoot>tr>th,.table>thead>tr>td,.table>thead>tr>th{
	border-top: 0px solid #ddd;
}
.table>tbody>tr>td,.table>tfoot>tr>td,.table>thead>tr>td{
		/* max-width: 85px; */
		overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: auto;
}

.table-hover>tbody>tr:hover {
	background-color: #dbf4fb;
}

.table-selected-row{
	 background-color: rgba(255, 170, 131, 0.25);
}

/* end-table */

/* bg */
.bg-primary{
	background-color: #0097a7 !important;
	color: rgba(255, 255, 255, 1);
}
.bg-success{
	color: rgba(255, 255, 255, 1);
	background-color: #4caf50;
}

.bg-danger{
	color: rgba(255, 255, 255, 1);
	background-color: #dd4b39;
}
.bg-warning {
    background-color: #ff9800;
}

/* end-bg */

/* bg-has-hover */
.bg-primary.has-hover:hover{
	background-color: #048EA0;
	color: rgba(255, 255, 255, 1);
}
.bg-success.has-hover:hover{
	color: rgba(255, 255, 255, 1);
	background-color: #419646;
}


.bg-danger.has-hover:hover{
	color: rgba(255, 255, 255, 1);
	background-color: #B03A2D;
}



/* end-bg-has-hover */

/* text */
.text-primary{
	color: #0097a7;
}
.text-success{
	color: #4caf50;
}


.text-danger{
	color: #dd4b39 !important;
}
/* end-text */

/* cartable */

.panel-cartable-menu .cartable-accordion .panel-group .border-accordion-group > .panel-heading,.panel-cartable-menu .cartable-accordion .panel-group .border-accordion-group > .panel-heading .panel-title span{
	color: #0097a7 !important;
	background-color: #FAFAFA;
	border-radius:0px !important;
}

.panel-cartable-menu .cartable-accordion .panel-group .border-accordion-group > .panel-heading .panel-title span > span{
    width: calc(100% - 30px);
    display: inline-block;
    line-height: 1.9;
}


.panel-cartable-menu .cartable-accordion .panel-group .border-accordion-group > .panel-collapse > .panel-body a h6,
.panel-right-secretariat a.list-group-item label{
    background-color: transparent !important;
    cursor: pointer;
	display: inline-block;
}


/* end-cartable */


/* alert */
.alert-default{
	background-color: rgba(0, 172, 193, 0.2) !important;
	border: 1px solid rgba(0, 172, 193, 0.6) !important;
	color: rgb(0,172,193) !important;
	padding:0px !important;
	border-radius: 0px !important;
}
.alert-default .glyphicon-remove{
	cursor: pointer !important;
}
.alert-default .btn{
	color: rgb(0,172,193) !important;
}
.alert-default .btn:hover{
	color: #00A1B5;
}
/* alert */




/* btn-icon */
.btn-icon{
	overflow: hidden;
    padding-right: 44px;
    position: relative;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #0097a7;
    border: 1px solid #d6d6d6 !important;
    border-radius: 3px !important;
    padding-left: 50px;
    display: inline-flex;
    align-items: center;
}
.btn-icon > *:first-child {
/*
	bottom: 0;
    line-height: 34px;
    position: absolute;
    right: 5px;
    text-align: center;
    top: 0;
    width: 32px;
*/
    margin-left: 10px;
    line-height: 1;
}
.btn-icon.focus, .btn-icon:focus, .btn-icon:hover {
    color: #0097a7;
    text-decoration: none;
}
.registerIncoming{
	background-image: url("/Kateb/app/assets/img/icon.png");
	background-position: 4px 4px;
    background-repeat: no-repeat;
}
.send{
	background-image: url("/Kateb/app/assets/img/icon.png");
	background-position: -32px 4px;
    background-repeat: no-repeat;
}
.transfer{
	background-image: url("/Kateb/app/assets/img/icon.png");
	background-position: -101px 4px;
    background-repeat: no-repeat;
}
/* end-btn-icon */

/*some T-O-F*/
/*.col-xs-12.col-lg-12.col-md-12.col-sm-12.mainContent.ng-scope > .col-md-4.ng-scope.ng-isolate-scope > .panel.panel-default{
	max-height: 460px;
    overflow: auto;
}*/
/*End Of T-O-F*/

.vtTypeahead > div > .dropdown-menu{
	overflow: auto
}


.panel-filter .btn.btn-default i.close, .panel-filter .vt-search .btn.btn-default span.close {
    color: #f96b6b;
    opacity: 1;
}

.form-control-static .btn {
    border-radius: 2px !important;
    height: 25px;
    padding: 3px 10px;
}





.intelCartable-panel .panel-management > ul > li {
    border-bottom: 1px solid #dfdfdf;
    border-left: 1px solid #dfdfdf;
    list-style-type: none;
    min-height: 30px;
    padding: 10px 25px;
	transition: background-color 0.5s;
}
.intelCartable-panel .panel-management > ul > li:last-child{
	border-bottom: none;
}
.intelCartable-panel .panel-management > ul > li:hover{
	background-color: #e2e2e2;
	cursor: pointer;
}

.intelCartable-panel .panel-management > ul > li:hover > div{
	color: #fb7546
}
.viraShadow{
	box-shadow: 0 0 6px -3px #000;
}
.input-group .dropdown-menu{
	float: right;
    left: 0;
    right: auto;
    text-align: right;
}



/*tree*/
/* .unreadNode{
    color: #fb7546;
} */

/*reports*/
.downloadReport{
	width: 35px;
	padding: 3px;
	border-radius: 4px !important;
	margin-right: 9px;
}
.downloadReport > img{
	height: 100%;
}


/*tooltip*/

.customTooltip{
    background: rgba(255, 255, 255, 1) none repeat scroll 0 0;
    border-radius: 11px;
    color: rgb(0, 131, 143);
    padding: 10px;
    position: absolute;
    right: -7%;
    top: -40px;
    border: 1px solid rgb(0, 131, 143);
    box-shadow: 0px 0 12px -5px #333;
}
.customTooltip::after{
    content: '';
    position: absolute;
    left: 43%;
    top: 100%;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid rgba(0, 131, 143, 0.9);
    clear: both;
}
.tree-view {
	overflow: auto;
    min-height: 400px;
}

.height-100 {
	height: 100%;
}
vt-cartable-grid td span input[type=checkbox]{
    transform: scale(1.15);
}
vt-cartable-grid th div input[type=checkbox]{
	transform: scale(1.15);
}
vt-persian-date-picker .input-group .dropdown-menu{
    transform: translateX(-130px);
}

table.table.table-striped.col-sm-12.logsTable {
    table-layout: fixed;
}
.logsTable.table>tbody>tr>th{
	font-weight: normal;
	color: #999;
}
table.table.table-striped.col-sm-12.logsTable th,
table.table.table-striped.col-sm-12.logsTable td {
    width: 16%;
}
table.table.table-striped.col-sm-12.logsTable th{
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 2;
}
.btnActionInLetter {
    max-width: 150px !important;
    margin-left: 5px !important;
    border-radius: 2px !important;
    display: inline-flex;
    color: #0097a7 !important;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    min-width: 130px;
/*    border-left: 1px solid #ccc !important;*/
    position: relative
}
/*
.btnActionInLetter:after{
    content: "";
    width: 1px;
    height: 20px;
    margin-right: 25px;
    background: #ccc;
}
.btnActionInLetter.noBorder:after{
    border-left: none !important;
    display: none;
}
*/
.btnActionRow{
    display: flex;
	flex-grow: 1;
	flex-wrap: wrap;
}
/*
.btnActionInLetter:nth-last-child(4),
.btnActionInLetter:nth-last-child(2){
    border-left: 0px solid #ccc !important;
}
*/
.btnActionInLetter.btn-primary{
/*	color: #fff !important;*/
}
description-dropdown #single-button,
tag-input .btn-group > .btn{
    min-width: 110px;
    align-items: center;
}
.composeMessage {
    border: 1px solid #bdbdbd !important;
    margin: 20px auto;
    display: flex;
    width: calc(100% - 40px);
    padding: 5px 10px;
    height: auto;
    align-items: center;
    justify-content: center;
    border-radius: 2px !important;
}
.modal-open .modal {
/*    display: flex !important;*/
    justify-content: center;
    align-items: center;
}
.modal-backdrop.in{
    opacity: 0.8
}
.modal-content{
    box-shadow: none;
}
.btn-print{
	margin-left: 5px;
    border: 1px solid #dadada;
    background: none;
    width: 120px;
    color: #00acc1b8;
    border-radius: 4px;
    height: 35px;
}

.selected .treeDate{
	color: inherit !important
}
.col-sm-8.col-sm-offset-2hashemi{
    border-left: 1px solid #eee;
}
.col-sm-8.col-sm-offset-2hashemi + .col-sm-4 > accordion> .panel-group> .panel.panel-default>.panel-heading{
    background: transparent;
    border-bottom: 0px solid #dcdcdc !important;
}
.col-sm-8.col-sm-offset-2hashemi + .col-sm-4 > accordion> .panel-group> .panel.panel-default:not(.panel-open)>.panel-heading{
    border-bottom: 1px solid #dcdcdc !important;
}
.col-sm-8.col-sm-offset-2hashemi + .col-sm-4 > accordion> .panel-group> .panel.panel-default>.panel-heading> .panel-title>a>span{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.col-sm-8.col-sm-offset-2hashemi + .col-sm-4 > accordion> .panel-group> .panel.panel-default>.panel-heading> .panel-title>a>span > .glyphicon-chevron-right{
    transform: rotate(180deg);
}
.themeWrapper{
    padding: 60px 30px;
    border-radius: 10px;
    margin: 20px auto 0;
    background: transparent;
    display: flex;
    justify-content: center;
}

.themeWrapper > div{
    display: flex;
    box-shadow: 0 0 40px -19px #000;
    padding: 20px;
    justify-content: center;
    background: #fff;
    border-radius: 10px;
    flex-wrap: wrap;
}
.themeWrapper > div > p{
    flex-grow: 1;
    text-align: center;
    margin: 0 0 50px;
}
.themeContainer{
    margin-left: 20px;
    border: 1px solid #eee;
    padding: 20px;
    color: #fff;
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.themeContainer:hover{
    cursor: pointer;
}
.themeContainer:last-child{
    margin: 0;
}
.themeContainer > div{
    height: 30px;
    width: 50px;
    margin-left: 5px;
}
.btn-outline-primary {
    color: #00838f;
    border: 1px solid #00838f;
}
.btn-icon[ng-click="Func.onGetNextLetterClick()"]{
    margin-left: 5px;
}
description-dropdown{
    margin-left: 10px;
}
.d-flex{
    display: flex
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{
	background-color: #fcfcfc;
}

@media screen and (max-width:500px){
	.panel-cartable-menu{
		/*position: static;*/
	}
	.panel-cartable-menu .cartable-accordion .panel-group > a{
		background: #00acc1;
		color: #fff;
	}
}
