<style>
    .modal-footer > button{
        border-radius: 4px !important;
        height: 40px;
        font-size: 13px;
        flex-grow: 1;
    }
</style>
<div class="modal-header">
    <h3 class="modal-title text-center">توجه</h3>
</div>
<div class="modal-body">
	<span>{{notificationBody}}</span>
</div>
<div class="modal-footer" style="display: flex;">
    <button class="btn btn-primary" type="button" ng-click="ok()">بلی</button>
    <button class="btn btn-warning" style="" type="button" ng-click="cancel()">خیر</button>
</div>