<div class="col-sm-2 panel-right-secretariat" style="height: calc(100vh - 50px); overflow-y: auto; position: fixed;right: 0;top: 50px;">
	<div class="list-group col-sm-12" ng-repeat="secretariat in Data.secretariatList">
		<div class="title">{{secretariat.title}}</div>
        <div style="padding: 0 20px; margin: 20px 0;">
            <a class="btn btn-outline-primary btn-block" hotkey="{'alt+n': Func.onAddIncommingClick}" access-checker="MANAGEMENT_RESERVED_LETTER_NUMBER"
                ng-click="Func.onReserveClick(secretariat)" style="height: auto;font-size: 14px; height:40px">
                رزرو نامه
            </a>
            <a class="btn btn-outline-primary btn-block" hotkey="{'alt+n': Func.onAddIncommingClick}"
                ng-click="Func.onAddIncommingClick(secretariat)" style="height: auto;font-size: 14px; height:40px"
                ng-disabled="Func.isIncommingPage()">
              ثبت نامه وارده
            </a>
            <a class="btn btn-outline-primary btn-block" hotkey="{'alt+n': Func.onAddIncommingClick}"
               ng-click="Func.onAddIssuedClick(secretariat)"
               style="height: auto;font-size: 14px; height:40px">
                ثبت نامه صادره
            </a>
        </div>
        <div class="titleSection">
    		<a ng-repeat="menu in secretariat.menuList"  access-checker={{menu.feature}}
                ng-click="Func.onMenuClick(secretariat, menu)"
                ng-class="{'active': menu.active}"
                class="list-group-item col-sm-12"> 
                <h6 class="control-label">
    <!--				<i class="fa fa-circle" aria-hidden="true"></i>-->
                    {{menu.title}}

                </h6>
                <span ng-show="menu.count" class="badge pull-left text-info label-bg"
                      style="font-weight: normal">
                        {{menu.count|EnToFaNumber}}
                    </span>
            </a>
        </div>
		
	</div>
</div>
<!--ng-if="menu.feature=='*' || secretariat.features.indexOf(menu.feature)!=-1"-->
<div class="col-sm-10 col-sm-offset-2 panel-left-secretariat" ui-view="content"></div>