<accordion class="page-menu" close-others="false" ng-repeat="secretariat in Data.secretariatList">
  <accordion-group  is-open="secretariat.open">
    <accordion-heading class="">



      <div class="tw-flex">

				<div class="menu-toggle-icon" ng-include="'kateb-icon-caret-left.svg'" ng-show="!secretariat.open">
				</div>
				<div class="menu-toggle-icon" ng-include="'kateb-icon-caret-down.svg'" ng-show="secretariat.open">
				</div>

				<div>
					{{secretariat.title}}
				</div>

			</div>


    </accordion-heading>

    <div style="">
      <a class="btn btn-outline-primary btn-block hidden-xs" hotkey="{'alt+n': Func.onAddIncommingClick}" access-checker="MANAGEMENT_RESERVED_LETTER_NUMBER"
         ng-click="Func.onReserveClick(secretariat)" style="height: auto;font-size: 14px; height:40px">
        رزرو نامه
      </a>
      <a class="btn btn-outline-primary btn-block" hotkey="{'alt+n': Func.onAddIncommingClick}"
         ng-click="Func.onAddIncommingClick(secretariat)" style="height: auto;font-size: 14px; height:40px"
         ng-disabled="Func.isIncommingPage()">
        ثبت نامه وارده
      </a>
      <a class="btn btn-outline-primary btn-block" hotkey="{'alt+n': Func.onAddIncommingClick}"
         ng-click="Func.onAddIssuedClick(secretariat)"
         style="height: auto;font-size: 14px; height:40px">
        ثبت نامه صادره
      </a>
    </div>



    <a class="page-menu__menu-item-cnt" ng-repeat="menu in secretariat.childItems"  access-checker={{menu.feature}}
       ng-click="Func.onMenuClick(secretariat, menu)"
       ng-class="{'active': menu.active}">
      <h6 class="page-menu__menu-item-text">
        <!--				<i class="fa fa-circle" aria-hidden="true"></i>-->
        {{menu.title}}

      </h6>
      <span ng-show="menu.count" class="page-menu__menu-item-counter"
            style="">
        <span class="page-menu__menu-item-counter-number">
                        {{menu.count|EnToFaNumber}}
        </span>
      </span>
    </a>


  </accordion-group>

</accordion>


<!--<div class="list-group col-sm-12" ng-repeat="secretariat in Data.secretariatList">-->
<!--  <div class="title">{{secretariat.title}}</div>-->
<!--  <div style="padding: 0 20px; margin: 20px 0;">-->
<!--    <a class="btn btn-outline-primary btn-block" hotkey="{'alt+n': Func.onAddIncommingClick}" access-checker="MANAGEMENT_RESERVED_LETTER_NUMBER"-->
<!--       ng-click="Func.onReserveClick(secretariat)" style="height: auto;font-size: 14px; height:40px">-->
<!--      رزرو نامه-->
<!--    </a>-->
<!--    <a class="btn btn-outline-primary btn-block" hotkey="{'alt+n': Func.onAddIncommingClick}"-->
<!--       ng-click="Func.onAddIncommingClick(secretariat)" style="height: auto;font-size: 14px; height:40px"-->
<!--       ng-disabled="Func.isIncommingPage()">-->
<!--      ثبت نامه وارده-->
<!--    </a>-->
<!--    <a class="btn btn-outline-primary btn-block" hotkey="{'alt+n': Func.onAddIncommingClick}"-->
<!--       ng-click="Func.onAddIssuedClick(secretariat)"-->
<!--       style="height: auto;font-size: 14px; height:40px">-->
<!--      ثبت نامه صادره-->
<!--    </a>-->
<!--  </div>-->
<!--  <div class="titleSection">-->
<!--    <a ng-repeat="menu in secretariat.childItems"  access-checker={{menu.feature}}-->
<!--       ng-click="Func.onMenuClick(secretariat, menu)"-->
<!--       ng-class="{'active': menu.active}"-->
<!--       class="list-group-item col-sm-12">-->
<!--      <h6 class="control-label">-->
<!--        &lt;!&ndash;				<i class="fa fa-circle" aria-hidden="true"></i>&ndash;&gt;-->
<!--        {{menu.title}}-->

<!--      </h6>-->
<!--      <span ng-show="menu.count" class="badge pull-left text-info label-bg"-->
<!--            style="font-weight: normal">-->
<!--                        {{menu.count|EnToFaNumber}}-->
<!--                    </span>-->
<!--    </a>-->
<!--  </div>-->

<!--</div>-->