
<div ng-show="isEditMode">
	<span class=" chip  chip-default" ng-click="onModelItemSelect({$item:item})" ng-repeat="item in model track by $index">
		<span class="chip__close " ng-click="onRemove({$item:item})">×</span>
		<span class="tw-p-1" >
			<!-- FIXME:implement supporting appEnumKey,titlePropKey  -->
		{{appEnumKey?(item | appEnum:appEnumKey): item[titlePropKey] || item.title || item}}
		</span>
	</span>

	<div ng-click="Func.onOpenClick()" class="action-icon" ng-include="'kateb-icon-plus.svg'"></div>
</div>