<style>
    
	.editor{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.template-icon{
    margin-top: 8px;
    color: #999 !important;
    height: 47px;
}
.closebtnt:hover, .closebtn{
    background-color: transparent !important;
    border-color: transparent !important;
}
.editbtn,.editbtn:hover{
    left: 28px;
    top: 68px;
    background-color: transparent !important;
    border-color: transparent !important;
}
.viewbtn , .viewbtn:hover{
    left: 56px;
    top: 37px;
    background-color: transparent !important;
    border-color: transparent !important;
}

	input.auto-size-input {
		min-width: 100%;
		max-width: 100%;
	}

	#hidden_span {
		position: absolute;
		top: 0px;
		left: 0px;
		visibility: hidden;
		width: 10px;
		white-space: nowrap;
		overflow: hidden;
	}
</style>

<script type="text/ng-template" id="secretariat-incoming-return-action-button">
    <!--   FIXME:check ng-disable effect on span -->
    <span ng-click="Data.actionButtonsMap['secretariat-incoming-return-action-button'].click()">


        
		<a class="btn btn-sm btn-text btn-icon action-btn-widget action-btn-widget--btn"
		 type="button"
		><i class="flaticon-close-button"></i>بستن</a>

		
        

        <div class="action-btn-widget action-btn-widget--icon action-icon" ng-include="'kateb-icon-times.svg'">
        </div>

        <div class="action-btn-widget action-btn-widget--text" >
			بستن
        </div>

    </span>
</script>


<script type="text/ng-template" id="secretariat-incoming-edit-action-button">
    <!--   FIXME:check ng-disable effect on span -->
    <span 
		ng-show="Data.actionButtonsMap['secretariat-incoming-edit-action-button'].isVisible()" 
		ng-click="Data.actionButtonsMap['secretariat-incoming-edit-action-button'].click()">


        
		<a class="btn btn-sm btn-text btn-icon action-btn-widget action-btn-widget--btn"
				 type="button"
				 ><i class="flaticon-pencil-on-a-notes-paper"></i>{{'EDIT'|EnToFaButton}}</a>

		
        

        <div class="action-btn-widget action-btn-widget--icon action-icon" ng-include="'kateb-icon-pen-square.svg'">
        </div>

		<div class="action-btn-widget action-btn-widget--text" >
			{{'EDIT'|EnToFaButton}}
        </div>

    </span>
</script>

<script type="text/ng-template" id="secretariat-incoming-send-action-button">
    <!--   FIXME:check ng-disable effect on span -->
    <span ng-click="Data.actionButtonsMap['secretariat-incoming-send-action-button'].isDisabled() || Data.actionButtonsMap['secretariat-incoming-send-action-button'].click()"
	ng-class="{'disabled':Data.actionButtonsMap['secretariat-incoming-send-action-button'].isDisabled()}"
	>


        
		<a class="btn btn-sm btn-text btn-icon action-btn-widget action-btn-widget--btn"
				type="button"
				><i class="flaticon-interface-2"></i>ارسال</a>
		
        

        <div class="action-btn-widget action-btn-widget--icon action-icon" ng-include="'kateb-icon-paper-plane.svg'">
        </div>

		<div class="action-btn-widget action-btn-widget--text" >
			ارسال
        </div>

    </span>
</script>

<script type="text/ng-template" id="secretariat-incoming-update-action-button">
    <!--   FIXME:check ng-disable effect on span -->
    <span 
		ng-show="Data.actionButtonsMap['secretariat-incoming-update-action-button'].isVisible()" 
		ng-click="Data.actionButtonsMap['secretariat-incoming-update-action-button'].isDisabled() || Data.actionButtonsMap['secretariat-incoming-update-action-button'].click()"
		ng-class="{'disabled':Data.actionButtonsMap['secretariat-incoming-update-action-button'].isDisabled()}"
		>


        
		<a class="btn btn-sm btn-text btn-icon action-btn-widget action-btn-widget--btn"
				 type="button"
				><i class="flaticon-technology"></i>{{'UPDATE'|EnToFaButton}}</a>
		
        

        <div class="action-btn-widget action-btn-widget--icon action-icon" ng-include="'kateb-icon-save'">
        </div>

		<div class="action-btn-widget action-btn-widget--text" >
			{{'UPDATE'|EnToFaButton}}
        </div>

    </span>
</script>


<script type="text/ng-template" id="secretariat-incoming-reset-action-button">
    <!--   FIXME:check ng-disable effect on span -->
    <span ng-show="Data.actionButtonsMap['secretariat-incoming-reset-action-button'].isVisible()" 
		ng-click="Data.actionButtonsMap['secretariat-incoming-reset-action-button'].click()">


        
		<a class="btn btn-sm btn-text btn-icon action-btn-widget action-btn-widget--btn"
				 type="button"
				><i class="fa fa-refresh"></i>ریست</a>
		
        

        <div class="action-btn-widget action-btn-widget--icon action-icon" ng-include="'kateb-icon-times-circle.svg'">
        </div>

		<div class="action-btn-widget action-btn-widget--text" >
			ریست
        </div>

    </span>
</script>


<script type="text/ng-template" id="secretariat-incoming-remove-action-button">
    <!--   FIXME:check ng-disable effect on span -->
    <span ng-show="Data.actionButtonsMap['secretariat-incoming-remove-action-button'].isVisible()"
		ng-click="Data.actionButtonsMap['secretariat-incoming-remove-action-button'].click()">


        
		<a class="btn btn-sm btn-text btn-icon action-btn-widget action-btn-widget--btn"
				
                type="button"
				><i class="flaticon-close-button"></i>{{'DELETE'|EnToFaButton}}</a>

        

        <div class="action-btn-widget action-btn-widget--icon action-icon" ng-include="'kateb-icon-trash-alt.svg'">
        </div>

		<div class="action-btn-widget action-btn-widget--text" >
			{{'DELETE'|EnToFaButton}}
        </div>

    </span>
</script>




<script type="text/ng-template" id="secretariat-incoming-send-back-description-action-button">
    <span ng-show="Data.actionButtonsMap['secretariat-incoming-send-back-description-action-button'].isVisible()">

<!-- FIXME: implement directive for different widget types -->
        
		<div class="btn-group" dropdown id="backDropDown" style="margin-top: -11px;"
                 >
                <button id="single-button" type="button" class="btn btn-primary" dropdown-toggle style="padding: 13px 0 0;display: block;">
                    <i class="fa fa-share"></i>
                    بازگشت <i class="flaticon-arrows-3"></i>
                </button>
                <div class="dropdown-menu"
                     style="z-index: 99999; margin-top: 8px;padding: 6px; border-radius: 0px; font-family:iranyekanweb"
                     role="menu" aria-labelledby="single-button">
                    <textarea ng-model="descriptionBack" placeholder="توضیحات خود را وارد نمایید..."></textarea>
                    <button type="button" class="btn btn-primary btn-block" ng-click="Func.onSendBackDescriptionClick();" style="margin-top: 10px;font-family:iranyekanweb">
                        ارسال
                    </button>
                </div>
            </div>

    </span>
</script>



<script type="text/ng-template" id="secretariat-incoming-save-action-button">
    <!--   FIXME:check ng-disable effect on span -->
    <span 
		ng-click="Data.actionButtonsMap['secretariat-incoming-save-action-button'].isDisabled() || Data.actionButtonsMap['secretariat-incoming-save-action-button'].click()" 
		ng-class="{'disabled':Data.actionButtonsMap['secretariat-incoming-save-action-button'].isDisabled()}"
		>


        
		<button 
				type="button"
				class="btn btn-sm btn-text btn-icon white-bg action-btn-widget action-btn-widget--btn"
				>
			<i class="flaticon-technology"></i> ‌ذخیره
		</button>

        

        <div class="action-btn-widget action-btn-widget--icon action-icon" ng-include="'kateb-icon-save'">
        </div>


		<div class="action-btn-widget action-btn-widget--text" >
			‌ذخیره
        </div>



    </span>
</script>



<script type="text/ng-template" id="secretariat-incoming-save-template-action-button">
    <!--   FIXME:check ng-disable effect on span -->
    <span ng-show="Data.actionButtonsMap['secretariat-incoming-save-template-action-button'].isVisible()">

<!-- FIXME: implement directive for different widget types -->
        
		<div id="draftTemplateId" class="btn-group" dropdown >
				
			<button type="button"
					class="btn btn btn-sm  btn-icon white-bg  "
					style="margin-right: 4px; padding: 5px 30px;"
					dropdown-toggle>ذخیره قالب نامه

				<span class="caret"></span>
				<span class="sr-only">Split button!</span>
			</button>
			<ul class="dropdown-menu"
				role="menu"
				style="z-index: 999; margin-top: 8px; padding: 6px; font-family: iranyekanweb; border-radius: 0px;">
				<li>
					<div class="input-group">
						<input
								type="text"
								class="form-control"
								placeholder="نام قالب ..."
								ng-model="Data.userDefinedTemplateName"> 
					</div>
				</li>
				<li class="">
					<div class="form-control template-icon">
						آیکون قالب
						<div>
							<vt-photo ng-model="Data.userDefinedTemplateThumnail" ratio="1"
								style="position: absolute; left: 42px; top: 60px;" is-edit-mode="Data.mode!='view'"
								no-title-description="true" template-mode="true">
							</vt-photo>
						</div>
					</div>
				</li>
				<li>
					<button
							style="margin-top: 10px; padding-top: 10px; border-radius: 2px; "
							class="btn btn-xs btn-primary "
							ng-disabled="Data.actionButtonsMap['draft-paraph-and-send-action-button'].isDisabled()"
							ng-click="Func.savePublicLetterTemplate();"
							access-checker="API_ADD_PUBLIC_LETTER_TEMPLATE">ذخیره قالب</button>
				</li>
			</ul>
		</div>
    </span>
</script>




<div class="hidden-md mobile-action-bar">


	<span class="tw-mr-auto">
        <more-btn-bottom-sheet-opener
            menu-item-tpls="[
			'secretariat-incoming-return-action-button',
			'secretariat-incoming-edit-action-button',
			'secretariat-incoming-send-action-button',
			'secretariat-incoming-update-action-button',
			'secretariat-incoming-reset-action-button',
			'secretariat-incoming-remove-action-button',
			'secretariat-incoming-send-back-description-action-button',
			'secretariat-incoming-save-action-button',
			'secretariat-incoming-save-template-action-button'
			]" 
			action-buttons-map="Data.actionButtonsMap"
        ></more-btn-bottom-sheet-opener>
    </span>
	

</div>


<div class="hidden-xs" style="border-bottom: 1px solid #ddd;">
		
	<span ng-include="'secretariat-incoming-return-action-button'"></span>
	<span ng-include="'secretariat-incoming-edit-action-button'"></span>
	<span ng-include="'secretariat-incoming-send-action-button'"></span>
	<span ng-include="'secretariat-incoming-update-action-button'"></span>
	<span ng-include="'secretariat-incoming-reset-action-button'"></span>
	<span ng-include="'secretariat-incoming-remove-action-button'"></span>
	<span ng-include="'secretariat-incoming-send-back-description-action-button'"></span>
	<span ng-include="'secretariat-incoming-save-action-button'"></span>
	<span ng-include="'secretariat-incoming-save-template-action-button'"></span>
		
		
		
</div>
<div class="letter-draft-view">

	<nav class="letter-draft-view-header-menu">
		<ul class="letter-draft-view-header-menu__nav">
			<li role="presentation" class="letter-draft-view-header-menu__nav-item"
				role="presentation" ng-class="{'active':tab.active}"
				ng-repeat="tab in Data.tabList"
				ng-click="Func.onTabClick(tab)">
				<h5>
					<a class="letter-draft-view-header-menu__nav-item-text">{{tab.title}}</a>
				</h5>
			</li>
		</ul>
	</nav>
	
		
	<section class="letter-draft-view__content ">
		<form name="Data.form" class="tw-h-full" novalidate>
			
			<div class=" " ng-show="Data.selectedTab.id == 0">
				<div >
					<letter-form-type ng-model="Data.selectedLetterFormType" ng-if="(Data.mode==='view' && Data.letter && Data.letter.forms && Data.letter.forms.length>0) || Data.mode!=='view'"
						apis="Apis" mode="Data.mode" letter="Data.letter" org-uid="Data.orgUid"></letter-form-type>
			 	</div>
				<div class="saad-forms">

					<div class="saad-form">

						<div class="saad-form__row" ng-class="{'has-error':Data.validationClicked && Data.form.externalNumber.$invalid}">
							<label class=" text-danger" ng-show="Data.letter.duplicated==true">این نامه قبلا ثبت شده است</label>
							<label class="saad-form__label" ng-class="{'required':Data.mode!='view'}">شماره خارجی</label>
							<div ng-show="Data.mode=='view'" class="saad-form__value">
						{{Data.letter.externalNumber|EnToFaNumber}}
							</div>
							<div ng-show="Data.mode!='view'" class="saad-form__value">
								
								<div class="md-input-main">
									<div class="md-input-box">
										<input
										type="text" class="md-input"  name="externalNumber"
										ng-blur="Func.searchLetterByExternalnumber(Data.letter.externalNumber)"
										ng-model="Data.letter.externalNumber" ng-change="Data.duplicateList=[]" required 
												placeholder=" "
										/>
<!--                                        <label for="fullName" class="md-label">Full Name</label>-->
										<div class="md-input-underline" >
										</div>
									</div>
								</div>





								<div ng-show="Data.duplicateList.length" class="duplicate-letter">
									<div class="header">نامه‌های مشابه</div>
									<span class="kateb-label kateb-label--default-light  fa-btn"
										ng-repeat="item in Data.duplicateList"
										ng-click="Func.onDuplicateClick(item)">{{item.title}}</span>
								</div>
							</div>
						</div>

						<div class="saad-form__row">
							<label class="saad-form__label">رده موضوعی</label>
							<div ng-show="Data.mode=='view'" class="saad-form__value">
						{{Data.letter.topicCategory.title}}
							</div>
							<div ng-show="Data.mode!='view'" class="saad-form__value dropdown-selector">
								<!-- <i class="fa fa-times" ng-click="Func.onRemoveSenderClick('topicCategory')" ng-show="Data.topicCategory"></i>
								<ui-select append-to-body="true" name="topicCategory" ng-model="Data.topicCategory"
										on-select="Func.onSelectTopicCategory($item, $model)">
									<ui-select-match>
										<span ng-bind="$select.selected.title"></span>
									</ui-select-match>
									<ui-select-choices
											repeat="item in (Data.tagList | filter: $select.search) track by $index"
											refresh="Func.searchTagList($select.search)"
											refresh-delay="0">
										<span ng-bind="item.title"></span>
									</ui-select-choices>
								</ui-select> -->

								<!-- TODO:place isMobileView in root -->
								<single-select
									widget="{{Data.isMobileView ? 'bottomSheetOpener':'dropdown'}}"
									name="topicCategory"
									options="Data.tagList"
									ng-model="Data.topicCategory"
									model="Data.topicCategory" 
									on-select="Func.onSelectTopicCategory($item, $model)"
									on-remove="Func.onRemoveSenderClick('topicCategory')"
									is-edit-mode="Data.mode!='view'"
									search-fn="Func.searchTagList($query)"
									>

								</single-select>



							</div>
						</div>


						<div class="saad-form__row" ng-class="{'has-error':Data.validationClicked && Data.form.subject.$invalid}">
							<label class="saad-form__label" ng-class="{'required':Data.mode!='view'}">موضوع</label>
							<div ng-show="Data.mode=='view'" class="saad-form__value">
						{{Data.letter.subject|EnToFaNumber}}
							</div>
							<div ng-show="Data.mode!='view'" class="saad-form__value">

								<div class="md-input-main">
									<div class="md-input-box">
										<input
										type="text" class="md-input"  auto-size-input" name="subject"
										ng-model="Data.letter.subject" required ng-init="doAoutoSizeInput()" maxlength="250"
										/>
<!--                                        <label for="fullName" class="md-label">Full Name</label>-->
										<div class="md-input-underline" >
										</div>
									</div>
								</div>



								<div id="counter"></div>
								<span id="hidden_span"></span>
							</div>
						</div>
			
						<div class="saad-form__row">
							<label class="saad-form__label">برچسب‌ها</label>
							<div class="saad-form__value">
								<multiselect-reciever 
									model="Data.letter.tags" 
									widget="{{Data.isMobileView ? 'bottomSheetOpener':'dropdown'}}"
									search-fn="controller.multiselectRecieverSearchTags(query)"
									name="letterTags" 
									ng-model="Data.letter.tags"
									is-edit-mode="Data.mode!='view'">
								</multiselect-reciever>
							</div>
						</div>
						<div class="saad-form__row" ng-class="{'has-error':Data.validationClicked && Data.form.officialData.$invalid}">
							<label class="saad-form__label" ng-class="{'required':Data.mode!='view'}">تاریخ اولیه مدرک</label>
							<div ng-show="Data.mode=='view'" class="saad-form__value">
						{{Data.letter.officialDate|tehranDate:'jDD-jMMMM-jYYYY'|EnToFaNumber}}
							</div>
							<div ng-show="Data.mode!='view'" class="saad-form__value">
								<vt-persian-date-picker name="officialData" max-date="Data.officialMaxDate"
									model="Data.letter.officialDate"></vt-persian-date-picker>
							</div>
						</div>
						<div class="saad-form__row" ng-class="{'has-error':Data.validationClicked && Data.form.originalityType.$invalid}">
							<label class="saad-form__label" ng-class="{'required':Data.mode!='view'}">نوع مدرک</label>
							<div ng-show="Data.mode=='view'" class="saad-form__value">
						{{Data.letter.originalityType|appEnum:licenceType}}
							</div>
							<div ng-show="Data.mode!='view'" class="saad-form__value">
								<!-- <select class="form-control" 
									ng-model="Data.letter.originalityType" 
									name="originalityType" 
									required>
									<option value="Copy">کپی</option>
									<option value="Orginal">اصل</option>
									<option value="CopyAsOrginal">کپی برابر با اصل</option>
								</select> -->

								<single-select
									widget="{{Data.isMobileView ? 'bottomSheetOpener':'dropdown'}}"
									name="originalityType"
									app-enum-key="licenceType"
									required
									ng-model="Data.letter.originalityType" 
									model="Data.letter.originalityType" 
									is-edit-mode="Data.mode!='view'"
									>

								</single-select>




							</div>
						</div>
						<div class="saad-form__row" ng-class="{'has-error':Data.validationClicked && Data.form.receivingStyle.$invalid}">
							<label class="saad-form__label" ng-class="{'required':Data.mode!='view'}">نوع دریافت</label>
							<div ng-show="Data.mode=='view' || Data.letter.receivingStyle=='KATEB' || Data.letter.receivingStyle=='ECEP'" class="saad-form__value">
						{{Data.letter.receivingStyle|appEnum:letterRecivingType}}
							</div>
							<div ng-show="Data.mode!='view' && Data.letter.receivingStyle!='KATEB' && Data.letter.receivingStyle!='ECEP'" class="saad-form__value">
								<!-- <select class="form-control" ng-model="Data.letter.receivingStyle" name="receivingStyle">
									<option value="POST">پست</option>
									<option value="FAX">فکس</option>
									<option value="COURIER">پیک</option>
								</select> -->

								<single-select
									widget="{{Data.isMobileView ? 'bottomSheetOpener':'dropdown'}}"
									name="receivingStyle"
									app-enum-key="letterRecivingType"
									ng-model="Data.letter.receivingStyle" 
									model="Data.letter.receivingStyle" 
									is-edit-mode="Data.mode!='view'"
									>

								</single-select>



							</div>
						</div>
						<div class="saad-form__row" ng-hide="Data.mode=='view' && !Data.letter.confidentialityLevel">
							<label class="saad-form__label">اندازه صفحه</label>
							<div ng-show="Data.mode=='view'" class="saad-form__value">{{Data.letter.pageSize}}</div>
							<div ng-show="Data.mode!='view'" class="saad-form__value">
								<!-- <select class="form-control" ng-model="Data.letter.pageSize" name="draftPageSize">
									<option value="A4">A4</option>
									<option value="A5">A5</option>
									<option value="B5">B5</option>
								</select> -->

								<single-select
									widget="{{Data.isMobileView ? 'bottomSheetOpener':'dropdown'}}"
									name="draftPageSize"
									options="['A4','A5','B5']"
									ng-model="Data.letter.pageSize"
									model="Data.letter.pageSize"
									is-edit-mode="Data.mode!='view'"
									>

								</single-select>
							</div>
						</div>
						<div class="saad-form__row">
							<label class="saad-form__label">فوریت</label>
							<div ng-show="Data.mode=='view'" class="saad-form__value">{{Data.letter.priority|appEnum:priority}}</div>
							<div ng-show="Data.mode!='view'" class="saad-form__value">
								<!-- <select class="form-control" ng-model="Data.letter.priority">
									<option value="Normal">عادی</option>
									<option value="Critical">فوری</option>
									<option value="Blocker">خیلی فوری</option>
								</select> -->

								<single-select
									widget="{{Data.isMobileView ? 'bottomSheetOpener':'dropdown'}}"
									app-enum-key="letterIncommingPriority"
									ng-model="Data.letter.priority"
									model="Data.letter.priority"
									is-edit-mode="Data.mode!='view'"
									>

								</single-select>

							</div>
						</div>
						<div class="saad-form__row">
							<label class="saad-form__label">سطح محرمانگی</label>
							<div ng-show="Data.mode=='view'" class="saad-form__value">{{Data.letter.confidentialityLevel|appEnum:confidentialityLevel}}</div>
							<div ng-show="Data.mode!='view'" class="saad-form__value">
								<!-- <select class="form-control" ng-model="Data.letter.confidentialityLevel">
									<option value="Unclassified">طبقه بندی نشده</option>
									<option value="Restricted">محرمانه</option>
									<option value="Confidential">فوق محرمانه</option>
									<option value="Secret">سری</option>
									<option value="Top_secret">فوق سری</option>
								</select> -->


								<single-select
									widget="{{Data.isMobileView ? 'bottomSheetOpener':'dropdown'}}"
									app-enum-key="confidentialityLevel"
									ng-model="Data.letter.confidentialityLevel"
									model="Data.letter.confidentialityLevel"
									is-edit-mode="Data.mode!='view'"
									>

								</single-select>


							</div>
						</div>
						<div class="saad-form__row" ng-class="{'has-error':Data.validationClicked && Data.form.indicatorBook.$invalid}">
							<label class="saad-form__label" ng-class="{'required':Data.mode!='view'}">دفتر اندیکاتور</label>
							<div ng-show="Data.mode=='view'" class="saad-form__value">
						{{Data.letter.indicatorBook.title|EnToFaNumber}}
							</div>
							<div ng-show="Data.mode!='view'" class="saad-form__value">
								<!-- <select class="form-control" ng-model="Data.indicatorBook" name="indicatorBook" required
									ng-change="Func.onSelectIndicatorBook(Data.indicatorBook)"
									ng-options="indicatorBook as indicatorBook.title for indicatorBook in Data.indicatorBookList">
								</select> -->

								<single-select
									widget="{{Data.isMobileView ? 'bottomSheetOpener':'dropdown'}}"
									name="indicatorBook"
									required
									ng-model="Data.indicatorBook"
									model="Data.indicatorBook"
									options="Data.indicatorBookList"
									on-select="Func.onSelectIndicatorBook($item)"
									is-edit-mode="Data.mode!='view'"
									>

								</single-select>


							</div>
						</div>

					</div>
					<div class="saad-form">

						<div class="saad-form__row" ng-class="{'has-error':Data.validationClicked && Data.form.letterDeliveryTo.$invalid}">
							<label class="saad-form__label" ng-class="{'required':Data.mode!='view'}">گیرندگان</label>
							<div class="saad-form__value">
								<multiselect-reciever 
									widget="{{Data.isMobileView ? 'bottomSheetOpener':'dropdown'}}"
									model="Data.letter.deliveryTo" 
									search-fn="controller.multiselectRecieverSearch(query)"
									name="letterDeliveryTo" 
									ng-model="Data.letter.deliveryTo" 
									vt-array-required
									is-edit-mode="Data.mode!='view'">
								</multiselect-reciever>
							</div>
						</div>
						<div class="saad-form__row">
							<label class="saad-form__label">رونوشت</label>
							<div class="saad-form__value">
								<multiselect-reciever 
									widget="{{Data.isMobileView ? 'bottomSheetOpener':'dropdown'}}"
									has-description="true" 
									model="Data.letter.deliveryCc" 
									search-fn="controller.multiselectRecieverSearch(query)"
									is-edit-mode="Data.mode!='view'">
								</multiselect-reciever>
							</div>
							<div ng-show="Data.mode!='view'">
								<a ng-init="bcc=false" ng-click="bcc = !bcc" ng-show="!bcc" class="text-success">افزودن رونوشت پنهان</a>
							</div>
						</div>
						<div class="saad-form__row" ng-show="bcc || Data.letter.deliveryBcc.length">
							<label class="saad-form__label">رونوشت پنهان</label>
							<div class="saad-form__value">
								<multiselect-reciever 
									widget="{{Data.isMobileView ? 'bottomSheetOpener':'dropdown'}}"
									has-description="true" 
									model="Data.letter.deliveryBcc" 
									search-fn="controller.multiselectRecieverSearch(query)"
									is-edit-mode="Data.mode!='view'">
								</multiselect-reciever>
							</div>
						</div>
						<div class="saad-form__row" ng-class="{'has-error':Data.validationClicked && Data.form.externalOrganizationSender.$invalid}">
							<label class="saad-form__label" ng-class="{'required':Data.mode!='view'}">سازمان فرستنده</label>
							<div ng-show="Data.mode=='view' || Data.letter.receivingStyle=='KATEB'" class="saad-form__value">{{Data.letter.externalOrganizationSender.title}}</div>
							<div ng-show="Data.mode!='view' && Data.letter.receivingStyle!='KATEB'" class="saad-form__value">
								<!-- <ui-select append-to-body="true" 
									name="externalOrganizationSender" 
									ng-model="Data.letter.externalOrganizationSender" required
									on-select="Func.onSelectOrganizationSender($item, $model)">
									<ui-select-match>
										<span ng-bind="$select.selected.title"></span>
									</ui-select-match>
									<ui-select-choices repeat="item in (Data.organizationSenderList | filter: $select.search) track by $index">
										<span ng-bind="item.title"></span>
									</ui-select-choices>
								</ui-select> -->


								<single-select
									widget="{{Data.isMobileView ? 'bottomSheetOpener':'dropdown'}}"
									name="externalOrganizationSender" 
									required
									ng-model="Data.letter.externalOrganizationSender"
									model="Data.letter.externalOrganizationSender"
									options="Data.organizationSenderList"
									on-select="Func.onSelectOrganizationSender($item, $model)"
									is-edit-mode="Data.mode!='view'"
									>

								</single-select>


							</div>
						</div>
						<div class="saad-form__row" ng-class="{'has-error':Data.validationClicked && Data.form.letterSender.$invalid}">
							<label class="saad-form__label" ng-class="{'required':Data.mode!='view'}">فرستنده</label>
							<div ng-show="Data.mode=='view'" class="saad-form__value">
						{{Data.letter.sender.title}}
							</div>
							<div ng-show="Data.mode!='view'" class="saad-form__value">
								<ui-select required
									append-to-body="true"
									name="letterSender"
									on-select="Func.onSelectSender($item, $model)"
									reset-search-input="false"
									ng-model="Data.letter.sender">
									<ui-select-match >
										<span ng-bind="$select.selected.title"></span>
									</ui-select-match>
									<ui-select-choices
											refresh="Func.getUiSelectData($select)"
											refresh-delay="0"
											repeat="item in (Data.senderList | filter: $select.search) track by $index">
										<span ng-bind="item.title"></span>
									</ui-select-choices>
								</ui-select>

								<!-- <single-select
									widget="{{Data.isMobileView ? 'bottomSheetOpener':'dropdown'}}"
									name="letterSender"
									required
									ng-model="Data.letter.sender"
									model="Data.letter.sender"
									options="Data.senderList"
									on-select="Func.onSelectSender($item, $model)"
									refresh-fn="Func.getUiSelectData($query)"
									is-edit-mode="Data.mode!='view'"
									>

								</single-select> -->


							</div>
						</div>
						<div class="saad-form__row" ng-show="Data.mode!='view'">
							<label class="saad-form__label">نیاز به پاسخ</label>
							<div class="saad-form__value">
								<input type="checkbox" ng-model="Data.responseNeeded">
							</div>
						</div>
						<div class="saad-form__row" ng-if="Data.responseNeeded">
							<label class="saad-form__label">مهلت پاسخ</label>
							<div ng-show="Data.mode=='view'" class="saad-form__value">
						{{Data.letter.requestResponseDate|tehranDate:'jDD-jMMMM-jYYYY'|EnToFaNumber}}
							</div>
							<div ng-show="Data.mode!='view'" class="col-sm-7">
								<vt-persian-date-picker name="requestResponseDate" min-date="Data.currentDate" model="Data.letter.requestResponseDate"></vt-persian-date-picker>
							</div>
						</div>
						<div class="saad-form__row">
							<label class="saad-form__label">توضیحات</label>
							<div ng-show="Data.mode=='view'" class="saad-form__value">
						{{Data.letter.description|EnToFaNumber}}
							</div>
							<div ng-show="Data.mode!='view'" class="saad-form__value">
								<textarea type="text" class="form-control" name="description"
									ng-model="Data.letter.description"></textarea>
							</div>
						</div>
						<div ng-if="Data.hasExternalArchives" class="saad-form__row" ng-class="{'has-error':Data.validationClicked && Data.vtFolderSelectorForm.$invalid}">
							<label class="saad-form__label" ng-class="{'required':Data.mode!='view'}">بایگانی نامه</label>
							<div class="saad-form__value">
								<ng-form name="Data.vtFolderSelectorForm">
									<vt-folder-selector model="Data.letter.externalArchive" form-name="Data.vtFolderSelectorForm" required = "Data.mode=='add'"
														is-edit-mode="Data.mode!='view'" modernization-code-placement="'right'"></vt-folder-selector>
								</ng-form>
							</div>
						</div>

					</div>
	
				
				
				</div>
					
				
			</div>
	
			<div class="tw-h-full" ng-show="Data.selectedTab.id == 1">
				<div class="tw-h-full" ng-class="{'has-error':Data.validationClicked && Data.form.letterBody.$invalid}">
					<letter-body class="tw-h-full tw-flex tw-flex-col"  model="Data.letter.body" ng-required="!Data.scanedFile.hash" name="letterBody" ng-model="Data.letter.body"
								is-edit-mode="Data.mode!='view'" api="controller.letterBody"
								on-file-uploaded="loadPdfFn" pdf-url="Data.scanedFile">
					</letter-body>
				</div>
				<div class="hidden-xs" ng-show="Data.mode!='view'">
					<scanner  options="controller.scanner.options"   isolate-form model="Data.scanedFile" api="controller.scanner" ></scanner>
					<!-- <div ng-if="controller.vtPDF.pdfUrl" style="height: calc(100vh - 240px)" vt-pdf control-fn="controller.vtPDF"></div> -->
				</div>
			</div>
	
			<div class="" ng-show="Data.selectedTab.id == 2">
				<letter-attachment
	
					model="Data.letter.attachments"
					is-edit-mode="Data.mode!='view'">
				</letter-attachment>
			</div>
		</form>
	</section>

</div>
