
<script type="text/ng-template" id="secretariat-incoming-list-action-button-register">
    <span ng-if="Data.featuresList.indexOf('ACCESS_REG_INCOMING')!=-1" hotkey="{'alt+n': Func.onAddClick}"
	ng-click="Func.onAddClick()" >
        <!-- web view -->
        <a class="btn btn-icon btn-sm btn-text hidden-xs"  style="margin-right: auto;">
	 <i class="flaticon-letter"></i>
	 ثبت پیش‌نویس نامه وارده</a>
        <!-- mobile view -->
		<div class="action-icon  visible-xs" ng-include="'kateb-icon-plus.svg'"></div>
    </span>
</script>

<div class="mobile-action-bar hidden-md" >
	<span ng-include="'secretariat-incoming-list-action-button-register'"></span>
</div>


<div class="well well-sm action-bar hidden-xs">
	<span ng-include="'secretariat-incoming-list-action-button-register'"></span>
	
</div>

<div class="main-content">
	<div class="kateb-filter-list">
		<div class="hidden-xs" >
			<div class="" style="">پیش‌نویس‌ نامه‌های وارده
				<a tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip-placement="left" tooltip-popup-delay="500" tooltip-class="customClass"
				tooltip="لیست پیش‌نویس نامه‌های وارده‌ای که در همین دبیرخانه توسط مسئولین دبیرخانه ساخته شده ولی هنوز ارسال نشده‌اند."><img
						src="app/assets/img/information-button.png" style="width:12px;" /></a>
				
			</div>

		</div>
		<div class="hidden-xs" >
		</div>
		<div class="kateb-filter-list__list" >
			<vt-grid control-fn="Controller.listController" 
				options="{
					hideTotalCount: true,
					isMobleView: Data.isMobileView,
					infinitScroll: Data.isMobileView
				}"
			></vt-grid>
		</div>
	</div>
</div>
