
<div class="modal-header">بایگانی</div>
<div class="modal-body">
    <textarea ng-model="description" placeholder="توضیحات خود را وارد نمایید..." 
        id="textareainternalArchiveActionBtn"
        class="tw-w-full"
        ng-change="Func.onTextAreaAdjust()" ></textarea>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning"
            ng-click="Func.onCancelClick()">انصراف</button>
    <button type="button" class="btn btn-success"
            ng-click="Func.onSendClick()">ارسال</button>
</div>