<div class="col-sm-12">
	<div class="panel panel-default panel-page-header">
		<div class="panel-body">مدیریت دبیرخانه</div>
	</div>
</div>
<div class="col-md-8" access-checker="API_LIST_SECRETARIAT">
	<div class="panel panel-default">
		<div class="panel-body">
			<vt-search control-fn="Controller.secretariatSearchController"></vt-search>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<vt-grid control-fn="Controller.secretariatListController"></vt-grid>
		</div>
	</div>
</div>

<div class="col-md-4" access-checker="API_VIEW_SECRETARIAT" 
	ng-hide="Data.searchMode=='advanced'">
	<div class="panel panel-default">
		<div class="panel-body panel-management">
			<div class="col-sm-12">
				<a class="btn btn-sm btn-default btn-text"
					access-checker="API_ADD_SECRETARIAT"
					ng-show="true" type="button"
					ng-click="Func.onAddsecretariatClick()" ng-disabled="Data.mode=='add'" ng-bind="'CREATE'|EnToFaButton"></a>
				<a class="btn btn-sm btn-primary btn-text"
					access-checker="API_EDIT_SECRETARIAT"
					ng-show="Data.selectedsecretariat.uid && Data.mode=='view'" type="button"
					ng-click="Func.onEditsecretariatClick()" ng-disabled="" ng-bind="'EDIT'|EnToFaButton"></a>
				<a class="btn btn-sm btn-success btn-text"
					access-checker="API_ADD_SECRETARIAT"
					ng-show="Data.mode=='add'" type="button"
					ng-click="Func.onSavesecretariatClick()" ng-bind="'SAVE'|EnToFaButton"
					ng-disabled="secretariatForm.$invalid && Data.validationClicked"></a>
				<a class="btn btn-sm btn-success btn-text"
					access-checker="API_EDIT_SECRETARIAT"
					ng-show="Data.mode=='edit'" type="button"
					ng-click="Func.onUpdatesecretariatClick()" ng-bind="'UPDATE'|EnToFaButton"
					ng-disabled="secretariatForm.$invalid && Data.validationClicked"></a>
				<a class="btn btn-sm btn-warning btn-text"
					ng-show="Data.mode=='edit' || Data.mode=='add'" type="button"
					ng-click="Func.onCancelClick()" ng-disabled="" ng-bind="'CANCEL'|EnToFaButton"></a>
				<a class="btn btn-sm btn-danger btn-text"
					access-checker="API_DELETE_SECRETARIAT"
					ng-show="Data.selectedsecretariat.uid && Data.mode=='view'" type="button"
					ng-click="Func.onDeletesecretariatClick()" ng-disabled="" ng-bind="'DELETE'|EnToFaButton"></a>
				<a class="btn btn-sm btn-default pull-left"
					ng-show="true" type="button"
					ng-click="Func.onChangeSearchModeClick('advanced')">
					<span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
				</a>
			</div>
		</div>
	</div>
	<div class="panel panel-default" ng-show="Data.selectedsecretariat.uid || Data.mode=='add'">
		<div class="panel-body">
			<form name="secretariatForm" role="form" novalidate>
				<div class="row rowForm" ng-show="Data.mode=='view'" access-checker="SEE_ENTITY_UID">
					<label class="col-sm-5">شناسه</label>
					<div class="col-sm-7">
				{{Data.selectedsecretariat.uid}}
					</div>
				</div>
                <div class="row rowForm">
					<label class="col-sm-5">نام</label>
					<div ng-show="Data.mode=='view'" class="col-sm-7">
				{{Data.selectedsecretariat.name|EnToFaNumber}}
					</div>
					<div ng-show="Data.mode!='view'" class="col-sm-7">
						<input type="text" class="form-control" name="name"
							ng-model="Data.selectedsecretariat.name">

					</div>
				</div>
				<div class="row rowForm">
					<label class="col-sm-5">فعال</label>
					<div ng-show="Data.mode=='view'" class="col-sm-7">
				{{Data.selectedsecretariat.enabled|checkmark}}
					</div> 
					<div ng-show="Data.mode!='view'" class="col-sm-7">
						<input type="checkbox" class="" name="enabled" 
							ng-model="Data.selectedsecretariat.enabled">
					</div>
				</div>	
				<div class="row rowForm">
					<label class="col-sm-5">دفاتر اندیکاتوری نامه‌های صادره</label>
					<div ng-show="Data.mode=='view'" class="col-sm-7">
						<span class="kateb-label kateb-label--default-light "
							ng-repeat="indicator in Data.selectedsecretariat.indicatorBookSenders">
							{{indicator.title}} </span>
					</div>
					<div ng-show="Data.mode!='view'" class="col-sm-7">
						<div class="form-group multiSelector" ng-dropdown-multiselect=""
							translation-texts="Controller.multiSelectorsController.multiSelectTranslate"
							options="Data.indicatorList"
							selected-model="Data.selectedsecretariat.indicatorBookSenders"
							extra-settings="Controller.multiSelectorsController.multiSelectSettings"></div>
					</div>
				</div>	
				<div class="row rowForm">
					<label class="col-sm-5">دفاتر اندیکاتوری نامه‌های وارده</label>
					<div ng-show="Data.mode=='view'" class="col-sm-7">
						<span class="kateb-label kateb-label--default-light "
							ng-repeat="indicator in Data.selectedsecretariat.indicatorBookRecievers">
							{{indicator.title}} </span>
					</div>
					<div ng-show="Data.mode!='view'" class="col-sm-7">
						<div class="form-group multiSelector" ng-dropdown-multiselect=""
							translation-texts="Controller.multiSelectorsController.multiSelectTranslate"
							options="Data.indicatorList"
							selected-model="Data.selectedsecretariat.indicatorBookRecievers"
							extra-settings="Controller.multiSelectorsController.multiSelectSettings"></div>
					</div>
				</div>	
				<div class="row rowForm">
					<label class="col-sm-5">سمت سردبیر</label>
					<div ng-show="Data.mode=='view'" class="col-sm-7">
				{{Data.selectedsecretariat.secretaryPosition.title|EnToFaNumber}}
					</div>
					<div ng-show="Data.mode!='view'" class="col-sm-7">
						<select class="form-control" ng-model="Data.secretaryPosition" name="secretaryPosition" 
							ng-change="Func.onSelectsecretaryPosition(Data.secretaryPosition)" 
							ng-options="secretaryPosition as secretaryPosition.title for secretaryPosition in Data.secretaryPositionList">
						</select>
					</div>
				</div>
				<div>
					<div class="row rowForm">
						<h5 class="col-sm-12 text-center"> مختصات مهر دبیرخانه نامه های وارده</h5>
						<label class="col-sm-5">مختصات مهر نامه از بالا (درصد)</label>
						<div ng-show="Data.mode=='view'" class="col-sm-7">
							{{Data.selectedsecretariat.fromSecretariatStampPosistionY}}
						</div>
						<div ng-show="Data.mode!='view'" class="col-sm-7">
							<input type="number" class="form-control" name="fromSecretariatStampPosistionY"
								ng-model="Data.selectedsecretariat.fromSecretariatStampPosistionY">
						</div>
					</div>
					<div class="row rowForm">
						<label class="col-sm-5">مختصات مهر نامه از چپ (درصد)</label>
						<div ng-show="Data.mode=='view'" class="col-sm-7">
							{{Data.selectedsecretariat.fromSecretariatStampPosistionX}}
						</div>
						<div ng-show="Data.mode!='view'" class="col-sm-7">
							<input type="number" class="form-control" name="fromSecretariatStampPosistionX  "
								ng-model="Data.selectedsecretariat.fromSecretariatStampPosistionX ">
						</div>
					</div>
					<div class="row rowForm">
						<h5 class="col-sm-12 text-center"> مختصات مهر دبیرخانه نامه های صادره</h5>
						<label class="col-sm-5">مختصات مهر نامه از بالا (درصد)</label>
						<div ng-show="Data.mode=='view'" class="col-sm-7">
							{{Data.selectedsecretariat.throughSecretariatStampPosisionY}}
						</div>
						<div ng-show="Data.mode!='view'" class="col-sm-7">
							<input type="number" class="form-control" name="throughSecretariatStampPosisionY"
								ng-model="Data.selectedsecretariat.throughSecretariatStampPosisionY">
						</div>
					</div>
					<div class="row rowForm">
						<label class="col-sm-5">مختصات مهر نامه از چپ (درصد)</label>
						<div ng-show="Data.mode=='view'" class="col-sm-7">
							{{Data.selectedsecretariat.throughSecretariatStampPosisionX}}
						</div>
						<div ng-show="Data.mode!='view'" class="col-sm-7">
							<input type="number" class="form-control" name="throughSecretariatStampPosisionX  "
								ng-model="Data.selectedsecretariat.throughSecretariatStampPosisionX ">
						</div>
					</div>
				</div>
                <div class="row rowForm">
                    <label class="col-sm-5">فعال سازی Ecep</label>
                    <div ng-show="Data.mode=='view'" class="col-sm-7">
                        {{Data.selectedsecretariat.emailConfig.enabled|checkmark}}
                    </div>
                    <div ng-show="Data.mode!='view'" class="col-sm-7">
                        <input type="checkbox" class="" name="enabled"
                               ng-model="Data.selectedsecretariat.emailConfig.enabled">
                    </div>
                </div>
                <div ng-if="!!Data.selectedsecretariat.emailConfig.enabled">
                    <div class="row rowForm">
                        <h5 class="col-sm-12 text-center">اطلاعات ارسال ECE</h5>
                    </div>
                    <div class="row rowForm">
                        <label class="col-sm-5">نام کاربری smtp</label>
                        <div ng-show="Data.mode=='view'" class="col-sm-7">
                            {{Data.selectedsecretariat.emailConfig.smtpUsername|EnToFaNumber}}
                        </div>
                        <div ng-show="Data.mode!='view'" class="col-sm-7">
                            <input type="text" class="form-control" name="name"
                                   ng-model="Data.selectedsecretariat.emailConfig.smtpUsername">
                        </div>
                    </div>
                    <div class="row rowForm">
                        <label class="col-sm-5">رمز عبور smtp</label>
                        <div ng-show="Data.mode=='view'" class="col-sm-7">
                            {{Data.selectedsecretariat.emailConfig.smtpPassword|EnToFaNumber}}
                        </div>
                        <div ng-show="Data.mode!='view'" class="col-sm-7">
                            <input type="text" class="form-control" name="name"
                                   ng-model="Data.selectedsecretariat.emailConfig.smtpPassword">
                        </div>
                    </div>
                    <div class="row rowForm">
                        <label class="col-sm-5">آدرس سرور smtp</label>
                        <div ng-show="Data.mode=='view'" class="col-sm-7">
                            {{Data.selectedsecretariat.emailConfig.smtpHost|EnToFaNumber}}
                        </div>
                        <div ng-show="Data.mode!='view'" class="col-sm-7">
                            <input type="text" class="form-control" name="name"
                                   ng-model="Data.selectedsecretariat.emailConfig.smtpHost">
                        </div>
                    </div>
                    <div class="row rowForm">
                        <label class="col-sm-5">پورت smtp</label>
                        <div ng-show="Data.mode=='view'" class="col-sm-7">
                            {{Data.selectedsecretariat.emailConfig.smtpPort|EnToFaNumber}}
                        </div>
                        <div ng-show="Data.mode!='view'" class="col-sm-7">
                            <input type="text" class="form-control" name="name"
                                   ng-model="Data.selectedsecretariat.emailConfig.smtpPort">
                        </div>
                    </div>
					<div class="row rowForm">
						<label class="col-sm-5">smtpAuth</label>
						<div ng-show="Data.mode=='view'" class="col-sm-7">
							{{Data.selectedsecretariat.emailConfig.smtpAuth|checkmark}}
						</div>
						<div ng-show="Data.mode!='view'" class="col-sm-7">
							<input type="checkbox" class="" name="smtpAuth" ng-model="Data.selectedsecretariat.emailConfig.smtpAuth">
						</div>
					</div>
					<div class="row rowForm">
						<label class="col-sm-5">smtpStartTLS</label>
						<div ng-show="Data.mode=='view'" class="col-sm-7">
							{{Data.selectedsecretariat.emailConfig.smtpStartTls|checkmark}}
						</div>
						<div ng-show="Data.mode!='view'" class="col-sm-7">
							<input type="checkbox" class="" name="smtpStartTls" ng-model="Data.selectedsecretariat.emailConfig.smtpStartTls ">
						</div>
					</div>
                    <hr>
                    <div class="row rowForm">
                        <h5 class="col-sm-12 text-center">اطلاعات دریافت ECE</h5>
                    </div>
                    <div class="row rowForm">
                        <label class="col-sm-5">نام کاربری imap</label>
                        <div ng-show="Data.mode=='view'" class="col-sm-7">
                            {{Data.selectedsecretariat.emailConfig.imapUsername|EnToFaNumber}}
                        </div>
                        <div ng-show="Data.mode!='view'" class="col-sm-7">
                            <input type="text" class="form-control" name="name"
                                   ng-model="Data.selectedsecretariat.emailConfig.imapUsername">
                        </div>
                    </div>
                    <div class="row rowForm">
                        <label class="col-sm-5">رمز عبور imap</label>
                        <div ng-show="Data.mode=='view'" class="col-sm-7">
                            {{Data.selectedsecretariat.emailConfig.imapPassword|EnToFaNumber}}
                        </div>
                        <div ng-show="Data.mode!='view'" class="col-sm-7">
                            <input type="text" class="form-control" name="name"
                                   ng-model="Data.selectedsecretariat.emailConfig.imapPassword">
                        </div>
                    </div>
                    <div class="row rowForm">
                        <label class="col-sm-5">آدرس سرور imap</label>
                        <div ng-show="Data.mode=='view'" class="col-sm-7">
                            {{Data.selectedsecretariat.emailConfig.imapHost|EnToFaNumber}}
                        </div>
                        <div ng-show="Data.mode!='view'" class="col-sm-7">
                            <input type="text" class="form-control" name="name"
                                   ng-model="Data.selectedsecretariat.emailConfig.imapHost">
                        </div>
                    </div>
                    <div class="row rowForm">
                        <label class="col-sm-5">پورت imap</label>
                        <div ng-show="Data.mode=='view'" class="col-sm-7">
                            {{Data.selectedsecretariat.emailConfig.imapPort|EnToFaNumber}}
                        </div>
                        <div ng-show="Data.mode!='view'" class="col-sm-7">
                            <input type="text" class="form-control" name="name"
                                   ng-model="Data.selectedsecretariat.emailConfig.imapPort">
                        </div>
                    </div>


                </div>
                <div class="row rowForm">
					<label class="col-sm-5" style="padding: 0px;">دیگر اپراتورهای دبیرخانه<img src="app/assets/img/information-button.png" style="height: 12px; width: 12px; margin-right: 5px; margin-left: 14px;"tooltip-append-to-body="true"
					tooltip-trigger="mouseenter" tooltip-placement="top" tooltip-popup-delay="50"
               		tooltip="به غیر از مسئول دبیرخانه، امکان دادن دسترسی دبیرخانه به دیگر کاربران را نیز خواهید داشت." /></label>
					<div class="col-sm-12">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>سمت</th>
									<th>اجازه ثبت نامه داخلی</th>
									<th>اجازه ثبت نامه صادره</th>
									<th>اجازه ثبت نامه وارده </th>
									<th ng-show="Data.mode!='view'">
										<button class="fa-btn btn btn-sm btn-primary" style="height: 21px; padding: 0px 5px;" ng-click="Func.onAddSecretaryClick()">
											<i class="flaticon-signs"></i>
										</button>	
									</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-show="Data.mode!='view'" 
									ng-repeat="item in Data.selectedsecretariat.secretariesPositionAssignments track by $index">
									<td>
										<select class="form-control" ng-model="item.position" name="Secretary" 
										ng-options="secretaryPosition as secretaryPosition.title for secretaryPosition in Data.secretaryPositionList">
										</select>
									</td>
									<td>
										<input class="form-control" style="width: 12px;margin-right: 24px;" type="checkbox" ng-model="item.accessRegisterInternal" />
									</td>
									<td>
										<input class="form-control"style="width: 12px;margin-right: 24px;" type="checkbox" ng-model="item.accessRegisterIssued" />
									</td>
									<td>
										<input class="form-control" style="width: 12px;margin-right: 24px;" type="checkbox" ng-model="item.accessRegisterIncomming" />
									</td>
									<td>
										<i class="flaticon-close-button fa-btn btn btn-sm btn-danger" style="height: 20px; width: 20px; padding: 0px 2px; margin-top: 10px;" ng-click="Func.onRemoveSecretaryClick($index)"></i>
									</td>
								</tr>
								<tr ng-show="Data.mode==='view'" 
									ng-repeat="item in Data.selectedsecretariat.secretariesPositionAssignments">
									<td>{{item.position.title}}</td>
									<td>{{item.accessRegisterInternal|checkmark}}</td>
									<td>{{item.accessRegisterIssued|checkmark}}</td>
									<td>{{item.accessRegisterIncomming|checkmark}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>	
			</form>
		</div>
	</div>
</div>
<div class="col-md-4" access-checker="API_VIEW_SECRETARIAT" ng-show="Data.searchMode=='advanced'">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="col-sm-12">
				<vt-search control-fn="Controller.secretariatAdvancedSearchController"></vt-search>
			</div>
		</div>
	</div>
</div>


