<style type="text/css">
	.follow{
		height: auto;
	    left: 3%;
	    max-height: 67%;
	    min-height: 340px;
	    overflow: auto;
	    /*position: absolute;*/
	    top: 45px;
	}
    .node-info{
        background: transparent;
        box-shadow: 0 0 13px -8px #333;
        position: sticky;
        top: 50px;
    }
    .clearfix::after {
    content: "";
    clear: both;
    display: table;
    }
    .tree-view {
        /* width: 510px; */
    }
</style>

<script type="text/ng-template" id="cartable-acction-btn-close">
    <span ng-click="Func.onReturnClick()">
        <!-- web view -->
        <a class="btn btn-sm btn-text btn-icon  hidden-xs" type="button" >
                    <i class="flaticon-close-button"></i>
                    بستن
        </a>
        <!-- mobile view -->
        <a class="visible-xs">بازگشت </a>

    </span>
</script>


<script type="text/ng-template" id="cartable-acction-btn-tag">
    <span >
        <!-- web view -->
        <tag-input style="" class=""  list-change="Func.onTagInputListChanged" external-data="Data.tagInputExternalData">
        </tag-input>
        <!-- mobile view -->
<!--        <a class="visible-xs">بازگشت </a>-->

    </span>
</script>

<script type="text/ng-template" id="cartable-acction-btn-archive">
    <span >
        <!-- web view -->
        <internal-archive-action-btn uid-list="Data.archiveInputExternalData" cb="Func.onArchiveCb"> </description-dropdown>
        <!-- mobile view -->
        <!--        <a class="visible-xs">بازگشت </a>-->

    </span>
</script>

<script type="text/ng-template" id="cartable-acction-btn-reply">
    <span ng-click="Func.onReplyClick()">
        <!-- web view -->
        <a class="btn btn-sm btn-text btn-icon  hidden-xs" >
                    <i class="fa fa-mail-reply"></i>
                    پاسخ
                </a>
        <!-- mobile view -->
                <a class="visible-xs">پاسخ </a>

    </span>
</script>



<script type="text/ng-template" id="cartable-acction-btn-user-archive">
    <span access-checker="USER_LETTER_ARCHIVE" ng-click="Func.onAddToUserArchive()">
        <!-- web view -->
        <a  class="btn btn-sm btn-text btn-icon  hidden-xs" >
                    انتقال به آرشیو شخصی
                </a>
        <!-- mobile view -->
        <a class="visible-xs">انتقال به آرشیو شخصی </a>

    </span>
</script>

<script type="text/ng-template" id="cartable-acction-btn-follow">
    <span ng-click="Func.onFollowClick()" ng-show="!Data.isFollow">
        <!-- web view -->
        <button class="btn btn-primary single-button  noBorder hidden-xs" style="border: 1px solid #d6d6d6 !important" type="button" >نیاز به پیگیری</button>
        <!-- mobile view -->
        <div class="action-icon  visible-xs" ng-include="'kateb-icon-level-up-alt.svg'"></div>

    </span>
</script>
<script type="text/ng-template" id="cartable-acction-btn-follow">
    <span ng-show="Data.isFollow" ng-click="Func.onUnfollowClick()">
        <!-- web view -->
        <button  class="btn btn-primary single-button  hidden-xs" type="button" >عدم نیاز به پیگیری</button>
        <!-- mobile view -->
        <a class="visible-xs">عدم نیاز به پیگیری</a>

    </span>
</script>

<script type="text/ng-template" id="letter-prev-action-button">
    <span ng-disabled="Data.isPrevDisabled" ng-show="Data.isNextPrevFeaturePossible" ng-click="Func.onGetPreviousLetterClick()">
        <!-- web view -->
        <button
                type="button"
                class="btn btn-sm btn-text btn-icon white-bg pull-left  noBorder hidden-xs" >
                <i class="fa fa-arrow-up"></i>                    قبلی
        </button>
        <!-- mobile view -->
        <div class="acction-icon visible-xs" ng-include="'kateb-icon-angle-right.svg'"></div>

    </span>
</script>



<script type="text/ng-template" id="letter-next-action-button">
    <span ng-disabled="Data.isNextDisabled" ng-show="Data.isNextPrevFeaturePossible" ng-click="Func.onGetNextLetterClick()">
        <!-- web view -->
        <button
                type="button"
                class="btn btn-sm btn-text btn-icon white-bg pull-left  hidden-xs " >
                    <i class="fa fa-arrow-down"></i>بعدی
        </button>
        <!-- mobile view -->
        <div class="acction-icon visible-xs" ng-include="'kateb-icon-angle-left.svg'"></div>

    </span>
</script>

<script type="text/ng-template" id="cartable-acction-btn-user-un-archive">
    <span access-checker="USER_LETTER_ARCHIVE">
        <un-archive  class="btn btn-sm btn-icon white-bg"
                            exchange-function-for-delete="Func.exchangeDelete">
                        </un-archive>
        </span>
  </script>





<div class="mobile-action-bar hidden-md">

    <div ng-repeat="actionButton in  Data.actionButtons" >
        <span ng-include="'cartable-acction-btn-'+ actionButton"></span>
    </div>

    <!-- next prev buttons-->
    <span ng-include="'letter-prev-action-button'"></span>
    <span ng-include="'letter-next-action-button'"></span>

</div>


<div class="panel panel-default hidden-xs" style="overflow: visible">
    <div class="panel-body"  style="border-bottom: 1px solid #ddd;justify-content:space-between;display: flex;">
        <div class="btnActionRow ">
            <div ng-repeat="actionButton in  Data.actionButtons" >
                <span ng-include="'cartable-acction-btn-'+ actionButton"></span>
            </div>


        </div>
        <!-- next prev buttons-->
        <div class="">
            <span ng-include="'letter-prev-action-button'"></span>
            <span ng-include="'letter-next-action-button'"></span>

        </div>
    </div>
</div>
<div class="letter-draft-view">
    <section class="letter-draft-view__header-summary visible-xs ">
        <span>نامه (شماره {{Data.letter.internalNumber| EnToFaNumber}}):</span>
        <p class="tw-mr-p-margin tw-text-gray">
            {{Data.letter.subject}}
        </p>
    </section>
    <nav class="letter-draft-view-header-menu">
        <ul class="letter-draft-view-header-menu__nav">
            <li role="presentation" 
                class="letter-draft-view-header-menu__nav-item"
                ng-class="{'active':tab.active}" 
                ng-repeat="tab in Data.tabList" 
                ng-click="Func.onTabClick(tab)" 
                access-checker="{{tab.feature}}">
                <h5>
                    <a class="letter-draft-view-header-menu__nav-item-text">{{tab.title}}</a>
                </h5>
            </li>
        </ul>

    </nav>

    <section class="letter-draft-view__content ">

        <div class="" ng-show="Data.selectedTab.id == 0">
            <letter-form-type ng-model="Data.selectedLetterFormType" ng-if="Data.letter && Data.letter.forms && Data.letter.forms.length>0"
                apis="Apis" mode="Data.mode" letter="Data.letter" org-uid="Data.orgUid"></letter-form-type>
        </div>
        <div class="saad-forms " ng-show="Data.selectedTab.id == 0">
            <div class="saad-form">
                <div class="saad-form__row">
                    <label class="saad-form__label">شماره نامه</label>
                    <div class="saad-form__value">{{Data.letter.internalNumber|EnToFaNumber}}</div>
                </div>    
                <div class="saad-form__row" ng-if="Data.letter.initiation.externalNumber">
                    <label class="saad-form__label">شماره خارجی</label>
                    <div class="saad-form__value">{{Data.letter.initiation.externalNumber|EnToFaNumber}}</div>
                </div>
                <div class="saad-form__row" ng-show="Data.letter.initiation.draft.uid">
                    <label class="saad-form__label">شماره پیش نویس</label>
                    <div class="saad-form__value">{{Data.letter.initiation.draft.title|EnToFaNumber}}</div>
                </div>
                <div class="saad-form__row" ng-if="Data.letter.indicatorNumber">
                    <label class="saad-form__label">شماره اندیکاتور</label>
                    <div class="saad-form__value">{{Data.letter.indicatorNumber|EnToFaNumber}}</div>
                </div>
                <div class="saad-form__row">
                    <label class="saad-form__label">موضوع</label>
                    <div class="saad-form__value">{{Data.letter.subject}}</div>
                </div>
                <div class="saad-form__row" ng-if="Data.letter.topicCategory.title">
                    <label class="saad-form__label">رده موضوعی</label>
                    <div class="saad-form__value">{{Data.letter.topicCategory.title}}</div>
                </div>
                <div class="saad-form__row">
                    <label class="saad-form__label">تاریخ رسمی</label>
                    <div ng-show="Data.letter.type == 'ORIGINAL'" class="saad-form__value">{{Data.letter.officialDate|tehranDate:'jDD-jMMMM-jYYYY HH:mm:ss'|EnToFaNumber}}</div>
                    <div ng-show="Data.letter.type == 'FORWARDED'" class="saad-form__value">{{Data.letter.letterOfficialDate|tehranDate:'jDD-jMMMM-jYYYY HH:mm:ss'|EnToFaNumber}}</div>
                </div>
                <div class="saad-form__row" ng-show="Data.letter.type == 'FORWARDED'">
                    <label class="saad-form__label" >تاریخ ارجاع</label>
                    <div class="saad-form__value">{{Data.letter.creationDate|tehranDate:'jDD-jMMMM-jYYYY HH:mm:ss'|EnToFaNumber}}</div>
                </div>
                <div class="saad-form__row" ng-show="Data.letter.initiation.header.title">
                    <label class="saad-form__label">سربرگ</label>
                    <div class="saad-form__value">
                        {{Data.letter.initiation.header.title}}
                    </div>
                </div>
                <div class="saad-form__row" ng-show="Data.letter.initiation.pageSize">
                    <label class="saad-form__label">اندازه صفحه</label>
                    <div class="saad-form__value">
                        {{Data.letter.initiation.pageSize}}
                    </div>
                </div>
                <div class="saad-form__row">
                    <label class="saad-form__label">فوریت</label>
                    <div class="saad-form__value">{{Data.letter.priority|appEnum:priority}}</div>
                </div>

                <div class="saad-form__row">
                    <label class="saad-form__label">نوع نامه</label>
                    <div class="saad-form__value">{{Data.letter.dirType|appEnum:letterType}}</div>
                </div>
                <div class="saad-form__row" ng-if="Data.letter.initiation.originalityType">
                    <label class="saad-form__label">نوع</label>
                    <div class="saad-form__value">{{Data.letter.initiation.originalityType|appEnum:licenceType}}</div>
                </div>
                <div class="saad-form__row" ng-if="Data.letter.initiation.receivingStyle">
                    <label class="saad-form__label">نوع دریافت</label>
                    <div class="saad-form__value">{{Data.letter.initiation.receivingStyle|appEnum:letterRecivingType}}</div>
                </div>
                <div class="saad-form__row" ng-if="Data.letter.confidentialityLevel">
                    <label class="saad-form__label">سطح محرمانگی</label>
                    <div class="saad-form__value">{{Data.letter.confidentialityLevel|appEnum:confidentialityLevel}}</div>
                </div>
                <div class="saad-form__row" ng-if="Data.type=='OUTSIDE'">
                    <label class="saad-form__label">دبیرخانه</label>
                    <div class="saad-form__value">{{Data.letter.initiation.initiatingSecretariat.title}}</div>
                </div>
                <div class="saad-form__row" ng-if="Data.letter.initiation.initiatingOperator.title">
                    <label class="saad-form__label">مسئول ثبت</label>
                    <div class="saad-form__value">{{Data.letter.initiation.initiatingOperator.title}}</div>
                </div>
                <div class="saad-form__row" ng-if="Data.letter.initiation.receivingDescription">
                    <label class="saad-form__label">توضیحات</label>
                    <div class="saad-form__value">{{Data.letter.initiation.receivingDescription|EnToFaNumber}}</div>
                </div>
                <div class="saad-form__row" ng-if="Data.letter.tags">
                    <label class="saad-form__label">برچسب ها</label>
                    <div class="saad-form__value">
                        <span class=" chips  chips-default " ng-repeat="tag in Data.letter.tags track by $index">
                            <span class="chips__close " ng-click="Func.onRemoveTagClick($index, tag);">×</span>
                            <span class="tw-p-1" >
                                {{tag.title}}
                            </span>
                        </span>
                    </div>
                </div>
                <div class="saad-form__row" ng-if="Data.lpa.isArchived">
                    <label class="saad-form__label">توضیحات بایگانی</label>
                    <pre class="saad-form__value well well-sm content-with-html" ng-bind-html="Data.lpa.description | safeHTML"></pre>
                </div>
            </div>
            <div class="saad-form">
                <div class="saad-form__row">
                    <label class="saad-form__label">فرستنده</label>
                    <div class="saad-form__value">{{Data.letter.initiation.sender.title}}</div>
                </div>
                <div class="saad-form__row" ng-if="Data.letter.organization.title">
                    <label class="saad-form__label">سازمان فرستنده</label>
                    <div class="saad-form__value">{{Data.letter.organization.title}}</div>
                </div>
                <div class="saad-form__row" ng-if="Data.letter.forwarder">
                    <label class="saad-form__label">ارجاع دهنده</label>
                    <div class="saad-form__value">{{Data.letter.forwarder.title}}</div>
                </div>
                <div class="saad-form__row" ng-show="Data.letter.initiation.actor.title">
                    <label class="saad-form__label">اقدام کننده</label>
                    <div class="saad-form__value">{{Data.letter.initiation.actor.title}}</div>
                </div>
                <div class="saad-form__row" ng-if="Data.letter.hamesh">
                    <label class="saad-form__label">هامش</label>
                    <div class="saad-form__value">{{Data.letter.hamesh|EnToFaNumber}}</div>
                </div>
                <div class="saad-form__row" ng-if="Data.letter.requestResponseDate">
                    <label class="saad-form__label">مهلت پاسخ گویی</label>
                    <div class="saad-form__value">{{Data.letter.requestResponseDate|tehranDate:'jDD-jMMMM-jYYYY'|EnToFaNumber}}</div>
                </div>
                <div class="saad-form__row">
                    <label class="saad-form__label">گیرندگان</label>
                    <div class="saad-form__value">
                        <span class="kateb-label kateb-label--default-light  " ng-repeat="pua in Data.letter.deliveryTo">
                            <div>{{pua.title}}</div>
                            <hr style="border-color: rgb(0, 151, 167); margin: 6px;" ng-show="pua.description">
                            <div ng-show="pua.description">{{pua.description}}</div>
                        </span>
                    </div>
                </div>
                <div class="saad-form__row" >
                    <label class="saad-form__label">رونوشت</label>
                    <div class="saad-form__value">
                        <span class="kateb-label kateb-label--default-light  " ng-repeat="pua in Data.letter.deliveryCc">
                            <div>{{pua.title}}</div>
                            <hr style="border-color: rgb(0, 151, 167); margin: 6px;" ng-show="pua.description">
                            <div ng-show="pua.description">{{pua.description}}</div>
                        </span>
                    </div>
                </div>
                <div class="saad-form__row" ng-show="Data.letter.deliveryBcc.length>0">
                    <label class="saad-form__label">رونوشت پنهان</label>
                    <div class="saad-form__value">
                        <span class="kateb-label kateb-label--default-light  " ng-repeat="pua in Data.letter.deliveryBcc">
                            <div>{{pua.title}}</div>
                            <hr style="border-color: rgb(0, 151, 167); margin: 6px;" ng-show="pua.description">
                            <div ng-show="pua.description">{{pua.description}}</div>
                        </span>
                    </div>
                </div>
                <div class="saad-form__row" ng-if="Data.shamsQRCodeEnabled">
                    <label class="saad-form__label">کد QR شمس</label>
                    <div class="saad-form__value receiver">
                        <img ng-src="{{'api/letter/qr_code/'+ Data.letter.uid+'?w=100&h=100'}}" alt="QRCode">
                    </div>
                </div>
                
            </div>
            
            
        </div>

        <div class="saad-form" ng-if="Data.selectedTab.id == 1">
            <div class="saad-form__row">
                <div class="col-sm-8 col-sm-offset-2hashemi">
                    <letter-body model="Data.letter.fileBody"
                            is-edit-mode="false"
                            on-file-uploaded="loadPdfFn"
                            pdf-file="Data.pdfFile"
                            api="Controller.pdfFile">
                    </letter-body>
                    <!--<iframe ng-src="{{Func.trustSrc(Data.pdfFile)}}" style="height: 600px !important;width: 800px !important;" frameborder="0"></iframe>-->
                </div>
                <div class="col-sm-4" style="max-height: calc(100vh - 230px);overflow: auto">
                    <accordion close-others="false">
                        <accordion-group is-open="print.open" ng-init="print.open=true">
                            <accordion-heading>
                                <h4>چاپ</h4>
                                <i class="pull-right glyphicon"
                                    ng-class="{'glyphicon-chevron-down': print.open, 'glyphicon-chevron-right': !print.open}"></i>
                            </accordion-heading>
                            <div>
                                <kateb-print disable-checkbox="Data.letter.modifyInProcess"
                                                letter-uid="Data.letter.uid" model="Data.letter" type="Data.letter.initiation.type"
                                                is-print-with-signature="Data.isPrintWithSignature"
                                                is-print-with-header="Data.isPrintWithHeader"
                                                indecator-number="Data.indecatorNumber" deliverycc="Data.delivery_cc" word-enable=true
                                                deliverybcc="Data.delivery_bcc">
                                </kateb-print>
                            </div>
                        </accordion-group>
                        <accordion-group is-open="attachment.open" ng-init="attachment.open=true">
                            <accordion-heading>
                                <h4>ضمیمه</h4>
                                <i class="pull-right glyphicon"
                                    ng-class="{'glyphicon-chevron-down': attachment.open, 'glyphicon-chevron-right': !attachment.open}"></i>
                            </accordion-heading>
                            <div>
                                <letter-attachment model="Data.letter.attachments"
                                                    is-edit-mode="false">
                                </letter-attachment>
                            </div>
                        </accordion-group>
                        <accordion-group is-open="relatedLetters.open" ng-init="relatedLetters.open=true">
                            <accordion-heading>
                                <h4>نامه های مرتبط</h4>
                                <i class="pull-right glyphicon"
                                    ng-class="{'glyphicon-chevron-down': relatedLetters.open, 'glyphicon-chevron-right': !relatedLetters.open}"></i>
                            </accordion-heading>
                            <div>
                                <div class="row "
                                        ng-repeat="letter in Data.relatedLetterList track by $index">
                                    <span class="">{{letter.dirType|appEnum:letterType}}</span>
                                    <div class="saad-form__label" style="text-align:center">
                                        <div class="img-type-attachment fa fa-envelope-o bg-letter"></div>
                                        <div class="title-attachment">{{letter.letterBody.name|splitString:15}}</div>
                                    </div>
                                    <div class="col-sm-10 description-attachment">
                                        <div class="">
                                            <div class="">
                                                <span class="relatedLetterLable col-sm-4">فرستنده: </span>
                                                <span class="col-sm-8">{{letter.initiation.sender.title}}</span>
                                            </div>
                                            <div class="">
                                                <span class="relatedLetterLable col-sm-4">موضوع: </span>
                                                <span class="col-sm-8">{{letter.subject}}</span>
                                            </div>
                                            <div class="">
                                                <span class="relatedLetterLable col-sm-4">تاریخ ایجاد: </span>
                                                <span class="col-sm-8">{{letter.creationDate|tehranDate:'jDD-jMMMM-jYYYY'|EnToFaNumber}}</span>
                                            </div>
                                            <div class="">
                                                <span class="relatedLetterLable col-sm-4">شماره داخلی: </span>
                                                <span class="col-sm-8">{{letter.internalNumber|EnToFaNumber}}</span>
                                            </div>
                                            <div class="">
                                                <span class="relatedLetterLable col-sm-4">الویت: </span>
                                                <span class="col-sm-8">{{letter.priority|appEnum:priority}}</span>
                                            </div>
                                            <div class="">
                                                <span class="relatedLetterLable col-sm-4">گیرندگان: </span>
                                                <span class="" ng-repeat="deliveryTo in letter.deliveryTo track by $index">
                                                    <div class="col-sm-8" style="margin-right: 55px;">{{deliveryTo.title}}</div>
                                                </span>
                                            </div>
                                        </div>
                                        <a class="btn pull-left"
                                            ui-sref="Func.getStateName('base.home.cartable.orgLetter({letterUid: letter.uid})')"
                                            target="_blank">نمایش نامه</a>
                                    </div>
                                </div>
                            </div>
                        </accordion-group>
                    </accordion>
                </div>
            </div>
        </div>

        

        <div class="" ng-show="Data.selectedTab.id == 3">
            
            <div class="text-left">
                <i class="flaticon-interface-3" ng-click="Func.onShowTreeOrListClick('list')"></i>
                <i class="flaticon-motherboard-detail" ng-click="Func.onShowTreeOrListClick('tree')"></i>
                <i class="flaticon-technology-2" ng-click="Func.onPrintClick('#listViewPrint')" ng-show="Data.listView"></i>
                <i class="flaticon-signs" ng-click="Func.onChangeTreeMode('full')" ng-show="Data.treeMode=='brief'"></i>
<!--                    <i class="flaticon-minus" ng-click="Func.onChangeTreeMode('brief')" ng-show="Data.treeMode=='full'"></i>-->
            </div>
            
            <div ng-if="Data.listView" id="listViewPrint">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6 no-float">
                            <div id="letter-image" class=" letter-image" ng-style="{'padding': '50px 0px'}">
                                <img class="img-responsive" ng-if="Data.letter.uid" ng-src="{{Func.getLetterImage()}}" style="border: 1px solid #ccc">
                            </div>
                        </div>
                        <div class="col-sm-6 no-float tree-view print-tree-wrapper" ng-style="{'padding': '50px 0px'}">
                            <open-tree tree-data="Data.letterForwardTreeData" api="Controller.treeApi" letter="Data.letter"
                                        class="open-tree tree print-tree no-drop-actions" template="Print"></open-tree>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-if="Data.letterFeatures['forward']">
                <div class="col-sm-6">
                    <form name="Data.form" class="saad-form">
                        <div class="saad-form__row" ng-class="{'has-error':Data.validationClicked && Data.form.letterDeliveryTo.$invalid}">
                            <label class="saad-form__label" ng-class="{'required':Data.mode!='view'}">گیرندگان</label>
                            <div class="saad-form__value">
                                <multiselect-reciever model="Data.forward.deliveryTo"
                                    search-fn="Controller.multiselectRecieverSearch(query)" name="letterDeliveryTo"
                                    ng-model="Data.forward.deliveryTo" options="Data.puaList" is-edit-mode="Data.mode!='view'"
                                    vt-array-required>
                                </multiselect-reciever>
                            </div>
                        </div>
                        <div class="saad-form__row">
                            <label class="saad-form__label">انتخاب هامش</label>
                            <div class="saad-form__value">
                                <ui-select ng-model="Data.hamesh" on-select="Func.onHameshSelect($item, $model)">
                                    <ui-select-match>{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="hamesh in Data.hameshList">
                                        <div ng-bind-html="hamesh.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="saad-form__row">
                            <label class="saad-form__label">هامش</label>
                            <div class="saad-form__value">
                                <textarea type="text" class="form-control" name="description" ng-model="Data.forward.hamesh"></textarea>
                            </div>
                        </div>
                        <div class="saad-form__row">
                            <label class="saad-form__label">فوریت</label>
                            <div class="saad-form__value">
                                <select class="form-control" ng-model="Data.forward.priority">
                                    <option selected value="Normal">عادی</option>
                                    <option value="Critical">فوری</option>
                                    <option value="Blocker">خیلی فوری</option>
                                </select>
                            </div>
                        </div>
                        <div class="saad-form__row ">
                            <label class="saad-form__label"></label>
                            <div class="saad-form__value saad-checkbox-group">
                                <div class="saad-checkbox">
                                    <label class="">نیاز به پاسخ</label>
                                    <div class="">
                                        <input type="checkbox" ng-model="Data.responseNeeded">
                                    </div>
                                </div>

                                <div class="saad-checkbox">
                                    <label class="">نیاز به ضمیمه</label>
                                    <div class="">
                                        <input type="checkbox" ng-model="Data.attachmentNeeded">
                                    </div>
                                </div>
                                <div class="saad-checkbox" access-checker="HIDDEN_FORWARD">
                                    <label class="saad-form__label">ارجاع مخفی</label>
                                    <div class="saad-form__value">
                                        <input type="checkbox" ng-model="Data.forward.hidden">
                                    </div>
                                </div>



                            </div>
                            
                        </div>
                        <div class="saad-form__row" ng-if="Data.responseNeeded">
                            <label class="saad-form__label">مهلت پاسخ</label>
                            <div class="saad-form__value">
                                <vt-persian-date-picker name="requestResponseDate" min-date="Data.currentDate"
                                    model="Data.forward.requestResponseDate"></vt-persian-date-picker>
                            </div>
                        </div>
                        <div class="saad-form__row col-md-offset-3" ng-if="Data.attachmentNeeded">
                            <letter-attachment model="Data.forward.attachments" is-edit-mode="true"> </letter-attachment>
                        </div>
                        <div class="saad-form__row">
                            <button class="btn btn-sm btn-primary pull-left" type="button" ng-click="Func.onForwardClick()"
                                ng-disabled="Data.form.$valid && Data.validationClicked && Data.forwardIsDisabled">ارسال ارجاع</button>
                            <button class="btn btn-sm btn-warning pull-left" style="margin-left: 5px" type="button"
                                ng-click="Func.onForwardAndArchiveClick()"
                                ng-disabled="Data.form.$valid && Data.validationClicked && Data.forwardIsDisabled">ارجاع و بایگانی</button>
                            <button class="btn btn-sm btn-warning pull-left" style="margin-left: 5px" type="button"
                                ng-click="Func.onForwardAndNextClick()"
                                ng-disabled="Data.form.$valid && Data.forwardIsDisabled && Data.validationClicked || Data.letterState.totalCount === Data.letterState.totalIndex + 1">ارجاع
                                و بعدی</button>
                        </div>
                    </form>
                </div>
                <hr class="col-sm-11">
            </div>
            <div ng-show="Data.treeView">
                <div class="clearfix">
                    <div class="col-sm-8 tree-view" ng-if="Data.letter.uid">
                        <open-tree tree-data="Data.letterForwardTreeData" api="Controller.treeApi" class="open-tree tree no-drop-actions" letter="Data.letter">
                        </open-tree>
                    </div>
                    <div class="col-sm-4  well well-sm node-info" ng-if="Data.selectedNode.letter && Data.letterFeatures['tree-respond']">
                        <i style="height: 16px;" ng-click="Data.selectedNode = {}" class="flaticon-close-button pull-right btn btn-xs"></i>
                        &nbsp;&nbsp;
                        <div class="saad-form__row">
                            <label class="saad-form__label">مخاطب</label>
                            <div class="saad-form__value">
                                <ul style="padding-right: 10px;">
                                    <li ng-repeat="item in Data.selectedNode.letter.deliveryTo"
                                        style="border: 1px outset; border-radius: 4px; padding: 5px; margin-bottom: 2px;">
                                        <div>{{item.title}}</div>
                                        <hr style="border-color: rgb(0, 151, 167); margin: 6px;" ng-show="item.description">
                                        <div ng-show="item.description">{{item.description|EnToFaNumber}}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="saad-form__row">
                            <label class="saad-form__label">ارجاع دهنده</label>
                            <div class="saad-form__value">{{Data.selectedNode.letter.forwarder.title}}</div>
                        </div>
                        <!-- <div class="saad-form__row">
                                                <label class="saad-form__label">زمان اولین مشاهده</label>
                                                <div class="saad-form__value">{{Data.selectedNode.readingDate|tehranDate:'HH:mm:ss jDD-jMMMM-jYYYY'|EnToFaNumber}}</div>
                                            </div>
                                            <div class="saad-form__row">
                                                <label class="saad-form__label">آخرین زمان مشاهده</label>
                                                <div class="saad-form__value">{{Data.selectedNode.lastReadingDate|tehranDate:'HH:mm:ss jDD-jMMMM-jYYYY'|EnToFaNumber}}</div>
                                            </div>
                                            <div class="saad-form__row">
                                                <label class="saad-form__label">تعداد مشاهدات</label>
                                                <div class="saad-form__value">{{Data.selectedNode.readCounter}}</div>
                                            </div> -->
                        <div class="saad-form__row">
                            <label class="saad-form__label">تاریخ رسمی</label>
                            <div class="saad-form__value">{{Data.selectedNode.letter.officialDate|tehranDate:'jDD-jMMMM-jYYYY HH:mm:ss'|EnToFaNumber}}
                            </div>
                        </div>
                        <div class="saad-form__row">
                            <label class="saad-form__label">مهلت پاسخ</label>
                            <div class="saad-form__value">{{Data.selectedNode.letter.requestResponseDate|tehranDate:'jDD-jMMMM-jYYYY'|EnToFaNumber}}
                            </div>
                        </div>
                        <div class="saad-form__row">
                            <label class="saad-form__label">تاریخ پاسخ</label>
                            <div class="saad-form__value">{{Data.selectedNode.respondDate|tehranDate:'jDD-jMMMM-jYYYY'|EnToFaNumber}}</div>
                        </div>
                        <div class="saad-form__row">
                            <label class="saad-form__label">پاسخ ارجاع</label>
                            <div class="saad-form__value">
                                <div class="input-group" ng-show="Data.selectedNode.canRespond">
                                    <input type="text" class="form-control" ng-model="Data.forwardRespond">
                                    <span class="input-group-btn">
                                        <button ng-click="Func.onSendNodeForwardCommentClick()" type="button"
                                            class="btn btn-sm btn-primary pull-right">پاسخ ارجاع</button>
                                    </span>
                                </div>
                                <p class="form-control-static" ng-hide="Data.selectedNode.canRespond">{{Data.selectedNode.respond}}</p>
                            </div>
                        </div>
                        <div class="saad-form__row">
                            <label class="saad-form__label">هامش</label>
                            <div class="saad-form__value">{{Data.selectedNode.letter.hamesh|EnToFaNumber}}</div>
                        </div>
                        <div class="saad-form__row">
                            <label class="saad-form__label">ضمائم</label>
                            <div class="saad-form__value">
                                <div ng-repeat="attachment in Data.selectedNode.letter.forwardAttachments track by $index">
                    
                                    <button style="margin: 1px;" ng-show="attachment.letterBody" class="btn btn-primary "
                                        ng-click="Func.onShowLetterModalClick(attachment.letterBody)">{{attachment.letterBody.title}}</button>
                                    <vt-file ng-show="attachment.fileBody" model="attachment.fileBody" is-edit-mode="false"> </vt-file>
                                </div>
                    
                            </div>
                        </div>
                        <!--
                                            <div class="saad-form__row">
                                                <label class="saad-form__label">زمان اولین مشاهده: </label>
                                                <label class="saad-form__value">{{treeData.item.readingDate|tehranDate:'HH:mm:ss jDD-jMMMM-jYYYY'|EnToFaNumber}}</label>
                                                </div>
                                                <div class="saad-form__row">
                                                <label class="saad-form__label">آخرین زمان مشاهده: </label>
                                                <label class="saad-form__value">{{treeData.item.lastReadingDate|tehranDate:'HH:mm:ss jDD-jMMMM-jYYYY'|EnToFaNumber}}</label>
                                                </div>
                                                <div class="saad-form__row">
                                                <label class="saad-form__label">تعداد مشاهدات: </label>
                                                <label class="saad-form__value">{{treeData.item.readCounter|EnToFaNumber}}</label>
                                                </div>
                    -->
                    </div>
                </div>
            </div>
            
        </div>



        <div class="" ng-show="Data.selectedTab.id == 6">
            <p class="help-block" ng-show="Data.events.length==0">موردی یافت نشد.</p>
            <!-- FIXME Sherwin -->
            <style>
                .align-center th{
                    text-align: center;
                }
            </style>
            <table class="table table-striped  logsTable" ng-show="Data.events.length>0">
                <colgroup>
                    <col class="col-sm-2">
                    <col class="col-sm-1">
                    <col class="col-sm-5">
                    <col class="col-sm-1">
                    <col class="col-sm-2">
                    <col class="col-sm-1">
                </colgroup>
                <thead>
                    <tr class="align-center">
                        <th>کاربر</th>
                        <th>IP</th>
                        <th>اقدام</th>
                        <th>زمان</th>
                        <th >نام و نام خانوادگی</th>
                        <th >لینک به فرآیند</th>
                    </tr>
                </thead>
                <tr ng-repeat="event in Data.events|orderBy: '-date'">
                    <td>{{event.username|EnToFaNumber}}</td>
                    <td>{{event.ip_address|EnToFaNumber}}</td>
                    <td tooltip-append-to-body="true" tooltip-trigger="mouseenter" tooltip-placement="down"
                    tooltip-popup-delay="500" tooltip="{{event.details|EnToFaNumber}}">{{event.details|EnToFaNumber}}</td>
                    <td>{{event.date|tehranDate:'jDD-jMMMM-jYYYY'|EnToFaNumber}}</td>
                    <td ng-click="Func.onShowFullnameClick(event)" style="cursor: pointer;overflow: visible;">
                        <div style="position: relative;">
                            <i class="glyphicon glyphicon-user"></i>
                            <div class="customTooltip" ng-show="event.showTooltip">{{event.tooltipContent}}</div>
                        </div>
                    </td>
                    <td style="cursor: pointer;">
                        <a ng-show="event.showProcessLink" ui-sref="Func.getStateName('base.home.process.processInstanceInfo({uid: event.processUid})')">
                            <i class="fa fa-external-link" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            </table>
        </div>

        <div class="" ng-show="Data.selectedTab.id == 7">
            <div ng-if="Data.letterFeatures['send']">
                <div class="saad-form">
                    <div class="saad-form__row">
                        <label class="saad-form__label">نحوه ارسال</label>
                        <div class="saad-form__value">
                            <select class="form-control" ng-model="Data.letter.type" name="receivingStyle">
                                <!--<option value="Post">پست</option>-->
                                <!--<option value="Fax">فکس</option>-->
                                <!--<option value="Courier">پیک</option>-->
                                <option value="Org">بین سازمان</option>
                                <!--<option value="Ece">ECEP</option>-->
                            </select>
                        </div>
                    </div>
                    <div class="saad-form__row" ng-if="Data.letter.type == 'Courier'">
                        <label class="saad-form__label">نام پیک</label>
                        <div class="saad-form__value">
                            <input type="text" class="form-control" ng-model="Data.letter.courierName">
                        </div>
                    </div>
                    <div class="saad-form__row" ng-if="Data.letter.type == 'Fax'">
                        <!--<label class="saad-form__label">انتخاب سازمان</label>
                        <div class="col-sm-4">
                            <select class="form-control" ng-model="Data.letter.organization" name="receivingStyle">
                                <option value="Post">پست</option>
                                <option value="Fax">فکس</option>
                                <option value="Courier">پیک</option>
                            </select>
                        </div>-->
                        <label class="saad-form__label">شماره فکس</label>
                        <div class="saad-form__value">
                            <input type="text" class="form-control" ng-model="Data.letter.faxNumber">
                        </div>
                    </div>
                    <div class="saad-form__row" ng-if="Data.letter.type == 'Org'">
                        <label class="saad-form__label">انتخاب سازمان</label>
                        <div class="saad-form__value">
                            <select class="form-control"
                                    ng-model="Data.organization"
                                    name="organization"
                                    ng-change="Func.onOrganiztionChange(Data.organization)"
                                    ng-options="organization as organization.title for organization in Data.organizationList">
                            </select>
                        </div>
                        <label class="saad-form__label">انتخاب سمت</label>
                        <div class="saad-form__value">
                            <ui-select ng-model="Data.letter.reciverPostionUserAssignment">
                                <ui-select-match>
                                    <span ng-bind="$select.selected.title"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item in (Data.members | filter: $select.search) track by $index">
                                    <span ng-bind="item.title"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="saad-form__row" ng-if="Data.letter.type == 'Post'">
                        <label class="saad-form__label">کد مرسوله</label>
                        <div class="saad-form__value">
                            <input type="text" class="form-control" ng-model="Data.letter.boxNumber">
                        </div>
                        <label class="saad-form__label">کد پستی</label>
                        <div class="saad-form__value">
                            <input type="text" class="form-control" ng-model="Data.letter.postalCode">
                        </div>
                    </div>
                    <div class="saad-form__row" ng-if="Data.letter.type == 'Ece'">
                        <label class="saad-form__label"></label>
                        <div class="col-sm-4">
                            <button class="btn btn-primary" type="button" ng-click="Func.onLetterDownloadClick()">دریافت نامه</button>
                        </div>
                    </div>
                    <div class="saad-form__row">
                        <label class="saad-form__label">توضیحات</label>
                        <div class="col-sm-8">
                        <textarea type="text" class="form-control" name="description" rows="4"
                                    ng-model="Data.letter.description"></textarea>
                        </div>
                    </div>
                    <div class="saad-form__row">
                        <button class="btn btn-primary pull-left"
                        type="button"
                        ng-click="Func.onSaveClick()" ng-disabled="Data.isLoadingSaveClick">ثبت ارسال</button>
                    </div>
                </div>
                
                <hr>
            </div>
            <div class="">
                <h4> آرشیو ارسال </h4>
                <div ng-repeat="deliveryTo in Data.letter.deliveryTo" ng-show="deliveryTo.dispatches.length" class="description-attachment col-sm-offset-1 col-sm-9 archive-history">
                    <div ng-repeat="archive in deliveryTo.dispatches">
                        <div class="col-sm-6" ng-if="archive.sendingOperator.title">
                            <label>فرستنده</label>
                            <span>{{archive.sendingOperator.title}}</span>
                        </div>
                        <div class="col-sm-6" ng-if="archive.sendDate">
                            <label>تاریخ</label>
                            <span>{{archive.sendDate|tehranDate:'jDD-jMMMM-jYYYY '|EnToFaNumber}}</span>
                        </div>
                        <div class="col-sm-6" ng-if="archive.type">
                            <label>نحوه ارسال</label>
                            <span>{{archive.type|appEnum}}</span>
                        </div>
                        <div class="col-sm-6" ng-if="archive.destOrganization">
                            <label>سازمان</label>
                            <span>{{archive.destOrganization.title}}</span>
                        </div>
                        <div class="col-sm-6" ng-if="archive.faxNumber">
                            <label>شماره فکس</label>
                            <span>{{archive.faxNumber|EnToFaNumber}}</span>
                        </div>
                        <div class="" ng-if="archive.description">
                            <label>توضیحات</label>
                            <span>{{archive.description}}</span>
                        </div>
                        <div class="" ng-if="archive.returnDate">
                            <label>تاریخ بازگشت</label>
                            <span>{{archive.returnDate|tehranDate:'jDD-jMMMM-jYYYY'|EnToFaNumber}}</span>
                        </div>
                        <div class="" ng-if="archive.returnDescription">
                            <label>توضیحات بازگشت</label>
                            <span>{{archive.returnDescription}}</span>
                        </div>
                        <div class="" ng-if="archive.destEceExternalOrganization">
                            <label>سازمان مقصد</label>
                            <span>{{archive.destEceExternalOrganization.title}}</span>
                        </div>
                        <div class="" ng-if="archive.eceEmail">
                            <label>ایمیل مقصد</label>
                            <span>{{archive.eceEmail}}</span>
                        </div>
                        <div class="" ng-if="archive.destEceExternalOrganization">
                            <label>سازمان مقصد</label>
                            <span>{{archive.destEceExternalOrganization.title}}</span>
                        </div>
                        <div class="" ng-if="archive.eceEmail">
                            <label>ایمیل مقصد</label>
                            <span>{{archive.eceEmail}}</span>
                        </div>
                        <hr>
                    </div>
                </div>

                <div ng-repeat="deliveryCc in Data.letter.deliveryCc" ng-show="deliveryCc.dispatches.length" class="description-attachment col-sm-offset-1 col-sm-9 archive-history">
                    <div ng-repeat="archive in deliveryCc.dispatches">
                        <div class="col-sm-6" ng-if="archive.sendingOperator.title">
                            <label>فرستنده</label>
                            <span>{{archive.sendingOperator.title}}</span>
                        </div>
                        <div class="col-sm-6" ng-if="archive.sendDate">
                            <label>تاریخ</label>
                            <span>{{archive.sendDate|tehranDate:'jDD-jMMMM-jYYYY'|EnToFaNumber}}</span>
                        </div>
                        <div class="col-sm-6" ng-if="archive.type">
                            <label>نحوه ارسال</label>
                            <span>{{archive.type|appEnum}}</span>
                        </div>
                        <div class="col-sm-6" ng-if="archive.destOrganization">
                            <label>سازمان</label>
                            <span>{{archive.destOrganization.title}}</span>
                        </div>
                        <div class="col-sm-6" ng-if="archive.faxNumber">
                            <label>شماره فکس</label>
                            <span>{{archive.faxNumber|EnToFaNumber}}</span>
                        </div>
                        <div class="" ng-if="archive.description">
                            <label>توضیحات</label>
                            <span>{{archive.description}}</span>
                        </div>
                        <div class="" ng-if="archive.returnDate">
                            <label>تاریخ بازگشت</label>
                            <span>{{archive.returnDate|tehranDate:'jDD-jMMMM-jYYYY'|EnToFaNumber}}</span>
                        </div>
                        <div class="" ng-if="archive.returnDescription">
                            <label>توضیحات بازگشت</label>
                            <span>{{archive.returnDescription}}</span>
                        </div>
                    </div>
                </div>

                <div ng-repeat="deliveryBcc in Data.letter.deliveryBcc" ng-show="deliveryBcc.dispatches.length" class="description-attachment col-sm-offset-1 col-sm-9 archive-history">
                    <div ng-repeat="archive in deliveryBcc.dispatches">
                        <div class="col-sm-6" ng-if="archive.sendingOperator.title">
                            <label>فرستنده</label>
                            <span>{{archive.sendingOperator.title}}</span>
                        </div>
                        <div class="col-sm-6" ng-if="archive.sendDate">
                            <label>تاریخ</label>
                            <span>{{archive.sendDate|tehranDate:'jDD-jMMMM-jYYYY'|EnToFaNumber}}</span>
                        </div>
                        <div class="col-sm-6" ng-if="archive.type">
                            <label>نحوه ارسال</label>
                            <span>{{archive.type|appEnum}}</span>
                        </div>
                        <div class="col-sm-6" ng-if="archive.destOrganization">
                            <label>سازمان</label>
                            <span>{{archive.destOrganization.title}}</span>
                        </div>
                        <div class="col-sm-6" ng-if="archive.faxNumber">
                            <label>شماره فکس</label>
                            <span>{{archive.faxNumber|EnToFaNumber}}</span>
                        </div>
                        <div class="" ng-if="archive.description">
                            <label>توضیحات</label>
                            <span>{{archive.description|EnToFaNumber}}</span>
                        </div>
                        <div class="" ng-if="archive.returnDate">
                            <label>تاریخ بازگشت</label>
                            <span>{{archive.returnDate|tehranDate:'jDD-jMMMM-jYYYY'|EnToFaNumber}}</span>
                        </div>
                        <div class="" ng-if="archive.returnDescription">
                            <label>توضیحات بازگشت</label>
                            <span>{{archive.returnDescription}}</span>
                        </div>
                        <div class="" ng-if="archive.destEceExternalOrganization">
                            <label>سازمان مقصد</label>
                            <span>{{archive.destEceExternalOrganization.title}}</span>
                        </div>
                        <div class="" ng-if="archive.eceEmail">
                            <label>ایمیل مقصد</label>
                            <span>{{archive.eceEmail}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="" ng-show="Data.selectedTab.id == 8">
            <div class="saad-form__row">
                <div class="col-sm-8">
                    <vt-archived-letter-list api="Controller.archivedLetterListApi"></vt-archived-letter-list>
                </div>
                <div ng-if="Data.hasExternalArchives && Data.letterFeatures['archive']" class="col-sm-4">
                    <div class="saad-form__row">
                        <label class="" style="text-align: right;">بایگانی نامه</label>
                    </div>
                    <div class="saad-form__row">
                        <div class="col-sm-offset-1 col-sm-11">
                            <ng-form name="Data.vtFolderSelectorForm">
                                <vt-folder-selector model="Data.selectedFolder" has-upload="true"
                                                    is-edit-mode="true" form-name="Data.vtFolderSelectorForm"
                                                    upload-fn="Func.onFolderUploadFn()" modernization-code-placement="'right'"></vt-folder-selector>
                            </ng-form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
