<style>
	.slideTheme {
    min-height: 25px;
    max-width: 100%;
}
</style>
<div class="col-sm-12">
	<div class="panel panel-default panel-page-header">
		<div class="panel-body">مدیریت قالب نامه وارده</div>
	</div>
</div>
<div class="col-md-8" access-checkerr="API_LIST_LETTER_TEMPLATE">
	<div class="panel panel-default">
		<div class="panel-body">
			<vt-search control-fn="Controller.incomingLettertemplateSearchController"></vt-search>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<vt-grid control-fn="Controller.incomingLettertemplateListController"></vt-grid>
		</div>
	</div>
</div>

<div class="col-md-4" access-checkerr="API_VIEW_LETTER_TEMPLATE" 
	ng-hide="Data.searchMode=='advanced'">
	<div class="panel panel-default">
		<div class="panel-body panel-management">
			<div class="col-sm-12">
				<!-- <a class="btn btn-sm btn-default btn-text"
					access-checkerr="API_ADD_LETTER_TEMPLATE"
					ng-show="true" type="button"
					ng-click="Func.onAddincomingLettertemplateClick()" ng-disabled="Data.mode=='add'" ng-bind="'CREATE'|EnToFaButton"></a> -->
				<a class="btn btn-sm btn-primary btn-text"
					access-checkerr="API_EDIT_LETTER_TEMPLATE"
					ng-show="Data.selectedincomingLettertemplate.uid && Data.mode=='view'" type="button"
					ng-click="Func.onEditincomingLettertemplateClick()" ng-disabled="" ng-bind="'EDIT'|EnToFaButton"></a>
				<a class="btn btn-sm btn-success btn-text"
					access-checkerr="API_ADD_LETTER_TEMPLATE"
					ng-show="Data.mode=='add'" type="button"
					ng-click="Func.onSaveincomingLettertemplateClick()" ng-bind="'SAVE'|EnToFaButton"
					ng-disabled="incomingLettertemplateForm.$invalid && Data.validationClicked"></a>
				<a class="btn btn-sm btn-success btn-text"
					access-checkerr="API_EDIT_LETTER_TEMPLATE"
					ng-show="Data.mode=='edit'" type="button"
					ng-click="Func.onUpdateincomingLettertemplateClick()" ng-bind="'UPDATE'|EnToFaButton"
					ng-disabled="incomingLettertemplateForm.$invalid && Data.validationClicked"></a>
				<a class="btn btn-sm btn-warning btn-text"
					ng-show="Data.mode=='edit' || Data.mode=='add'" type="button"
					ng-click="Func.onCancelClick()" ng-disabled="" ng-bind="'CANCEL'|EnToFaButton"></a>
				<a class="btn btn-sm btn-danger btn-text"
					access-checkerr="API_DELETE_LETTER_TEMPLATE"
					ng-show="Data.selectedincomingLettertemplate.uid && Data.mode=='view'" type="button"
					ng-click="Func.onDeleteincomingLettertemplateClick()" ng-disabled="" ng-bind="'DELETE'|EnToFaButton"></a>
				<a class="btn btn-sm btn-default pull-left"
					ng-show="true" type="button"
					ng-click="Func.onChangeSearchModeClick('advanced')">
					<span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
				</a>
			</div>
		</div>
	</div>
	<div class="panel panel-default" ng-show="Data.selectedincomingLettertemplate.uid || Data.mode=='add'">
		<div class="panel-body">
			<form name="incomingLettertemplateForm" role="form" novalidate>
				<div class="row rowForm" ng-class="{'has-error':incomingLettertemplateForm.name.$invalid && Data.validationClicked}">
					<label class="col-sm-5" ng-class="{'required':Data.mode!='view'}">نام</label>
					<div ng-show="Data.mode=='view'" class="col-sm-7">
				{{Data.selectedincomingLettertemplate.name|EnToFaNumber}}
					</div>
					<div ng-show="Data.mode!='view'" class="col-sm-7">
						<input type="text" class="form-control" name="name" required
							ng-model="Data.selectedincomingLettertemplate.name">
					
					</div>
				</div>
				<div class="row rowForm" ng-class="{'has-error':templateForm.icon.$invalid && Data.validationClicked}">
					<label class="col-sm-5">آیکون قالب</label>
					<div ng-show="Data.mode=='view'" class="col-sm-7">
						<img class="slideTheme" src="files/?mode=view&fcode={{Data.selectedincomingLettertemplate.thumnail.hash}}">
					</div>
					<div ng-show="Data.mode!='view'" class="col-sm-7">
						<vt-photo ng-model="Data.selectedincomingLettertemplate.thumnail" ratio="1" style=" bottom: 10px;"
							is-edit-mode="Data.mode!='view'" no-title-description="true">
						</vt-photo>
				
					</div>
				</div>
				<div class="row rowForm">
					<label class="col-sm-5">فعال</label>
					<div ng-show="Data.mode=='view'" class="col-sm-7">
				{{Data.selectedincomingLettertemplate.enabled|checkmark}}
					</div>
					<div ng-show="Data.mode!='view'" class="col-sm-7">
						<input type="checkbox" class="" name="enabled" 
							ng-model="Data.selectedincomingLettertemplate.enabled">
					</div>
				</div>	
			</form>
		</div>
	</div>
</div>
<div class="col-md-4" access-checkerr="API_VIEW_LETTER_TEMPLATE" ng-show="Data.searchMode=='advanced'">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="col-sm-12">
				<vt-search control-fn="Controller.incomingLettertemplateAdvancedSearchController"></vt-search>
			</div>
		</div>
	</div>
</div>


