  <accordion class="page-menu" ng-hide="Data.sysadminMenuListNotShowCount == Data.sysadminMenuList.length">
    <accordion-group ng-if="!sysadminMenuItem.isNotShow" 
         ng-repeat="sysadminMenuItem in Data.sysadminMenuList" class=""
         is-open="sysadminMenuItem.open">
      <accordion-heading>
        

        <div class="tw-flex">

          <div class="menu-toggle-icon" ng-include="'kateb-icon-caret-left.svg'" ng-show="sysadminMenuItem.items.length > 0 && !sysadminMenuItem.open">
          </div>
          <div class="menu-toggle-icon" ng-include="'kateb-icon-caret-down.svg'" ng-show="sysadminMenuItem.items.length > 0 && sysadminMenuItem.open">
          </div>
  
          <span>
            <i class="flaticon-{{sysadminMenuItem.icon}} management-icon"></i>
            {{sysadminMenuItem.title}}
          </span>
  
        </div>


      

      </accordion-heading>
      <div ng-repeat="item in sysadminMenuItem.items" ui-sref-active="activeTab" style="display: block;"
           access-checker="{{item.feature}}"
           ng-if="sysadminMenuItem.items.length > 0" ng-class="{'disable-element': item.uiSref=='#'}">

        <a class="page-menu__menu-item-cnt" ui-sref="{{item.uiSref}}({orgUid: Data.selectedMenu.uid})"
        ng-click="onMenuItemClick()">
          <h6 class="page-menu__menu-item-text">{{item.title}}</h6>
        </a>


      </div>
    </accordion-group>
  </accordion>
  <div ng-show="Data.isMultipleMenu" access-checker="API_LIST_ORGANIZATION">
    <ui-select ng-model="Data.selectedMenu"  on-select="Func.onSelectOraganizationSelect($item)">
      <ui-select-match class="ui-select-match" placeholder="جستجو ...">{{$select.selected.title}}</ui-select-match>
      <ui-select-choices repeat="organization in Data.organizationList | filter: $select.search">
        <div>{{organization.title}}</div>
      </ui-select-choices>
    </ui-select>
  </div>
  <h4 ng-show="!Data.isMultipleMenu" class="text-info">{{Data.selectedMenu.title}}</h4>
  <accordion class="page-menu">
    <div ng-if="!menuItem.isNotShow" accordion-group class=""
         ng-repeat="menuItem in Data.menuList"
         is-open="menuItem.open">
      <accordion-heading>
        




        <div class="tw-flex">

          <div class="menu-toggle-icon" ng-include="'kateb-icon-caret-left.svg'" ng-show="menuItem.items.length > 0 && !menuItem.open">
          </div>
          <div class="menu-toggle-icon" ng-include="'kateb-icon-caret-down.svg'" ng-show="menuItem.items.length > 0 && menuItem.open">
          </div>
  
          <span>
            <i class="flaticon-{{menuItem.icon}} management-icon"></i>
            {{menuItem.title}}
          </span>
  
        </div>

       
      </accordion-heading>
      <div ng-repeat="item in menuItem.items" ui-sref-active="activeTab" style="display: block;"
           access-checker="{{item.feature}}"
           ng-if="menuItem.items.length > 0" ng-class="{'disable-element': item.uiSref=='#'}">

        <a class="page-menu__menu-item-cnt" ui-sref="{{item.uiSref}}({orgUid: Data.selectedMenu.uid})"
        ng-click="onMenuItemClick()">>
          <h6 class="page-menu__menu-item-text">{{item.title}}</h6>
        </a>

      </div>
    </div>
  </accordion>
