


.relatedLetterLable {
    color: #0097a7;
    font-weight: bold;
}
.read-letter{
    background-color: #fff !important;
    font-weight: bold !important;
}
.print-tree.tree ul {
    padding-right: 20px;
}

/*@media print {*/
    .letter-image {
        page-break-inside: avoid;
    }
/*}*/

.receiver{
    display: flex;
    flex-wrap: wrap;
}
.receiver > .label-default{
    flex-grow: 1;
}
