
<script type="text/ng-template" id="task-list-send-action-button">
    <span class="send-action-button" 
        access-checker="{{Data.actionButtonsMap['task-list-send-action-button'].access_checker}}" 
        ng-show="Data.actionButtonsMap['task-list-send-action-button'].isVisible()"
        ng-click="Data.actionButtonsMap['task-list-send-action-button'].click()">
        
        <button class="btn btn-primary single-button action-btn-widget">
            <i class="flaticon-interface-2"></i>
            ارسال
        </button>
        

        <div class="action-btn-widget action-btn-widget--icon acction-icon" ng-include="'kateb-icon-paper-plane.svg'"></div>

        <div class="action-btn-widget action-btn-widget--text" >ارسال</div>


    </span>
</script>
<script type="text/ng-template" id="task-list-label-action-button">
    <span ng-show="Data.actionButtonsMap['task-list-label-action-button'].isVisible()"
        >
        
        <tag-input
                external-data="Data.checkedItemList"
                >
        </tag-input>
        

    </span>
</script>
<script type="text/ng-template" id="task-list-archive-action-button">
    <span ng-show="Data.actionButtonsMap['task-list-archive-action-button'].isVisible()"
        >
        
        <internal-archive-action-btn style="vertical-align: super;"
                              uid-list="Data.checkedItemEntityUIdLis"
                              cb="Func.onArchiveCb">
        </internal-archive-action-btn>
        

    </span>
</script>

<script type="text/ng-template" id="task-list-forward-action-button">
    <span ng-click="Data.actionButtonsMap['task-list-forward-action-button'].click()"
    ng-show="Data.actionButtonsMap['task-list-forward-action-button'].isVisible()"
    >
        
        <button class="action-btn-widget btn btn-primary single-button ">
            <i class="flaticon-arrows-1"></i>
        ارجاع
        </button>
        
        <div class="action-btn-widget action-btn-widget--icon action-icon  " ng-include="'kateb-icon-reply'"></div>

        <div class="action-btn-widget action-btn-widget--text" >ارجاع</div>



    </span>
</script>


<script type="text/ng-template" id="task-list-personal-archive-action-button">
    <span access-checker="{{Data.actionButtonsMap['task-list-personal-archive-action-button'].access_checker}}"  
        ng-show="Data.actionButtonsMap['task-list-personal-archive-action-button'].isVisible()"

        ng-click="Data.actionButtonsMap['task-list-personal-archive-action-button'].click()">
        
        <button  class="action-btn-widget btn btn-primary single-button ">
        انتقال به آرشیو شخصی
        </button>

        
        <div class="action-btn-widget action-btn-widget--text" >انتقال به آرشیو شخصی</div>

        

    </span>
</script>


<script type="text/ng-template" id="task-list-remove-from-persoanl-archive-action-button">
    <span ng-click="Data.actionButtonsMap['task-list-remove-from-persoanl-archive-action-button'].click()"
    ng-show="Data.actionButtonsMap['task-list-remove-from-persoanl-archive-action-button'].isVisible()">
        
        <button  class="action-btn-widget btn btn-primary single-button " >
            بازگرداندن از آرشیو شخصی
        </button>
        
        <div class="action-btn-widget action-btn-widget--text">بازگرداندن از آرشیو شخصی </div>

        

    </span>
</script>



<script type="text/ng-template" id="task-list-follow-unfollow-action-button">
    <span  ng-show="Data.actionButtonsMap['task-list-follow-unfollow-action-button'].isVisible()"
        >
        
        <label class="action-btn-widget dropdown">

            
            <button class="btn btn-primary single-button dropdown-toggle " type="button"
                    id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                نیاز به پیگیری
                <span class="caret"></span>
            </button>

            <div class="action-icon dropdown-toggle " ng-include="'kateb-icon-level-up-alt.svg'"
             id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"></div>

            



             <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li ng-click="Func.onFollowClick()"><a>پیگیری</a></li>
                <li><a ng-click="Func.onUnfollowClick()">عدم پیگیری</a></li>
            </ul>
        </label>

        
        

    </span>
</script>

<script type="text/ng-template" id="task-list-follow-action-button">
    <span ng-click="Data.actionButtonsMap['task-list-follow-action-button'].click()"
      ng-show="Data.actionButtonsMap['task-list-follow-action-button'].isVisible()"
        >
        <div class="action-btn-widget action-btn-widget--text" >نیاز به پیگیری</div>
    </span>
</script>

<script type="text/ng-template" id="task-list-unfollow-action-button">
    <span ng-click="Data.actionButtonsMap['task-list-unfollow-action-button'].click()"
      ng-show="Data.actionButtonsMap['task-list-unfollow-action-button'].isVisible()"
        >
        <div class="action-btn-widget action-btn-widget--text" >عدم پیگیری</div>
    </span>
</script>


<script type="text/ng-template" id="task-list-read-action-button">
    <span ng-click="Data.actionButtonsMap['task-list-read-action-button'].click()"
    ng-show="Data.actionButtonsMap['task-list-read-action-button'].isVisible()">
        
        <button class="action-btn-widget btn btn-primary " >خوانده شده</button>
         
        <div class="action-btn-widget action-btn-widget--text">خوانده شده </div>

        

    </span>
</script>

<script type="text/ng-template" id="task-list-unread-action-button">
    <span ng-click="Data.actionButtonsMap['task-list-unread-action-button'].click()"
        ng-show="Data.actionButtonsMap['task-list-unread-action-button'].isVisible()">

        
       <button class="action-btn-widget btn btn-warning " >خوانده نشده</button>
        
       <div class="action-btn-widget action-btn-widget--text">خوانده نشده </div>

    </span>
</script>


<div class="mobile-action-bar hidden-md tw-flex  tw-items-center" >

    <span class="tw-mr-auto">
        <more-btn-bottom-sheet-opener
            ng-show="Data.checkedItemList.length>0"
            menu-item-tpls="[
            'task-list-remove-from-persoanl-archive-action-button',
            'task-list-label-action-button',
            'task-list-archive-action-button',
            'task-list-forward-action-button',
            'task-list-personal-archive-action-button',
            'task-list-follow-action-button',
            'task-list-unfollow-action-button',
            'task-list-send-action-button',
            'task-list-read-action-button',
            'task-list-unread-action-button'
            ]" 
            action-buttons-map="Data.actionButtonsMap"
        ></more-btn-bottom-sheet-opener>
    </span>

</div>



<div class="well well-sm action-bar hidden-xs" style="background: #fff">

    <span ng-include="'task-list-remove-from-persoanl-archive-action-button'"></span>
    <span ng-include="'task-list-label-action-button'"></span>
    <span ng-include="'task-list-archive-action-button'"></span>
    <span ng-include="'task-list-forward-action-button'"></span>
    <span ng-include="'task-list-personal-archive-action-button'"></span>
    <span ng-include="'task-list-follow-unfollow-action-button'"></span>
    <span ng-include="'task-list-send-action-button'"></span>
    <span ng-include="'task-list-read-action-button'"></span>
    <span ng-include="'task-list-unread-action-button'"></span>
</div>



<div class="main-content">

    <!-- FIXME: refactor  route-state-name (it's not needed that directive be aware about state) -->
    <cartable-list directive-is-ready="Func.listDirectiveIsReady()"
                   process-task-fn="Func.onProcessTaskClick(task, cartable)"
                   api="Controller.api" 
                   options="Controller.options" 
                   subscribe-for="selectedCartableFilterChanged"
                   >
    </cartable-list>

</div>
