


<single-select-dropdown ng-if="!widget || widget==='dropdown'"  
	model="model" 
	options="options"
	is-edit-mode="isEditMode"
	app-enum-key="{{appEnumKey}}"
	title-prop-key="{{titlePropKey}}"
	on-refresh="Func.onRefresh($query)"
	on-select="Func.onSelect($item, $model)"
	on-remove="Func.onRemove()"
	filter-fn="Func.filterList($query,$appEnumKey)"
	is-tagging="isTagging"
	>
</single-select-dropdown>
<single-select-bottom-sheet-opener ng-if="widget==='bottomSheetOpener'"
	model="model" 
	options="options"
	is-edit-mode="isEditMode"
	app-enum-key="{{appEnumKey}}"
	title-prop-key="{{titlePropKey}}"
	on-refresh="Func.onRefresh($query)"
	on-select="Func.onSelect($item, $model)"
	on-remove="Func.onRemove()"
	filter-fn="Func.filterList($query,$appEnumKey)"
	is-tagging="isTagging"
	>
</single-select-bottom-sheet-opener>


<single-select-list ng-if="widget==='list'"  
	model="model" 
	options="options"
	is-edit-mode="isEditMode"
	app-enum-key="{{appEnumKey}}"
	title-prop-key="{{titlePropKey}}"
	on-refresh="Func.onRefresh($query)"
	on-select="Func.onSelect($item, $model)"
	on-remove="Func.onRemove()"
	filter-fn="Func.filterList($query,$appEnumKey)"
	is-tagging="isTagging"
	class="tw-h-full tw-flex tw-flex-col"
	>
</single-select-list>  

<div ng-show="!isEditMode" >{{appEnumKey?(model | appEnum:appEnumKey): model[titlePropKey] || model.title || model}}</div>